
<mat-tab-group
    *ngIf="(asiTableFilterSelection$ | async).selection as selection"
    [selectedIndex]="(asiTableFilterSelected$ | async)?.selected?.indexTabBankAgency"
    (selectedTabChange)="onTabChanged($event)"
    fullwidth
>
    <mat-tab *ngFor="let bankAgency of selection.bankAgencies;index as i" [label]="bankAgency.label">
      <ng-template mat-tab-label>
          <img class="img-32" [src]="bankAgency.bankFamily.url" [alt]="bankAgency.label">
          {{bankAgency.bankSubFamily.label}}
      </ng-template>

      <asi-table *ngIf="(asiTableFilterSelected$ | async)?.selected?.indexTabBankAgency == i"></asi-table>
    </mat-tab>
</mat-tab-group>
    
<p class="empty-result" *ngIf="
    (asiTableFilterSelection$ | async)?.loader['filters']?.loaded 
    && (asiTableFilterSelection$ | async)?.selection?.bankAgencies.length==0">
    Aucun résultat
</p>



