<div id="products" class="page-layout carded fullwidth inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
      <div class="center">

          <!-- HEADER -->
          <div class="header accent"
              fxLayout="column" fxLayoutAlign="center center"
              fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
              
              <div class="toolbar w-100-p" fxFlex fxLayout="row" fxLayoutAlign="space-between start">
              
                  <div class="left-side" fxLayout="row">

                      <div class="logo my-12 m-sm-0"
                          fxLayout="row" fxLayoutAlign="start center">
                          <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">history</mat-icon>
                          <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Historique des imports de relevés bancaires</span>
                      </div>
                  </div>

                  <div fxLayout="row">
                      <div *ngIf="areaImport?.historicView" class="logo mt-16 m-sm-0"
                          fxLayout="row" fxLayoutAlign="start center">
                          <asi-upload [user]="user" 
                            (fileError)="getFileError($event)" 
                            (fileSuccess)="getFileSuccess($event)" 
                            (fileInProgress)="getFileInProgress($event)" 
                            (uploadResponse)="getUploadResponse($event)">
                        </asi-upload>
                      </div>
                      
                  </div>

              </div>

          </div>
          
          <!-- / HEADER -->
          <div class="content-card">

            <!-- <selected-bar class="mat-accent-600-bg" *ngIf="hasSelectedRows" [@slideInTop]></selected-bar> -->
            
            <div class="content-card white" fxFlexFill *ngIf="fileInProgress" fxLayout="column" fxLayoutAlign="center center">
                <mat-spinner diameter="40" color="accent" fxLayout="row"></mat-spinner>
                <div fxLayout="row">chargement...</div>
            </div>

            <div class="content-card white" *ngIf="(!fileInProgress && !fileError && !fileSuccess)">
                <asi-filter fusePerfectScrollbar></asi-filter>
            </div>
              
          </div>
      </div>
      <!-- / CENTER -->
  </div>