<div id="product" class="page-layout carded fullwidth" fusePerfectScrollbar>

  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
    
        <div *ngIf='accountForm'>
            <!-- HEADER -->
            <div class="header white-fg" fxLayout="row" fxLayoutAlign="space-between center">

                <!-- APP TITLE -->
                <div fxLayout="row" fxLayoutAlign="start center">

                    <button class="mr-0 mr-sm-16" mat-icon-button
                        [routerLink]="'/apps/referential/accounts'"
                        >
                        <mat-icon>arrow_back</mat-icon>
                    </button>

                    <div class="product-image mr-8 mr-sm-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                        <mat-icon>account_balance</mat-icon>  
                        <!-- <img *ngIf="user.avatarUrl" [src]="user.avatarUrl">
                        <img *ngIf="!user.avatarUrl" [src]="'assets/images/avatars/profile.jpg'"> -->
                    </div>

                    <div fxLayout="column" fxLayoutAlign="start start"
                        *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                        <div class="h2" *ngIf="pageType ==='edit'">
                            {{account.number}}  {{account.label}}
                        </div>
                        <div class="h2" *ngIf="pageType ==='new'">
                            Nouveau compte
                        </div>
                        <div class="subtitle secondary-text">
                            <span>Details compte bancaire</span>
                        </div>
                    </div>
                </div>

                <button mat-raised-button
                        class="save-product-button mat-white-bg mt-16 mt-sm-0"
                        [disabled]="accountForm.invalid"
                        *ngIf="pageType ==='new'" (click)="create(accountForm)">
                    <span>AJOUTER</span>
                </button>

                <button mat-raised-button
                        class="save-product-button mat-white-bg mt-16 mt-sm-0"
                        [disabled]="accountForm.invalid || accountForm.pristine"
                        *ngIf="pageType ==='edit'" (click)="update(accountForm)">
                    <span>SAUVEGARDER</span>
                </button>
            </div>
            <!-- / HEADER -->

      <!-- CONTENT CARD -->
      <div class="content-card mat-white-bg">

          <!-- CONTENT -->
          <div class="content">
              <form name="accountForm" [formGroup]="accountForm" class="product w-100-p" fxLayout="column" fxFlex>
                    <mat-tab-group>

                      <mat-tab label="Informations">
                          <div class="tab-content p-24" fusePerfectScrollbar>
                            
                            <mat-form-field class="w-100-p" >
                                <mat-select formControlName="bankAgency" placeholder="Banque" [compareWith]="compareObjects" >
                                    <mat-option *ngFor="let item of bankAgencies" [value]="item">
                                        {{ item.label }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field class="w-100-p" >
                                <mat-select formControlName="accountType" placeholder="Type de compte" [compareWith]="compareObjects" >
                                    <mat-option *ngFor="let item of accountTypes" [value]="item">
                                        {{ item.label }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <div fxLayout="row" fxLayoutAlign="start start">
                                <!-- <mat-icon class="mr-12 mt-12">account_circle</mat-icon> -->
                                <mat-form-field class="w-100-p">
                                    <input matInput
                                        name="label"
                                        formControlName="label"
                                        placeholder="Nom"
                                    >
                                </mat-form-field>
                            </div>

                            <div fxLayout="row" fxLayoutAlign="start start">
                                <!-- <mat-icon class="mr-12 mt-12">account_circle</mat-icon> -->
                                <mat-form-field class="w-100-p">
                                    <input matInput
                                        name="number"
                                        formControlName="number"
                                        placeholder="Numéro de compte"
                                    >
                                </mat-form-field>
                            </div>
                            <!-- <mat-divider></mat-divider> -->
                            
                            <div fxLayout="row" fxLayoutAlign="start start">
                                <mat-form-field class="w-100-p">
                                    <input matInput
                                        type="number"
                                        name="startAmount"
                                        formControlName="startAmount"
                                        placeholder="Montant de départ"
                                    >
                                </mat-form-field>

                                <mat-form-field class="w-100-p">
                                    <input matInput
                                        type="number"
                                        name="alertThreshold"
                                        formControlName="alertThreshold"
                                        placeholder="Seuil d'alerte"
                                    >
                                </mat-form-field>
                            </div>
                            
                            <!-- <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                                
                            </div> -->

                          </div>
                      </mat-tab>
                  </mat-tab-group>
              </form>

          </div>
      </div>

        </div>
    </div>
</div>