  .content-card {
    min-height:100%;
    max-height:100%;
  }

  .inherit-height {
    min-height:inherit;
    max-height:inherit;
  }

  mat-table {
    min-height:inherit;
    max-height:inherit;

    mat-row {
      min-height: 36px;
      max-height: 36px;
      cursor: pointer;
      &:hover {
        background-color: rgba(3, 155, 229, 0.3);
      }
      .mat-cell, .mat-footer-cell {
        font-size: 13px;
      }
    }
  }

  


  
  mat-cell,
  mat-footer-cell,
  mat-header-cell {
    flex: none;

    span.filtre-bouton {
      display: inline-block;
      position: absolute;
      right: 5px;
    }
  }
    
  .mat-table mat-header-cell {
    // background-color: #E0E0E0;
    padding:5px;
  }
  


// .mat-paginator-container {
//   min-height: 35px !important;
//   max-height: 35px !important;
// }

.empty-result {
  text-align:center;
  color:#4285F3;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  color:white;
  padding-top:5px;
}

.mini-select {
  font-size:12px;
  min-width: 30px;
  max-width: 30px;
  padding:0px;
}

.text-truncate {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// .avatar {
//   height:16px;
//   width:16px;
// }