  mat-table {
    // display: flex;
    // flex-direction: column;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    max-height:calc(100% - 50px) !important;
    min-height:calc(100% - 50px) !important;
    width: 100% !important;

    mat-row {
      min-height: 36px;
      max-height: 36px;
      cursor: pointer;
      &:hover {
        background-color: rgba(3, 155, 229, 0.3);
      }
      // .active-click  {
      //   background-color: red; //rgba(219, 255, 220, 0.9);
      // }    
      .mat-cell, .mat-footer-cell {
        font-size: 13px;
      }
    }
  }

  // .mat-row {
  //   min-height: 36px;
  //   max-height: 36px;
  //   padding-top:0px;
  //   padding-right:6px;
  //   padding-bottom: 0px;
  //   padding-left: 6px;
  //   width: 100%;
  // }

  // .mat-header-row {
  //   min-height: 40px;
  //   max-height: 40px;
  //   padding-top:0px;
  //   padding-right:6px;
  //   padding-bottom: 0px;
  //   padding-left: 6px;
  //   width: 100%;
  // }
  
  mat-cell,
  mat-footer-cell,
  mat-header-cell {
    flex: none;

    span.filtre-bouton {
      display: inline-block;
      position: absolute;
      right: 5px;
    }
  }
  

  
  .mat-table mat-header-cell {
    padding:5px;
  }
  
  // .mat-table mat-header-cell:hover {
  //   border-radius:5px;
  //   border-top: 1px solid;
  //   border-right: 1px solid;
  //   border-bottom: 1px solid;
  //   border-left: 1px solid;
  //   border-color:#A5A5A5;
  //   cursor: col-resize;
  // }

.mat-paginator-container {
  min-height: 35px !important;
  max-height: 35px !important;
}

.empty-result {
  text-align:center;
  color:#4285F3;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  color:white;
  padding-top:5px;
}

.mini-select {
  font-size:12px;
  min-width: 30px;
  max-width: 30px;
  padding:0px;
}

.text-truncate {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// .avatar {
//   height:16px;
//   width:16px;
// }