<!-- <div fxLayout="row" fxLayoutAlign="end center"> -->
    <!-- class="py-8 px-12 border-radius-2 line-height-1 mr-8 cursor-pointer" -->
    
<div fxLayout="row" fxLayoutAlign="space-between">
    <div fxflex fxLayoutAlign="start center">
        <div *ngFor="let item of months"

            class="selected-project cursor-pointer"
            (click)="updateMonthsSelected(item)"
            (dblclick)="monthsSelected=[item]"
            [ngClass]="{'blue-600-bg': isInMonthSelected(item)}">
            {{ item.label }}
        </div>
    </div>
    <!-- <div  fxLayoutAlign="start center">ttttt</div>  -->
    <div fxflex fxLayoutAlign="end center">
      <div class="selected-project">{{filter.monthYearSelected.year}}</div>

      <button mat-icon-button 
          class="project-selector" 
          [matMenuTriggerFor]="projectsMenu"
          aria-label="Select project">
          <mat-icon>more_horiz</mat-icon>
      </button>

      <mat-menu #projectsMenu="matMenu">
          <button mat-menu-item *ngFor="let year of years" (click)="updateYearSelected(year)">
              <span>{{year}}</span>
          </button>
      </mat-menu>
  </div>
</div>
