<div class="example-container"
    [ngClass]="headerPanelIsVisible ? 'scrollable-small' : 'scrollable-large'">
    
    <mat-table class="mat-table"
        #table [dataSource]="dataSource"
        [@animateStagger]="{value:'50'}"
        matSort matSortActive="id" matSortDirection="asc" matSortDisableClear 
        (matSortChange)="onSortChangeEvent($event)"
    >

        <!-- id -->
        <ng-container matColumnDef="id">
            <mat-header-cell style="flex:0 0 70px;" *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
            <mat-cell style="flex:0 0 70px;" *matCellDef="let data">
                <p class="text-truncate">{{data.id}}</p>
            </mat-cell>
        </ng-container>

        <!-- OperationTypeFamily -->
        <ng-container matColumnDef="operationTypeFamily" >
          <mat-header-cell style="flex: 0 0 30%;" *matHeaderCellDef >
              <div mat-sort-header >Catégorie opération</div>
      
              <div (click)="templateFor='col2'" [matMenuTriggerFor]="menuOtf"
                  fxFlex fxLayoutAlign="end start" style="cursor: pointer;">
                  <mat-icon color="warn" *ngIf="hasFilterData('operationTypeFamily')">filter_list</mat-icon>
                  <mat-icon color="primary" *ngIf="!hasFilterData('operationTypeFamily')">filter_list</mat-icon>
              </div>
      
              <mat-menu #menuOtf="matMenu" [overlapTrigger]="false">
                <filter-movement *ngIf="templateFor==='col2' && filterOtf"
                    [movement]="filterOtf"
                    (applyFilterMovement)="applyFilterOtf($event)"
                >
                </filter-movement>
              </mat-menu>
          </mat-header-cell>
          <mat-cell style="flex: 0 0 30%;" *matCellDef="let data">
              <p class="text-truncate">{{data.operationTypeFamily.label}}</p>
          </mat-cell>
      </ng-container>

        <!-- Label -->
        <ng-container matColumnDef="label" >
            <mat-header-cell style="flex: 0 0 30%;"  *matHeaderCellDef >
                <div mat-sort-header >Libellé</div>
                
                <div (click)="templateFor='col3'" [matMenuTriggerFor]="menuLabel" 
                    style="cursor: pointer;" fxFlex fxLayoutAlign="end start"   >
                    <mat-icon color="warn" *ngIf="hasFilterData('label')">filter_list</mat-icon>
                    <mat-icon color="primary" *ngIf="!hasFilterData('label')">filter_list</mat-icon>
                </div>
                <mat-menu #menuLabel="matMenu" [overlapTrigger]="false">
                  <filter-label *ngIf="templateFor==='col3' && filterOt"
                      [label]="filterOt.selected.label" 
                      (applyLabelFilter)="applyFilterLabel($event)"
                    ></filter-label>
                </mat-menu>
            </mat-header-cell >
            <mat-cell style="flex: 0 0 30%;" *matCellDef="let data">
                <p class="text-truncate">{{data.label}}</p>
            </mat-cell>
        </ng-container>

        
        
        <!-- Delete--Detail -->
        <!-- style="flex:0 0 25%;" -->
        <ng-container matColumnDef="buttonDelete" >
            <mat-header-cell style="flex:0 0 30%;"  *matHeaderCellDef ></mat-header-cell>
            <mat-cell style="flex:0 0 30%;justify-content: flex-end"  *matCellDef="let data">
                <button *ngIf="!data.isMandatory" matTooltip="Supprimer" mat-icon-button (click)="delete(data)">
                    <mat-icon>delete</mat-icon>
                </button>
                <button *ngIf="!data.isMandatory" matTooltip="Détail" mat-icon-button (click)="detail(data)">
                        <mat-icon>more_horiz</mat-icon>
                    </button>
            </mat-cell>
        </ng-container> 

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
        
        <mat-row 
            *cdkRowDef="let data; columns: displayedColumns;"
            matRipple
            [@animate]="{value:'*',params:{y:'100%'}}"
            class="element-row" 
        >
        </mat-row>

    </mat-table>

    <div *ngIf="(otTable$ | async).loadingInfo.loading"
        class="h-96 w-100-p"
        fxLayout="column"
        fxLayoutAlign="center center">
        <mat-spinner diameter="40" color="accent" fxLayout="row"></mat-spinner>
        <div style="color:#4285F3" fxLayout="row">chargement...</div>
    </div> 

    
    <p class="empty-result" 
        *ngIf="(otTable$ | async).loadingInfo.loaded 
            && (otTable$ | async).datas.length==0"
    >
        Aucun résultat
    </p>
</div>

<mat-paginator *ngIf="(otTableFilter$ | async).loadingInfo.loaded"
    (page)="onPageChangeEvent($event)"
    [length]="(otTableFilter$ | async).filters.selected.pagination.totalItems" 
    [pageSize]="(otTableFilter$ | async).filters.selected.pagination.nbItemsPerPage"
    [pageSizeOptions]="[15, 100, 200]">
</mat-paginator>
