<div id="products" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent header-1-background"></div>
    <!-- / TOP BACKGROUND -->
  
      <!-- CENTER -->
      <div class="center">
  
          <!-- HEADER -->
          <div class="header-2-background accent p-12" fxLayout="row" fxLayoutAlign="space-between">
              <!-- APP TITLE -->
              <div fxLayout="row" fxLayoutAlign="space-between center" >
                  <div fxLayout="row" fxLayoutAlign="start center" >
                      <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                          account_balance
                      </mat-icon>
                      
                      <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                          Comptes bancaires
                      </span>
                  </div>
              </div>
  
              <!-- BUTTON -->
              <div fxflex fxLayoutAlign="end center">
                  <button mat-raised-button
                          class="save-product-button white mt-16 mt-sm-0"
                          [routerLink]="'/apps/referential/accounts/new'">
                      <span>AJOUTER UN COMPTE</span>
                  </button>
              </div>
          </div>


<div class="content-card">
    <mat-table-filter 
        [matTableFilter]="matTableFilter"
        (onRowClick)="onRowClick($event)"
        (changeFilterSelected)="applyFilterSelected($event)"
        (changeFilterSelection)="applyFilterSelection($event)"
        (toolbarAddItemEvent)="addItem($event)"
        (toolbarDeleteItemsEvent)="deleteItems($event)">
    </mat-table-filter>
</div>

</div>
</div>
