.mat-dialog-container {
    padding:0px !important;
}

.mat-dialog-content {
    max-height:82vh !important;
    margin:0px;
    padding:12px;
    overflow: unset;
}

.mat-dialog-actions {
    padding:12px;
}

.mat-select-content{
    height:20px;
    background-color: red;
    font-size: 10px;
}