


<div  class="position-relative p-24 mat-blue-600-bg"
  fxLayout="row" fxFlex="100" fxLayoutAlign="space-between center">
  <div fxLayout="column" fxLayoutAlign="start start">
      <span class="h2">Dépenses</span>
      <span class="h5 secondary-text">Suivi des dépenses sur la période</span>
  </div>
</div>

<div style="margin-bottom:12px;" class="position-relative h-256 pb-16 mat-blue-600-bg" fxFlex="100" *ngIf="widget">
    <canvas baseChart 
      [datasets]="widget.datasets"
      [labels]="widget.labels"
      [colors]="widget.colors"
      [options]="widget.options"
      [chartType]="widget.chartType">
    </canvas>


