<div 
    fxLayout="row" fxLayoutAlign="space-between">
    <div fxflex fxLayoutAlign="start center">
        <div *ngFor="let item of months"

            class="selected-project cursor-pointer"
            (click)="updateMonthsSelected(item)"
            (dblclick)="monthsSelected=[item]"
            [ngClass]="{'blue-600-bg': isInMonthSelected(item)}">
            {{ item.label }}
        </div>
    </div>
    <div fxflex fxLayoutAlign="end center" >
        <div *ngIf="(asTableFilter$ | async).loader['filters'].loaded; else emptyYear" 
            class="selected-project"
        >
            {{ (asTableFilter$ | async).filter.monthYear.year }}
        </div>
        <ng-template #emptyYear>
            <div class="selected-project"><mat-spinner [diameter]="15"></mat-spinner></div>
        </ng-template>

        <button mat-icon-button 
            class="project-selector" 
            [matMenuTriggerFor]="projectsMenu"
            aria-label="Select project">
            <mat-icon>more_horiz</mat-icon>
        </button>

        <mat-menu #projectsMenu="matMenu">
            <button mat-menu-item *ngFor="let year of years" (click)="updateYearSelected(year)">
                <span>{{year}}</span>
            </button>
        </mat-menu>
    </div>
</div>
