
<div class="scroll-enable grey-100-bg">
<div fxLayout="column" >
    
    <div class="position-relative pt-24 pl-24 pr-24 pb-10 mat-blue-600-bg"
          fxLayoutAlign="space-between center">
        <div fxLayout="column" fxLayoutAlign="start start">
            <span class="h2">Evolution globale</span>
            <span class="h5 secondary-text">Evolution sur les 12 derniers mois. Comparaison de la moyenne des 12 derniers mois avec le mois en cours</span>
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center" >
    <div>
        <widget-card-chart-bar [widgetCardChartBar]="asChartEvolutionBrutDebit"
            [@animate]="{value:'*',params:{y:'100%'}}" 
            fxFlex=30
            >
        </widget-card-chart-bar>
    </div>
    <div>
        <widget-card-chart-bar [widgetCardChartBar]="asChartEvolutionBrutCredit"
            [@animate]="{value:'*',params:{y:'100%'}}" 
            fxFlex=30
        >
        </widget-card-chart-bar>
    </div>
        <div>
        <widget-card-chart-bar [widgetCardChartBar]="asChartEvolutionBrutBalance"
            
            [@animate]="{value:'*',params:{y:'100%'}}" 
            fxFlex=30
        >
        </widget-card-chart-bar>
    </div>
    </div>



<div class="position-relative pt-24 pl-24 pr-24 pb-10 mat-blue-600-bg"
    fxLayoutAlign="space-between center">
  <div fxLayout="column" fxLayoutAlign="start start">
      <span class="h2">Evolution avec exclusion des virements internes</span>
      <span class="h5 secondary-text">Evolution sur les 12 derniers mois. Comparaison de la moyenne des 12 derniers mois avec le mois en cours</span>
  </div>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center" >
<div>
  <widget-card-chart-bar [widgetCardChartBar]="asChartEvolutionNoIntTransferDebit"
      [@animate]="{value:'*',params:{y:'100%'}}" 
      fxFlex=30
      >
  </widget-card-chart-bar>
</div>
<div>
  <widget-card-chart-bar [widgetCardChartBar]="asChartEvolutionNoIntTransferCredit"
      [@animate]="{value:'*',params:{y:'100%'}}" 
      fxFlex=30
  >
  </widget-card-chart-bar>
</div>
  <div>
  <widget-card-chart-bar [widgetCardChartBar]="asChartEvolutionNoIntTransferBalance"
      
      [@animate]="{value:'*',params:{y:'100%'}}" 
      fxFlex=30
  >
  </widget-card-chart-bar>
</div>
</div>



















    <div fxLayout="row" fxLayoutAlign="space-between center">
    <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" fxLayout="row" fxFlex="100"
    class="widget widget5">

<!-- Front -->
<div class="fuse-widget-front">

<div class="px-16 border-bottom" fxLayout="row wrap"
    fxLayoutAlign="space-between center">

   <div fxFlex class="py-16 h3">title</div>

   <div fxFlex="0 1 auto" class="py-16" fxLayout="row">
          <!-- *ngFor="let range of widgets.widget5.ranges | keys"
               (click)="widget5.currentRange = range.key"
               [ngClass]="{'accent' : widget5.currentRange == range.key}"-->
       <button mat-button class="px-16"
             
        >
           test
       </button>
   </div>
</div>

<div fxLayout="row wrap" fxLayoutAlign="start start">

   <div class="h-420 my-16" fxLayout="row" fxFlex="100" fxFlex.gt-sm="50">
       TOTO
       <!-- <ngx-charts-bar-vertical-stacked
           *fuseIfOnDom
           [scheme]="widget5.scheme"
           [results]="this.widgets.widget5.mainChart[this.widget5.currentRange]"
           [gradient]="widget5.gradient"
           [xAxis]="widget5.xAxis"
           [yAxis]="widget5.yAxis"
           [legend]="widget5.legend"
           [showXAxisLabel]="widget5.showXAxisLabel"
           [showYAxisLabel]="widget5.showYAxisLabel"
           [xAxisLabel]="widget5.xAxisLabel"
           [yAxisLabel]="widget5.yAxisLabel"
           (select)="widget5.onSelect($event)">
       </ngx-charts-bar-vertical-stacked> -->
   </div>

   <!-- <div class="my-16" fxFlex="100" fxLayout="row wrap" fxFlex.gt-sm="50">

       <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxLayoutAlign="center"
            *ngFor="let widget of widgets.widget5.supporting | keys"
            class="mb-24">

           <div class="px-24">
               <div class="h4 secondary-text">{{widget.value.label}}</div>
               <div class="mat-display-1 m-0">
                   {{widget.value.count[widget5.currentRange]}}
               </div>
           </div>

           <div class="h-64">
               <ngx-charts-area-chart
                   *fuseIfOnDom
                   [results]="widget.value.chart[widget5.currentRange]"
                   [scheme]="widget5.supporting.scheme"
                   [gradient]="widget5.supporting.gradient"
                   [xAxis]="widget5.supporting.xAxis"
                   [yAxis]="widget5.supporting.yAxis"
                   [legend]="widget5.supporting.legend"
                   [showXAxisLabel]="widget5.supporting.showXAxisLabel"
                   [showYAxisLabel]="widget5.supporting.showYAxisLabel"
                   [xAxisLabel]="widget5.supporting.xAxisLabel"
                   [yAxisLabel]="widget5.supporting.yAxisLabel"
                   [curve]="widget5.supporting.curve">
               </ngx-charts-area-chart>
           </div>
       </div>
   </div> -->
</div>
</div>
<!-- / Front -->

</fuse-widget>
</div>
<div fxLayout="row" fxLayoutAlign="space-between center">
END OF PAGE

</div>

</div>
</div>