.scroll-enable {
    // display: flex;
    // flex-direction: column;
    overflow-y: auto !important;
    max-height:72vh;
    }

.mini-select {
    font-size:12px;
    min-width: 100px;
}

.mat-form-field-flex {
    background-color: white;
}