<div id="product" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">
                    <!-- ['/apps/account-statement-imports',idImport,'accounts',idAccount,'account-statement-import-files'] -->
                <button class="mr-0 mr-sm-16" mat-icon-button 
                    (click)="movePrevious()"
                    [routerLink]="['/apps/account-statement-import-files']">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="product-image mr-8 mr-sm-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <!-- <img *ngIf="product.images[0]" [src]="product.images[0].url"> -->
                    <img *ngIf="formLoaded && asifDetail" [src]="asifDetail.logoUrl">
                </div>

                <div fxLayout="column" fxLayoutAlign="start start"
                     *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="formLoaded && asifDetail" >
                        {{asifDetail.labelOperation}}
                    </div>

                    <div class="subtitle secondary-text">
                        <span>Détail de l'opération</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->
            <button mat-raised-button *ngIf="formLoaded && asifDetail"
                class="save-product-button mat-white-bg mt-16 mt-sm-0"
                [disabled]= "asifDetailForm.invalid 
                    || asifDetailForm.pristine 
                    || (asifDetail.isLocalisable && asifDetail.operationPlace.selected.id>3 && asifDetail.operationDetail.gMapAddress.id==1)"
                (click)="updateAsif()"
            >
                <span>SAVE</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card white">

                <form *ngIf="formLoaded && asifDetail" 
                    name="asifDetailForm" 
                    [formGroup]="asifDetailForm" 
                    class="product w-100-p" 
                    fxLayout="column" fxFlex
                >

                    <mat-tab-group>
                        <mat-tab label="Détail">
                            <div class="example-container tab-content p-24" >
                            <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                <mat-label>Libellé opération</mat-label>
                                <input matInput
                                        name="labelOperation"
                                        formControlName="labelOperation"
                                        placeholder="Libellé opération">
                            </mat-form-field>

                            <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                <mat-label>Date intégration</mat-label>
                                <input matInput
                                        name="dateIntegration"
                                        formControlName="dateIntegration"
                                        placeholder="Date intégration"
                                        >
                            </mat-form-field>

                            <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                <mat-label>Montant</mat-label>
                                <input matInput
                                        name="amountOperation"
                                        formControlName="amountOperation"
                                        placeholder="Montant" type="number">
                                <span matPrefix >€&nbsp;</span>
                                <mat-icon *ngIf="asifDetail.amountOperation>0" matSuffix  class="green-fg mr-2">trending_up</mat-icon>
                                <mat-icon *ngIf="asifDetail.amountOperation<0" matSuffix  class="red-fg mr-2">trending_down</mat-icon>
                            </mat-form-field>
                              
                            </div>
                        </mat-tab>

                        <mat-tab label="Classification">
                            <div class="example-container tab-content p-24">
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" >
                                    <mat-label>Méthodes d'opération</mat-label>
                                    <mat-select formControlName="operationMethod" placeholder="Méthodes d'opération" [compareWith]="compareObjects" >
                                        <mat-option *ngFor="let item of asifDetail.operationMethod.list" [value]="item">
                                            {{ item.label }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                
                                <mat-error *ngIf="asifDetailForm.get('operationTypeFamily').errors && asifDetailForm.get('operationTypeFamily').hasError('isUnknown')">
                                    <p>La sélection ne doit pas être inconnue</p>
                                </mat-error>
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Catégories d'opération</mat-label>
                                    <mat-select formControlName="operationTypeFamily" 
                                        placeholder="Catégories d'opération"  [compareWith]="compareObjects">
                                        <mat-option *ngFor="let item of asifDetail.operationTypeFamily.list" [value]="item">
                                            {{ item.label }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-error *ngIf="asifDetailForm.get('operationType').errors && asifDetailForm.get('operationType').hasError('isUnknown')">
                                    <p>La sélection ne doit pas être inconnue</p>
                                </mat-error>
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Types d'opération</mat-label>
                                    <mat-select matInput formControlName="operationType" placeholder="Types d'opération" [compareWith]="compareObjects" >
                                        <mat-option *ngFor="let item of asifDetail.operationType.list" [value]="item">
                                            {{ item.label }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <div *ngIf="!isNewOperationTemplate">
                                    <mat-error *ngIf="asifDetailForm.get('operation').errors && asifDetailForm.get('operation').hasError('isUnknown')">
                                        <p>La sélection ne doit pas être inconnue</p>
                                    </mat-error>
                                    <div class="w-100-p">
                                        <mat-form-field class="w-90-p" appearance="outline" floatLabel="always" fxFlex>
                                            <mat-label>Opérations</mat-label>
                                            <mat-select matInput formControlName="operation" placeholder="Opérations" [compareWith]="compareObjects" >
                                                <mat-option *ngFor="let item of asifDetail.operation.list" [value]="item">
                                                    {{ item.label }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <div class="w-10-p pb-20"  fxLayoutAlign="end center">
                                            <button mat-mini-fab type="button" (click)="isNewOperationTemplate=!isNewOperationTemplate">
                                                <mat-icon style="color:white">add</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <form *ngIf="isNewOperationTemplate"  name="operationAddForm" [formGroup]="operationAddForm" >
                                    <div class="w-100-p" fxLayout="row">
                                        <mat-form-field class="w-90-p" appearance="outline" floatLabel="always" fxFlex>
                                            <mat-label>Proposition d'opération</mat-label>
                                            <input matInput
                                                name="operationLabelTemp"
                                                formControlName="operationLabelTemp"
                                                placeholder="Opération">
                                        </mat-form-field>
                                        <div class="w-10-p pb-20"  fxLayoutAlign="end center">
                                            <button mat-mini-fab type="button" (click)="isNewOperationTemplate=!isNewOperationTemplate">
                                                <mat-icon style="color:white">keyboard_return</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                    
                                    <button mat-raised-button 
                                        class="save-product-button mat-white-bg mt-16 mt-sm-0"
                                        [disabled]="operationAddForm.invalid || operationAddForm.get('operationLabelTemp').errors" (click)="addOperation()">
                                        <span>VALIDER</span>
                                    </button>
                                    <mat-error *ngIf="operationAddForm.get('operationLabelTemp').errors && operationAddForm.get('operationLabelTemp').hasError('isUnknown')">
                                        <p>L'opération doit contenir un libellé</p>
                                    </mat-error>
                                </form>
                                
                                <div *ngIf="!isNewOperationTransverseTemplate">
                                    <div class="w-100-p" fxLayout="row" fxLayoutAlign="space-between center" >
                                        <mat-form-field class="w-90-p" fxFlex appearance="outline" floatLabel="always">
                                            <mat-label>Opérations transverse</mat-label> 
                                            <mat-select 
                                                matInput 
                                                formControlName="operationTransverse" 
                                                placeholder="Opérations transverse" 
                                                [compareWith]="compareObjects" 
                                                (selectionChange)="bindAsifDetail(operationTransverseAddForm)"
                                                multiple>
                                                <mat-option *ngFor="let item of asifDetail.operationTransverse.list" [value]="item">
                                                    {{ item.label }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <div class="w-10-p pb-20"  fxLayoutAlign="end center">
                                            <button  mat-mini-fab type="button" (click)="isNewOperationTransverseTemplate=!isNewOperationTransverseTemplate">
                                                <mat-icon style="color:white">add</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                
                                <form *ngIf="isNewOperationTransverseTemplate"  name="operationTransverseAddForm" [formGroup]="operationTransverseAddForm" >
 
                                    <!-- <div class="w-100-p" fxLayout="row" fxLayoutAlign="start center">
                                        <div class="h2 secondary-text">Opérations transverse</div>
                                    </div> -->
                                    <div class="w-100-p" fxLayout="row">
                                        <mat-form-field class="w-90-p" appearance="outline" floatLabel="always" fxFlex>
                                            <mat-label>Opération transverse</mat-label> 
                                            <input matInput
                                                name="operationTransverse"
                                                formControlName="operationTransverse" 
                                                placeholder="Opération transverse"
                                            >
                                        </mat-form-field>
                                        <div class="w-10-p pb-20"  fxLayoutAlign="end center">
                                            <button mat-mini-fab type="button" (click)="isNewOperationTransverseTemplate=!isNewOperationTransverseTemplate">
                                                <mat-icon style="color:white">keyboard_return</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                    
                                    <button mat-raised-button 
                                        class="save-product-button mat-white-bg mt-16 mt-sm-0"
                                        [disabled]="operationTransverseAddForm.invalid" (click)="addOperationTransverse()">
                                        <span>VALIDER</span>
                                    </button>
                                    <mat-error *ngIf="operationTransverseAddForm.get('operationTransverse').errors">
                                        <p>L'opération transverse doit contenir un libellé</p>
                                    </mat-error>
                                </form>
                            </div>
                        </mat-tab>
                        <mat-tab label="Mots clefs">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <div class="w-100-p" fxLayout="row" style="margin-bottom:20px">       
                                <mat-card  style="width:100%">
                                    <mat-card-header>
                                        <div mat-card-avatar><mat-icon>feedback</mat-icon></div>
                                        <mat-card-title>Les mots clefs permettent de retrouver les informations dans le libellé d'opérations.</mat-card-title>
                                        <mat-card-subtitle>Un mot clef ne doit pas comporter d'espace, ni de caractères spéciaux (-/*)</mat-card-subtitle>
                                    </mat-card-header>
                                </mat-card> 
                            </div>

                                
                                <div class="w-100-p" fxLayout="row">
                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex>
                                        <mat-label>Mot clef pour recherche de l'opération</mat-label> 
                                        <input matInput
                                            name="operationKeywordTemp"
                                            formControlName="operationKeywordTemp"
                                            placeholder="Mot clef pour recherche de l'opération">
                                    </mat-form-field>
                                </div>
                                <div class="w-100-p" fxLayout="row" *ngIf="asifDetail.isLocalisable && asifDetail.operationDetail.gMapAddress.id!=2 && asifDetail.operationDetail.gMapAddress.id!=3" >
                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex>
                                        <mat-label>Mot clef pour recherche du lieu d'opération</mat-label> 
                                        <input matInput 
                                            name="placeKeywordTemp"
                                            formControlName="placeKeywordTemp"
                                            placeholder="Mot clef pour recherche du lieu d'opération">
                                    </mat-form-field>
                                </div>
                                <mat-error *ngIf="asifDetailForm.get('placeKeywordTemp').errors && asifDetailForm.get('placeKeywordTemp').hasError('isLocalisable')">
                                    <p>La sélection ne doit pas être vide</p>
                                </mat-error>
                            </div>
                        </mat-tab>
                        
                        <mat-tab label="Géolocalisation" [disabled]="asifDetail && !asifDetail.isLocalisable">
                            <div class="example-container tab-content p-24" >
                                <mat-error *ngIf="asifDetailForm.get('operationPlace').errors && asifDetailForm.get('operationPlace').hasError('isUnknown')">
                                    <p>La sélection ne doit pas être inconnue</p>
                                </mat-error>
                                <div class="w-100-p" fxLayout="row">
                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex>
                                        <mat-label>Lieu opération</mat-label> 
                                        <mat-select formControlName="operationPlace" placeholder="Lieu opération" [compareWith]="compareObjects" >
                                            <mat-option *ngFor="let item of asifDetail.operationPlace.list" [value]="item">
                                                {{ item.label }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                
                                <g-map-search *ngIf="asifDetail.gMapSearchInfo" [gMapSearchInfo]="asifDetail.gMapSearchInfo" (changeGMapAddress)="onChangeGMapAddress($event)"></g-map-search>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </form>

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>

