<mat-tab-group id="group"
    [selectedIndex]="selectedIndex"
    (selectedTabChange)="onTabChanged($event)">
    <mat-tab 
        *ngFor="let operationField of operationFields;index as i" 
        [label]="operationField.label">
      <ng-template mat-tab-label>
          {{operationField.label}}
      </ng-template>

      <operation-type-family-table class="tab-content-container" *ngIf="selectedIndex == 0 && selectedIndex == i"></operation-type-family-table>
      <operation-type-table class="tab-content-container" *ngIf="selectedIndex == 1 && selectedIndex == i"></operation-type-table>
      <operation-table *ngIf="selectedIndex == 2 && selectedIndex == i"></operation-table>
    </mat-tab>
</mat-tab-group>


