.title {
    padding-left:12px;
}

.header-1-background {
    background-color: #9B9B9B;
    background: url('/assets/images/backgrounds/bck_1.png') no-repeat;
}

.header-2-background {
    background-color: #9B9B9B;
    background: url('/assets/images/backgrounds/bck_22.png') no-repeat;
    min-height:120px !important;
    max-height:120px !important;
    height:120px !important;
}

.test {
    background: url('/assets/images/backgrounds/bck_21.png') no-repeat;
}

.mat-tab-body-content {
overflow: hidden !important;
}

// .mat-tab-group {
//     overflow:auto;
// }

.mat-tab-group {
    height: 100% !important;

    .mat-tab-body-wrapper {
        height: 100% !important;

    }
    .mat-tab-label {
        background-color: #FFFFFF !important;
    }

    .mat-tab-label-container {
        padding: 0 24px;
    }
}

// .anim-icon {
//     animation: rotating 3s linear infinite;
// }

.mat-standard-chip {
    min-height:28px !important;
    // height:24px;
}

.mat-chip-red {
    background-color: #DC2C18 !important;
    color:white !important;
}

.mat-chip-green {
    background-color: #4CAF50 !important;
    color:white !important;
}











