
    <form *ngIf="isFormLoaded" name="gMapSearchForm" [formGroup]="gMapSearchForm" >
        <div class="w-100-p" *ngIf="searchVisible" fxLayout="row">
            <mat-form-field fxFlex >
                <input matInput
                    name="operationPositionSearch"
                    formControlName="operationPositionSearch"
                    placeholder="Indicatif position opération (nom magasin / restaurant..)">
            </mat-form-field>
            <mat-form-field fxFlex>
                <input matInput
                    name="operationPlaceSearch"
                    formControlName="operationPlaceSearch"
                    placeholder="Indicatif lieu opération (pays / ville / departement...)">
            </mat-form-field>
            <button 
                mat-mini-fab 
                (click)="cancelSearch()">
                <mat-icon style="color:white">cancel</mat-icon>
            </button>
            <button 
                style="margin-left:20px"
                mat-mini-fab 
                (click)="searchGoogleMap()">
                <mat-icon style="color:white">language</mat-icon>
            </button>
        </div>

        <div *ngIf="addressVisible"> 

        <div class="w-100-p" >
            <mat-form-field fxFlex>
                <input matInput
                    name="formattedAddress"
                    formControlName="formattedAddress"
                    placeholder="Adresse">
            </mat-form-field>
            <button mat-mini-fab type="button" (click)="addressDetailVisible=!addressDetailVisible">
                <mat-icon *ngIf="!addressDetailVisible" style="color:white">arrow_drop_down</mat-icon>
                <mat-icon *ngIf="addressDetailVisible" style="color:white">arrow_drop_up</mat-icon>
            </button>
            <button mat-mini-fab type="button" style="margin-left:20px" (click)="showSearch(true)">
              <mat-icon style="color:white">search</mat-icon>
            </button>
        </div>
        <!-- [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}" -->
        
        <div 
            *ngIf="addressDetailVisible"
            [@animate]="{value:'*',params:{delay:'100ms', y:'100%'}}"
           > 

            <div class="w-100-p" fxLayout="row">
                <mat-form-field 
                    *ngIf="!unknownData('country')"
                    appearance="outline" floatLabel="always">
                    <mat-label>Pays</mat-label>
                    <input matInput
                        name="country"
                        formControlName="country"
                        placeholder="Pays">
                </mat-form-field>
    
                <mat-form-field 
                    *ngIf="!unknownData('administrativeAreaLevel1')"
                    appearance="outline" floatLabel="always">
                    <mat-label>Région</mat-label>
                    <input matInput
                        name="administrativeAreaLevel1"
                        formControlName="administrativeAreaLevel1"
                        placeholder="Région">
                </mat-form-field>

                <mat-form-field 
                    *ngIf="!unknownData('administrativeAreaLevel2')"
                    appearance="outline" floatLabel="always">
                    <mat-label>Département</mat-label>
                    <input matInput
                        name="administrativeAreaLevel2"
                        formControlName="administrativeAreaLevel2"
                        placeholder="Département">
                </mat-form-field>
                
                <mat-form-field 
                    *ngIf="!unknownData('neighborhood')"
                    appearance="outline" floatLabel="always">
                    <mat-label>Quartier</mat-label>
                    <input matInput
                        name="neighborhood"
                        formControlName="neighborhood"
                        placeholder="Quartier">
                </mat-form-field>
            </div> 
            <div class="w-100-p" fxLayout="row">
                <mat-form-field 
                    *ngIf="!unknownData('streetNumber')"
                    appearance="outline" floatLabel="always">
                    <mat-label>N° Rue</mat-label>
                    <input matInput
                        name="streetNumber"
                        formControlName="streetNumber"
                        placeholder="N° Rue">
                </mat-form-field>
                <mat-form-field 
                    *ngIf="!unknownData('route')"
                    appearance="outline" floatLabel="always">
                    <mat-label>Nom de Rue</mat-label>
                    <input matInput
                        name="route"
                        formControlName="route"
                        placeholder="Nom de Rue">
                </mat-form-field>
                <mat-form-field 
                    *ngIf="!unknownData('postalCode')"
                    appearance="outline" floatLabel="always">
                    <mat-label>Code Postal</mat-label>
                    <input matInput
                        name="postalCode"
                        formControlName="postalCode"
                        placeholder="Code Postal">
                </mat-form-field>
                <mat-form-field 
                    *ngIf="!unknownData('locality')"
                    appearance="outline" floatLabel="always">
                    <mat-label>Localité</mat-label>
                    <input matInput
                        name="locality"
                        formControlName="locality"
                        placeholder="Localité">
                </mat-form-field>
                <mat-form-field 
                    *ngIf="!unknownData('subLocalityLevel1')"
                    appearance="outline" floatLabel="always">
                    <mat-label>Sous localité niveau 1</mat-label>
                    <input matInput
                        name="subLocalityLevel1"
                        formControlName="subLocalityLevel1"
                        placeholder="Sous localité niveau 1">
                </mat-form-field>
                <mat-form-field 
                    *ngIf="!unknownData('subLocalityLevel2')"
                    appearance="outline" floatLabel="always">
                    <mat-label>Sous localité niveau 2</mat-label>
                    <input matInput
                        name="subLocalityLevel2"
                        formControlName="subLocalityLevel2"
                        placeholder="Sous localité niveau 2">
                </mat-form-field>
            </div>
            </div>

            <div class="w-100-p" fxLayout="row">
                <mat-form-field class="w-100-p" >
                    <mat-chip-list #chipList>
                            <!-- [selectable]="true"
                            >
                            {{type.label}}
                            <mat-icon matChipRemove>cancel</mat-icon> -->
                        <mat-chip *ngFor="let type of gMapAddress.gMapTypes"
                            [removable]="true" (removed)="remove(type)" >
                            {{type.label}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                        <!--  -->
                        <input placeholder="Types d'établissement"
                                [matChipInputFor]="chipList"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                [matChipInputAddOnBlur]="true"
                                (matChipInputTokenEnd)="add($event)"
                        >
                    </mat-chip-list>
                </mat-form-field>
            </div>
            <!-- "roadmap" | "hybrid" | "satellite" | "terrain" | string -->
            <agm-map class="w-100-p h-300" 
                mapTypeId = "hybrid"
                [zoom]="15"
                [latitude]="gMapAddress.lat"
                [longitude]="gMapAddress.lng">
                <agm-marker [latitude]="gMapAddress.lat"
                            [longitude]="gMapAddress.lng">
                </agm-marker>
            </agm-map>
        </div>
    </form>

