

<div class="widget" fxFlex="100" fxFlex.gt-sm="33">
    
    <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">
        
        <div *ngIf="!isLoaded" 
            class="h-96 w-100-p"
            fxLayout="column"
            fxLayoutAlign="center center">
            <mat-spinner diameter="40" color="accent" fxLayout="row"></mat-spinner>
            <div fxLayout="row">chargement...</div>
        </div>
        
        <div *ngIf="isLoaded" class="p-16 pb-0" fxLayout="row" fxLayoutAlign="start end" fxLayoutWrap>

            <div class="pr-16">
                <div class="h3 secondary-text">Conversion</div>
                <div class="font-size-54 font-weight-300 line-height-1 mt-8">
                    {{widget.conversion.value}}
                </div>
                
            </div>

            <div class="py-4 font-size-16" fxLayout="row" fxLayoutAlign="start center">
                <div fxFlex="row" fxLayoutAlign="start center" class="green-fg"
                     *ngIf="widget.conversion.ofTarget > 0">
                    <mat-icon class="green-fg mr-4">trending_up</mat-icon>
                    <span>{{widget.conversion.ofTarget}}%</span>
                </div>
                <div fxFlex="row" fxLayoutAlign="start center" class="red-fg"
                     *ngIf="widget.conversion.ofTarget < 0">
                    <mat-icon class="red-fg mr-4">trending_down</mat-icon>
                    <span>{{widget.conversion.ofTarget}}%</span>
                </div>
                <div class="ml-4 text-nowrap">of target</div>
            </div>

        </div>

        <div *ngIf="isLoaded" class="h-96 w-100-p">
            <canvas baseChart
                    [datasets]="widget.datasets"
                    [labels]="widget.labels"
                    [colors]="widget.colors"
                    [options]="widget.options"
                    [chartType]="widget.chartType"
                    (chartClick)="chartClicked($event)">
            </canvas>
        </div>

    </div>

</div>
