@import "src/@fuse/scss/fuse";

.header {

    .header-image {
        overflow: hidden;
        width: 56px;
        min-width: 56px;
        max-width: 56px;
        height: 56px;
        min-height: 56px;
        max-height: 56px;
        border-radius: 4px;
        // overflow: hidden;
        // width: 56px;
        // height: 56px;
        border: 2px solid rgba(0, 0, 0, 0.12);
        background-color: white;

        img {
            height: 100%;
            width: auto;
            max-width: none;
        }
    }

    .subtitle {
        margin: 6px 0 0 0;
    }
}

h3 {
    // max-width: 480px;
    text-align: left;
    font-weight: 300;
    letter-spacing: 0.03em;
    margin: 0;

    @include media-breakpoint('xs') {
        font-size: 12px;
    }
}

// #product {

//     .header {

//         .product-image {
//             overflow: hidden;
//             width: 56px;
//             height: 56px;
//             border: 3px solid rgba(0, 0, 0, 0.12);

//             img {
//                 height: 100%;
//                 width: auto;
//                 max-width: none;
//             }
//         }

//         .subtitle {
//             margin: 6px 0 0 0;
//         }
//     }

//     .content {

//         .mat-tab-group,
//         .mat-tab-body-wrapper,
//         .tab-content{
//             flex: 1 1 auto;
//             max-width: 100%;
//         }

//         .mat-tab-body-content {
//             display: flex;
//         }

//         .mat-tab-label {
//             height: 64px;
//         }

//         .product-image {
//             overflow: hidden;
//             width: 128px;
//             height: 128px;
//             margin-right: 16px;
//             margin-bottom: 16px;
//             border: 3px solid rgba(0, 0, 0, 0.12);

//             img {
//                 height: 100%;
//                 width: auto;
//                 max-width: none;
//             }
//         }

//     }

// }
