<div id="product" class="page-layout carded fullwidth" fusePerfectScrollbar>

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
    

            <!-- HEADER -->
            <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

                <!-- APP TITLE -->
                <div fxLayout="row" fxLayoutAlign="start center">

                    <button class="mr-0 mr-sm-16" mat-icon-button
                        [routerLink]="'/apps/referential/accounts'">
                        <mat-icon>arrow_back</mat-icon>
                    </button>

                    <div class="product-image mr-8 mr-sm-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                        <mat-icon width="48px" height="48px">account_balance</mat-icon>  
                    </div>

                    <div fxLayout="column" fxLayoutAlign="start start"
                        *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                        <div class="h2" *ngIf="formLoaded && accountDetail && accountDetail.id!=0">
                            {{accountDetail.number}}  {{accountDetail.label}}
                        </div>
                        <div class="h2" *ngIf="formLoaded && accountDetail && accountDetail.id==0">
                            Nouveau compte bancaire
                        </div>
                        <div class="subtitle secondary-text">
                            <span>Detail compte bancaire</span>
                        </div>
                    </div>
                </div>

                <button mat-raised-button *ngIf="formLoaded && accountDetail"
                class="save-product-button mat-white-bg mt-16 mt-sm-0"
                [disabled]= "accountForm.invalid || accountForm.pristine"
                (click)="save()"
                >
                    <span>ENREGISTRER</span>
                </button>

                <!-- <button mat-raised-button
                        class="save-product-button mat-white-bg mt-16 mt-sm-0"
                        [disabled]="accountForm.invalid"
                        *ngIf="pageType ==='new'" (click)="create(accountForm)">
                    <span>AJOUTER</span>
                </button>

                <button mat-raised-button
                        class="save-product-button mat-white-bg mt-16 mt-sm-0"
                        [disabled]="accountForm.invalid || accountForm.pristine"
                        *ngIf="pageType ==='edit'" (click)="update(accountForm)">
                    <span>SAUVEGARDER</span>
                </button> -->
            </div>
            <!-- / HEADER -->

      <!-- CONTENT CARD -->
      <div class="content-card white">

          <!-- CONTENT -->
          <div class="content">
              <form name="accountForm" 
                *ngIf="formLoaded && accountDetail" 
                [formGroup]="accountForm" 
                class="product w-100-p" 
                fxLayout="column" fxFlex>
                    <mat-tab-group>

                      <mat-tab label="Agence bancaire">
                          <div class="tab-content p-24" fusePerfectScrollbar>
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" >
                                    <mat-label>Groupe Bancaire</mat-label>
                                    <mat-select formControlName="bankFamily" placeholder="Groupe Bancaire" [compareWith]="compareObjects" >
                                        <mat-option *ngFor="let item of accountDetail.bankFamily.list" [value]="item">
                                            {{ item.label }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" >
                                    <mat-label>Caisse</mat-label>
                                    <mat-select formControlName="bankSubFamily" placeholder="Caisse" [compareWith]="compareObjects" >
                                        <mat-option *ngFor="let item of accountDetail.bankSubFamily.list" [value]="item">
                                            {{ item.label }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" >
                                    <mat-label>Agence</mat-label>
                                    <mat-select formControlName="bankAgency" placeholder="Agence" [compareWith]="compareObjects" >
                                        <mat-option *ngFor="let item of accountDetail.bankAgency.list" [value]="item">
                                            {{ item.label }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                 
                          </div>
                      </mat-tab>
                      <mat-tab label="Informations">
                        <div class="tab-content p-24" fusePerfectScrollbar>
                            <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" >
                                <mat-label>Type de compte</mat-label>
                                <mat-select formControlName="accountType" placeholder="Type de compte" [compareWith]="compareObjects" >
                                    <mat-option *ngFor="let item of accountDetail.accountType.list" [value]="item">
                                        {{ item.label }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                <mat-label>Libellé du compte</mat-label>
                                <input matInput
                                    name="label"
                                    formControlName="label"
                                    placeholder="Libellé du compte">
                            </mat-form-field>

                            <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                <mat-label>Numéro de compte</mat-label>
                                <input matInput
                                    name="number"
                                    formControlName="number"
                                    placeholder="Numéro de compte">
                            </mat-form-field>

                            <div fxLayout="row"  fxLayoutAlign="start start">
                                
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Montant de départ</mat-label>
                                    <input matInput
                                        type="number"
                                        name="startAmount"
                                        formControlName="startAmount"
                                        placeholder="Montant de départ"
                                    >
                                    <mat-icon matSuffix>euro_symbol</mat-icon>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Seuil d'alerte</mat-label>
                                    <input matInput
                                        type="number"
                                        name="alertThreshold"
                                        formControlName="alertThreshold"
                                        placeholder="Seuil d'alerte"
                                    >
                                    <mat-icon matSuffix>euro_symbol</mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                      </mat-tab>
                  </mat-tab-group>
              </form>

          </div>
      </div>


    </div>
</div>