
<!-- <div *ngIf="(asChart$ | async)?.loader['asChartEvolution']?.loaded else tp_loading"> -->

<div class="example-container-no-footer grey-100-bg">
    <div fxLayout="column">
        
        <div             
            class="position-relative pt-24 pl-24 pr-24 pb-10 mat-blue-600-bg"
            fxLayoutAlign="space-between center">
            <div fxLayout="column" fxLayoutAlign="start start">
                <span class="h2">Evolution globale</span>
                <span class="h5 secondary-text">Evolution sur les 12 derniers mois. Comparaison de la moyenne des 12 derniers mois avec le mois en cours</span>
            </div>
        </div>

        <div 
            *ngIf="(asChart$ | async)?.loader['asChartEvolutionBrut']?.loaded else tp_loading"
            fxLayout="row" 
            fxLayoutAlign="space-between center" >
            <div >
                    <!-- [@animate]="{value:'*',params:{y:'100%'}}"  -->
                <widget-card-chart-bar 
                    [widgetCardChartBar]="asChartEvolutionBrutDebit"

                    fxFlex=30>
                </widget-card-chart-bar>
            </div>
            <div>
                    <!-- [@animate]="{value:'*',params:{y:'100%'}}"  -->
                <widget-card-chart-bar [widgetCardChartBar]="asChartEvolutionBrutCredit"
                    
                    fxFlex=30
                >
                </widget-card-chart-bar>
            </div>
                <div>
                        <!-- [@animate]="{value:'*',params:{y:'100%'}}"  -->
                <widget-card-chart-bar [widgetCardChartBar]="asChartEvolutionBrutBalance"
                    
                    
                    fxFlex=30
                >
                </widget-card-chart-bar>
            </div>
        </div>



        <div 
            class="position-relative pt-24 pl-24 pr-24 pb-10 mat-blue-600-bg"
            fxLayoutAlign="space-between center">
        <div fxLayout="column" fxLayoutAlign="start start">
            <span class="h2">Evolution avec exclusion des virements internes</span>
            <span class="h5 secondary-text">Evolution sur les 12 derniers mois. Comparaison de la moyenne des 12 derniers mois avec le mois en cours</span>
        </div>
        </div> 

        <div fxLayout="row" fxLayoutAlign="space-between center" 
            *ngIf="(asChart$ | async)?.loader['asChartEvolutionNoIntTransfer']?.loaded else tp_loading">
        <div>
                <!-- [@animate]="{value:'*',params:{y:'100%'}}"  -->
            <widget-card-chart-bar [widgetCardChartBar]="asChartEvolutionNoIntTransferDebit"
                
                fxFlex=30>
            </widget-card-chart-bar>
        </div> 
        <div>
                <!-- [@animate]="{value:'*',params:{y:'100%'}}"  -->
        <widget-card-chart-bar [widgetCardChartBar]="asChartEvolutionNoIntTransferCredit"
            
            fxFlex=30
        >
        </widget-card-chart-bar>
        </div>
        <div>
                <!-- [@animate]="{value:'*',params:{y:'100%'}}"  -->
        <widget-card-chart-bar [widgetCardChartBar]="asChartEvolutionNoIntTransferBalance"
            
            
            fxFlex=30
        >
        </widget-card-chart-bar>
        </div>
        </div>

        <div class="position-relative pt-24 pl-24 pr-24 pb-10 mat-blue-600-bg"
            fxLayoutAlign="space-between center">
        <div fxLayout="column" fxLayoutAlign="start start">
            <span class="h2">Evolution de catégories personnalisées</span>
            <span class="h5 secondary-text">Evolution sur les 12 derniers mois. Comparaison de la moyenne des 12 derniers mois avec le mois en cours</span>
        </div>
        <form *ngIf="(asChart$ | async)?.loader['asChartEvolutionCustomOtfFilter']?.loaded"
            name="operationForm" 
            [formGroup]="customOtfForm" fxFlex="20"
            class="mt-12" fxLayout="column" >
                <mat-form-field appearance="outline" floatLabel="always" >
                    <mat-label>Catégorie d'opérations</mat-label>
                    <mat-select class="mini-select" 
                        formControlName="operationTypeFamilies" 
                        [compareWith]="compareObjects" 
                        placeholder="Catégorie d'opérations" 
                        multiple>
                    
                    <mat-optgroup *ngFor="let group of asChartEvolutionCustomOtfFilter.operationTypeFamilies" [label]="group.label">
                        <mat-option *ngFor="let item of group.selects" [value]="item">
                        {{ item.label }}
                        </mat-option>
                    </mat-optgroup>
                    </mat-select>
        
                </mat-form-field>
            </form>
        </div> 

        <div 
            fxLayout="row wrap" 
            fxLayoutAlign="space-between center"  
            *ngIf="(asChart$ | async)?.loader['asChartEvolutionCustomOtf']?.loaded else tp_loading"
        >
            <div *ngFor="let asChartEvolutionCustomOtf of asChartEvolutionCustomOtfs">
                <widget-card-chart-bar [widgetCardChartBar]="asChartEvolutionCustomOtf"
                    
                    [@animate]="{value:'*',params:{y:'100%'}}" 
                    fxFlex=30
                >
                </widget-card-chart-bar>
            </div>
        </div>

    </div>
</div>  
<!-- </div> -->

<ng-template #tp_loading>
    <div class="w-100-p"
        fxLayout="column"
        fxLayoutAlign="center center">
        <mat-progress-bar
          mode="indeterminate">
        </mat-progress-bar>
    </div>

    <!-- <div style="min-height:50vh;"
        fxLayout="row"
        fxLayoutAlign="center center">
        <spinner-four-cube size="40"></spinner-four-cube>
        
    </div> -->
</ng-template>