.scrollable-small {
    overflow-y: auto !important;
    max-height:70vh;
}

.scrollable-large {
    overflow-y: auto !important;
    max-height:91vh;
}

.mini-select {
    font-size:12px;
    min-width: 100px;
}

.mat-form-field-flex {
    background-color: white;
}