<mat-tab-group (selectedTabChange)="onTabChanged($event)">
    <mat-tab  *ngFor="let bank of banks" [label]="bank.labelBankLong">
        <ng-template mat-tab-label>
                <img [src]="bank.logoClassName" [alt]="bank.labelBankShort">
                {{bank.labelBankLong}}
        </ng-template>
        
        <mat-table class="import-statement-histo-table"
          #table [dataSource]="dataSource"
          [@animateStagger]="{value:'50'}"
          matSort matSortActive="id" matSortDirection="asc" matSortDisableClear 
          (matSortChange)="onSortChangeEvent($event)"
        >
        
        <!-- checkBox Column -->
        <ng-container matColumnDef="checkbox" >
            <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let data">
                <mat-checkbox 
                    [(ngModel)]="checkboxes[data.id]" 
                    (ngModelChange)="onSelectedChange(data.id)"
                    (click)="$event.stopPropagation()">
                </mat-checkbox>
            </mat-cell>
        </ng-container>

          <!-- ID Column -->
          <ng-container matColumnDef="id" >
              <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
              <mat-cell *matCellDef="let data">
                  <p class="text-truncate">{{data.id}}</p>
              </mat-cell>
          </ng-container>
            <!-- fileImport Column -->
            <ng-container matColumnDef="fileImport" >
                <mat-header-cell *matHeaderCellDef mat-sort-header>nom fichier</mat-header-cell>
                <mat-cell *matCellDef="let data">
                    <p class="text-truncate">{{data.fileImport}}</p>
                </mat-cell>
            </ng-container>
            <!-- dateImport Column -->
        <ng-container matColumnDef="dateImport" >
            <mat-header-cell *matHeaderCellDef mat-sort-header>date import</mat-header-cell>
            <mat-cell *matCellDef="let data">
                <p class="text-truncate">{{ data.dateImport | date: 'dd/MM/yyyy HH:mm:ss' || "-"}}</p>
            </mat-cell>
        </ng-container>
 
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              
        <mat-row *cdkRowDef="let data; columns: displayedColumns;"
            [ngClass]="{'mat-light-blue-50-bg':checkboxes[data.id]}"
            matRipple
             [@animate]="{value:'*',params:{y:'100%'}}">>
        </mat-row>
    </mat-table>
      
    <mat-paginator *ngIf="dataSource.pagination$ | async; let pagination"
        (page)="onPageChangeEvent($event)"
        [length]="pagination.totalItems" 
        [pageSize]="pagination.itemsPerPage"
        [pageSizeOptions]="[3, 5, 10]">
    </mat-paginator>


    </mat-tab>
</mat-tab-group>