<mat-tab-group 
    *ngIf="(asiTableFilter$ | async).filters as filters" 
    [selectedIndex]="filters.selected.indexTabBank"
    (selectedTabChange)="onTabChanged($event)"
>
    <mat-tab *ngFor="let bank of filters.banks;index as i" [label]="bank.label">
      <ng-template mat-tab-label>
          <img [src]="bank.color" [alt]="bank.label">
          {{bank.label}}
      </ng-template>

      <asi-list *ngIf="filters.selected.indexTabBank == i"></asi-list>
    </mat-tab>
</mat-tab-group>
    
<p class="empty-result" *ngIf="(asiTableFilter$ | async).loadingInfo.loaded 
    && (asiTableFilter$ | async).filters
    && (asiTableFilter$ | async).filters.banks==null">Aucun résultat</p>
