USE [master]
GO
/****** Object:  Database [XmlToSwift_Demo]    Script Date: 14/09/2018 09:36:00 ******/
CREATE DATABASE [XmlToSwift_Demo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'XmlToSwift_Demo', FILENAME = N'F:\DEV\XmlToSwift_Demo.mdf' , SIZE = 11328KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'XmlToSwift_Demo_log', FILENAME = N'G:\DEV\XmlToSwift_Demo_log.ldf' , SIZE = 43968KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [XmlToSwift_Demo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [XmlToSwift_Demo]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 14/09/2018 09:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 14/09/2018 09:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ALERT_THRESHOLD] [float] NOT NULL,
	[ID_ACCOUNT_TYPE] [int] NOT NULL,
	[ID_BANK] [int] NOT NULL,
	[LABEL] [nvarchar](50) NULL,
	[NUMBER] [nvarchar](50) NULL,
	[START_AMOUNT] [float] NOT NULL,
 CONSTRAINT [PK_ACCOUNT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACCOUNT_STATEMENT]    Script Date: 14/09/2018 09:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT_STATEMENT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AMOUNT_OPERATION] [float] NOT NULL,
	[DATE_IMPORT] [datetime2](7) NOT NULL,
	[DATE_INTEGRATION] [datetime2](7) NULL,
	[DATE_OPERATION] [datetime2](7) NULL,
	[ID_ACCOUNT] [int] NULL,
	[ID_IMPORT] [int] NOT NULL,
	[ID_MOVEMENT] [int] NOT NULL,
	[ID_OPERATION] [int] NULL,
	[ID_OPERATION_METHOD] [int] NULL,
	[ID_OPERATION_PLACE] [int] NULL,
	[ID_OPERATION_TYPE] [int] NULL,
	[ID_OPERATION_TYPE_FAMILY] [int] NULL,
	[LABEL_OPERATION] [nvarchar](500) NULL,
	[REFERENCE] [nvarchar](50) NULL,
	[ID_GMAP_ADDRESS] [int] NULL,
 CONSTRAINT [PK_ACCOUNT_STATEMENT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACCOUNT_STATEMENT_IMPORT]    Script Date: 14/09/2018 09:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT_STATEMENT_IMPORT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DATE_IMPORT] [datetime2](7) NOT NULL,
	[FILE_IMPORT] [nvarchar](max) NULL,
	[ID_BANK] [int] NOT NULL,
	[ID_USER] [int] NOT NULL,
 CONSTRAINT [PK_ACCOUNT_STATEMENT_IMPORT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACCOUNT_STATEMENT_IMPORT_FILE]    Script Date: 14/09/2018 09:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT_STATEMENT_IMPORT_FILE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AMOUNT_OPERATION] [float] NOT NULL,
	[DATE_IMPORT] [datetime2](7) NOT NULL,
	[DATE_INTEGRATION] [datetime2](7) NULL,
	[DATE_OPERATION] [datetime2](7) NULL,
	[STATE] [int] NOT NULL,
	[ID_ACCOUNT] [int] NULL,
	[ID_IMPORT] [int] NOT NULL,
	[ID_MOVEMENT] [int] NOT NULL,
	[ID_OPERATION] [int] NULL,
	[ID_OPERATION_METHOD] [int] NULL,
	[ID_OPERATION_TYPE] [int] NULL,
	[ID_OPERATION_TYPE_FAMILY] [int] NULL,
	[IS_DUPLICATED] [bit] NOT NULL,
	[LABEL_OPERATION] [nvarchar](500) NULL,
	[LABEL_OPERATION_WORK] [nvarchar](500) NULL,
	[OPERATION_KEYWORD_TEMP] [nvarchar](max) NULL,
	[OPERATION_LABEL_TEMP] [nvarchar](max) NULL,
	[OPERATION_REFERENCE_TEMP] [nvarchar](max) NULL,
	[REFERENCE] [nvarchar](50) NULL,
	[ID_GMAP_ADDRESS] [int] NULL,
	[PLACE_KEYWORD_TEMP] [nvarchar](500) NULL,
	[PLACE_LABEL_TEMP] [nvarchar](500) NULL,
 CONSTRAINT [PK_ACCOUNT_STATEMENT_IMPORT_FILE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACCOUNT_TYPE]    Script Date: 14/09/2018 09:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT_TYPE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LABEL] [nvarchar](50) NULL,
 CONSTRAINT [PK_ACCOUNT_TYPE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BANK]    Script Date: 14/09/2018 09:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANK](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ADDRESS_BANK] [nvarchar](50) NULL,
	[ADVISER_FIRST_NAME] [nvarchar](50) NULL,
	[ADVISER_FIXED_PHONE] [nvarchar](30) NULL,
	[ADVISER_LAST_NAME] [nvarchar](50) NULL,
	[ADVISER_MAIL] [nvarchar](50) NULL,
	[ADVISER_MOBILE_PHONE] [nvarchar](30) NULL,
	[FOLDER_FILE_SAVE] [nvarchar](max) NULL,
	[LABEL_BANK_LONG] [nvarchar](50) NULL,
	[LABEL_BANK_SHORT] [nvarchar](50) NULL,
	[LOGO_CLASS_NAME] [nvarchar](30) NULL,
	[POSTAL_CODE_BANK] [int] NOT NULL,
 CONSTRAINT [PK_BANK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BANK_FILE_DEFINITION]    Script Date: 14/09/2018 09:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANK_FILE_DEFINITION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_BANK] [int] NOT NULL,
	[LABEL_FIELD] [nvarchar](50) NULL,
	[LABEL_ORDER] [int] NOT NULL,
 CONSTRAINT [PK_BANK_FILE_DEFINITION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GMAP_ADDRESS]    Script Date: 14/09/2018 09:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GMAP_ADDRESS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FORMATTED_ADDRESS] [nvarchar](max) NOT NULL,
	[LAT] [float] NOT NULL,
	[LNG] [float] NOT NULL,
	[ID_GMAP_ADMINISTRATIVE_AREA_LEVEL_1] [int] NOT NULL,
	[ID_GMAP_ADMINISTRATIVE_AREA_LEVEL_2] [int] NOT NULL,
	[ID_GMAP_COUNTRY] [int] NOT NULL,
	[ID_GMAP_LOCALITY] [int] NOT NULL,
	[ID_GMAP_NEIGHBORHOOD] [int] NOT NULL,
	[ID_GMAP_POSTAL_CODE] [int] NOT NULL,
	[ID_GMAP_ROUTE] [int] NOT NULL,
	[ID_GMAP_STREET_NUMBER] [int] NOT NULL,
	[ID_GMAP_SUBLOCALITY_LEVEL_1] [int] NOT NULL,
	[ID_GMAP_SUBLOCALITY_LEVEL_2] [int] NOT NULL,
 CONSTRAINT [PK_GMAP_ADDRESS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GMAP_ADDRESS_TYPE]    Script Date: 14/09/2018 09:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GMAP_ADDRESS_TYPE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_GMAP_ADDRESS] [int] NOT NULL,
	[ID_GMAP_TYPE] [int] NOT NULL,
 CONSTRAINT [PK_GMAP_ADDRESS_TYPE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GMAP_ADMINISTRATIVE_AREA_LEVEL_1]    Script Date: 14/09/2018 09:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GMAP_ADMINISTRATIVE_AREA_LEVEL_1](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LABEL] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_GMAP_ADMINISTRATIVE_AREA_LEVEL_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GMAP_ADMINISTRATIVE_AREA_LEVEL_2]    Script Date: 14/09/2018 09:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GMAP_ADMINISTRATIVE_AREA_LEVEL_2](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LABEL] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_GMAP_ADMINISTRATIVE_AREA_LEVEL_2] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GMAP_COUNTRY]    Script Date: 14/09/2018 09:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GMAP_COUNTRY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LABEL] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_GMAP_COUNTRY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GMAP_LOCALITY]    Script Date: 14/09/2018 09:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GMAP_LOCALITY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LABEL] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_GMAP_LOCALITY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GMAP_NEIGHBORHOOD]    Script Date: 14/09/2018 09:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GMAP_NEIGHBORHOOD](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LABEL] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_GMAP_NEIGHBORHOOD] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GMAP_POSTAL_CODE]    Script Date: 14/09/2018 09:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GMAP_POSTAL_CODE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LABEL] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_GMAP_POSTAL_CODE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GMAP_ROUTE]    Script Date: 14/09/2018 09:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GMAP_ROUTE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LABEL] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_GMAP_ROUTE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GMAP_STREET_NUMBER]    Script Date: 14/09/2018 09:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GMAP_STREET_NUMBER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LABEL] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_GMAP_STREET_NUMBER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GMAP_SUBLOCALITY_LEVEL_1]    Script Date: 14/09/2018 09:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GMAP_SUBLOCALITY_LEVEL_1](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LABEL] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_GMAP_SUBLOCALITY_LEVEL_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GMAP_SUBLOCALITY_LEVEL_2]    Script Date: 14/09/2018 09:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GMAP_SUBLOCALITY_LEVEL_2](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LABEL] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_GMAP_SUBLOCALITY_LEVEL_2] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GMAP_TYPE]    Script Date: 14/09/2018 09:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GMAP_TYPE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LABEL] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_GMAP_TYPE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPERATION]    Script Date: 14/09/2018 09:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPERATION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_OPERATION_METHOD] [int] NOT NULL,
	[ID_OPERATION_TYPE] [int] NOT NULL,
	[KEYWORD] [nvarchar](255) NOT NULL,
	[LABEL] [nvarchar](255) NOT NULL,
	[REFERENCE] [nvarchar](20) NULL,
 CONSTRAINT [PK_OPERATION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPERATION_DETAIL]    Script Date: 14/09/2018 09:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPERATION_DETAIL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_GMAP_ADDRESS] [int] NOT NULL,
	[ID_OPERATION] [int] NOT NULL,
	[KEYWORD_OPERATION] [nvarchar](max) NULL,
	[KEYWORD_PLACE] [nvarchar](max) NULL,
 CONSTRAINT [PK_OPERATION_DETAIL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPERATION_METHOD]    Script Date: 14/09/2018 09:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPERATION_METHOD](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LABEL] [nvarchar](50) NULL,
 CONSTRAINT [PK_OPERATION_METHOD] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPERATION_METHOD_LEXICAL]    Script Date: 14/09/2018 09:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPERATION_METHOD_LEXICAL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_BANK] [int] NOT NULL,
	[ID_OPERATION_METHOD] [int] NOT NULL,
	[KEYWORD] [nvarchar](50) NULL,
	[ORDER_ID] [int] NOT NULL,
 CONSTRAINT [PK_OPERATION_METHOD_LEXICAL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPERATION_PLACE]    Script Date: 14/09/2018 09:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPERATION_PLACE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CITY] [nvarchar](50) NULL,
	[DEPARTMENT] [nvarchar](10) NULL,
	[KEYWORD] [nvarchar](60) NULL,
 CONSTRAINT [PK_OPERATION_PLACE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPERATION_TYPE]    Script Date: 14/09/2018 09:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPERATION_TYPE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_OPERATION_TYPE_FAMILY] [int] NOT NULL,
	[LABEL] [nvarchar](50) NULL,
 CONSTRAINT [PK_OPERATION_TYPE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPERATION_TYPE_FAMILY]    Script Date: 14/09/2018 09:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPERATION_TYPE_FAMILY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_MOVEMENT] [int] NOT NULL,
	[LABEL] [nvarchar](50) NULL,
	[LOGO_CLASS_NAME] [nvarchar](30) NULL,
 CONSTRAINT [PK_OPERATION_TYPE_FAMILY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PARAMETER]    Script Date: 14/09/2018 09:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARAMETER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_USER] [int] NOT NULL,
	[IMPORT_FILE_DIR] [nvarchar](100) NULL,
 CONSTRAINT [PK_PARAMETER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SHORTCUT]    Script Date: 14/09/2018 09:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHORTCUT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ICON] [nvarchar](max) NULL,
	[ID_USER] [int] NOT NULL,
	[TITLE] [nvarchar](max) NULL,
	[TYPE] [nvarchar](max) NULL,
	[URL] [nvarchar](max) NULL,
 CONSTRAINT [PK_SHORTCUT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 14/09/2018 09:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AVATAR_URL] [nvarchar](max) NULL,
	[CITY] [nvarchar](max) NULL,
	[COUNTRY] [nvarchar](max) NULL,
	[CREATION_DATE] [datetime2](7) NOT NULL,
	[LAST_ACTIVE_DATE] [datetime2](7) NOT NULL,
	[BIRTH_DATE] [datetime2](7) NOT NULL,
	[FIRST_NAME] [nvarchar](max) NULL,
	[GENDER] [nvarchar](max) NULL,
	[ID_AVATAR_CLOUD] [nvarchar](max) NULL,
	[LAST_NAME] [nvarchar](max) NULL,
	[PASSWORD_HASH] [varbinary](max) NULL,
	[PASSWORD_SALT] [varbinary](max) NULL,
	[POSTAL_CODE] [int] NOT NULL,
	[USER_NAME] [nvarchar](max) NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_ACCOUNT]    Script Date: 14/09/2018 09:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_ACCOUNT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_ACCOUNT] [int] NOT NULL,
	[ID_USER] [int] NOT NULL,
 CONSTRAINT [PK_USER_ACCOUNT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20180320083156_Init', N'2.0.0-rtm-26452')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20180320093608_add_parameter', N'2.0.0-rtm-26452')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20180322203154_Init', N'2.0.0-rtm-26452')
SET IDENTITY_INSERT [dbo].[ACCOUNT] ON 

INSERT [dbo].[ACCOUNT] ([ID], [ALERT_THRESHOLD], [ID_ACCOUNT_TYPE], [ID_BANK], [LABEL], [NUMBER], [START_AMOUNT]) VALUES (1, 0, 1, 1, N'INCONNU', N'Inconnu', 0)
INSERT [dbo].[ACCOUNT] ([ID], [ALERT_THRESHOLD], [ID_ACCOUNT_TYPE], [ID_BANK], [LABEL], [NUMBER], [START_AMOUNT]) VALUES (2, 200, 1, 4, N'Compte courant', N'30919688066', 1713.27)
INSERT [dbo].[ACCOUNT] ([ID], [ALERT_THRESHOLD], [ID_ACCOUNT_TYPE], [ID_BANK], [LABEL], [NUMBER], [START_AMOUNT]) VALUES (19, 50, 1, 4, N'Compte commun', N'30919688017', 166.89)
SET IDENTITY_INSERT [dbo].[ACCOUNT] OFF

SET IDENTITY_INSERT [dbo].[ACCOUNT_TYPE] ON 
INSERT [dbo].[ACCOUNT_TYPE] ([ID], [LABEL]) VALUES (1, N'Compte courant')
INSERT [dbo].[ACCOUNT_TYPE] ([ID], [LABEL]) VALUES (2, N'Epargne')
SET IDENTITY_INSERT [dbo].[ACCOUNT_TYPE] OFF
SET IDENTITY_INSERT [dbo].[BANK] ON 

INSERT [dbo].[BANK] ([ID], [ADDRESS_BANK], [ADVISER_FIRST_NAME], [ADVISER_FIXED_PHONE], [ADVISER_LAST_NAME], [ADVISER_MAIL], [ADVISER_MOBILE_PHONE], [FOLDER_FILE_SAVE], [LABEL_BANK_LONG], [LABEL_BANK_SHORT], [LOGO_CLASS_NAME], [POSTAL_CODE_BANK]) VALUES (1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'INCONNU', N'INCONNU', N'INC', 0)
INSERT [dbo].[BANK] ([ID], [ADDRESS_BANK], [ADVISER_FIRST_NAME], [ADVISER_FIXED_PHONE], [ADVISER_LAST_NAME], [ADVISER_MAIL], [ADVISER_MOBILE_PHONE], [FOLDER_FILE_SAVE], [LABEL_BANK_LONG], [LABEL_BANK_SHORT], [LOGO_CLASS_NAME], [POSTAL_CODE_BANK]) VALUES (2, NULL, NULL, NULL, NULL, NULL, NULL, N'Z:\ADMINISTRATION\RELEVE_BANCAIRE\CAM\', N'Crédit Agricole Du Morbihan', N'CAM', N'./assets/images/CAM_32.png', 56)
INSERT [dbo].[BANK] ([ID], [ADDRESS_BANK], [ADVISER_FIRST_NAME], [ADVISER_FIXED_PHONE], [ADVISER_LAST_NAME], [ADVISER_MAIL], [ADVISER_MOBILE_PHONE], [FOLDER_FILE_SAVE], [LABEL_BANK_LONG], [LABEL_BANK_SHORT], [LOGO_CLASS_NAME], [POSTAL_CODE_BANK]) VALUES (4, NULL, NULL, NULL, NULL, NULL, NULL, N'Z:\ADMINISTRATION\RELEVE_BANCAIRE\BPVF\', N'Banque Populaire Val De France', N'BPVF', N'./assets/images/BPVF_32.png', 91)
SET IDENTITY_INSERT [dbo].[BANK] OFF
SET IDENTITY_INSERT [dbo].[BANK_FILE_DEFINITION] ON 

INSERT [dbo].[BANK_FILE_DEFINITION] ([ID], [ID_BANK], [LABEL_FIELD], [LABEL_ORDER]) VALUES (1, 4, N'Compte', 1)
INSERT [dbo].[BANK_FILE_DEFINITION] ([ID], [ID_BANK], [LABEL_FIELD], [LABEL_ORDER]) VALUES (2, 4, N'Date de comptabilisation', 2)
INSERT [dbo].[BANK_FILE_DEFINITION] ([ID], [ID_BANK], [LABEL_FIELD], [LABEL_ORDER]) VALUES (3, 4, N'Date opération', 3)
SET IDENTITY_INSERT [dbo].[BANK_FILE_DEFINITION] OFF
SET IDENTITY_INSERT [dbo].[GMAP_ADDRESS] ON 

INSERT [dbo].[GMAP_ADDRESS] ([ID], [FORMATTED_ADDRESS], [LAT], [LNG], [ID_GMAP_ADMINISTRATIVE_AREA_LEVEL_1], [ID_GMAP_ADMINISTRATIVE_AREA_LEVEL_2], [ID_GMAP_COUNTRY], [ID_GMAP_LOCALITY], [ID_GMAP_NEIGHBORHOOD], [ID_GMAP_POSTAL_CODE], [ID_GMAP_ROUTE], [ID_GMAP_STREET_NUMBER], [ID_GMAP_SUBLOCALITY_LEVEL_1], [ID_GMAP_SUBLOCALITY_LEVEL_2]) VALUES (1, N'INCONNU', 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1)
INSERT [dbo].[GMAP_ADDRESS] ([ID], [FORMATTED_ADDRESS], [LAT], [LNG], [ID_GMAP_ADMINISTRATIVE_AREA_LEVEL_1], [ID_GMAP_ADMINISTRATIVE_AREA_LEVEL_2], [ID_GMAP_COUNTRY], [ID_GMAP_LOCALITY], [ID_GMAP_NEIGHBORHOOD], [ID_GMAP_POSTAL_CODE], [ID_GMAP_ROUTE], [ID_GMAP_STREET_NUMBER], [ID_GMAP_SUBLOCALITY_LEVEL_1], [ID_GMAP_SUBLOCALITY_LEVEL_2]) VALUES (2, N'N/A', 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1)
INSERT [dbo].[GMAP_ADDRESS] ([ID], [FORMATTED_ADDRESS], [LAT], [LNG], [ID_GMAP_ADMINISTRATIVE_AREA_LEVEL_1], [ID_GMAP_ADMINISTRATIVE_AREA_LEVEL_2], [ID_GMAP_COUNTRY], [ID_GMAP_LOCALITY], [ID_GMAP_NEIGHBORHOOD], [ID_GMAP_POSTAL_CODE], [ID_GMAP_ROUTE], [ID_GMAP_STREET_NUMBER], [ID_GMAP_SUBLOCALITY_LEVEL_1], [ID_GMAP_SUBLOCALITY_LEVEL_2]) VALUES (3, N'INTERNET', 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[GMAP_ADDRESS] OFF
SET IDENTITY_INSERT [dbo].[GMAP_ADDRESS_TYPE] ON 

INSERT [dbo].[GMAP_ADDRESS_TYPE] ([ID], [ID_GMAP_ADDRESS], [ID_GMAP_TYPE]) VALUES (1, 11, 1)
INSERT [dbo].[GMAP_ADDRESS_TYPE] ([ID], [ID_GMAP_ADDRESS], [ID_GMAP_TYPE]) VALUES (2, 11, 2)
INSERT [dbo].[GMAP_ADDRESS_TYPE] ([ID], [ID_GMAP_ADDRESS], [ID_GMAP_TYPE]) VALUES (3, 11, 3)
SET IDENTITY_INSERT [dbo].[GMAP_ADDRESS_TYPE] OFF
SET IDENTITY_INSERT [dbo].[GMAP_ADMINISTRATIVE_AREA_LEVEL_1] ON 

INSERT [dbo].[GMAP_ADMINISTRATIVE_AREA_LEVEL_1] ([ID], [LABEL]) VALUES (1, N'INCONNU')
INSERT [dbo].[GMAP_ADMINISTRATIVE_AREA_LEVEL_1] ([ID], [LABEL]) VALUES (7, N'Île-de-France')
INSERT [dbo].[GMAP_ADMINISTRATIVE_AREA_LEVEL_1] ([ID], [LABEL]) VALUES (8, N'Bretagne')
SET IDENTITY_INSERT [dbo].[GMAP_ADMINISTRATIVE_AREA_LEVEL_1] OFF
SET IDENTITY_INSERT [dbo].[GMAP_ADMINISTRATIVE_AREA_LEVEL_2] ON 

INSERT [dbo].[GMAP_ADMINISTRATIVE_AREA_LEVEL_2] ([ID], [LABEL]) VALUES (1, N'INCONNU')
INSERT [dbo].[GMAP_ADMINISTRATIVE_AREA_LEVEL_2] ([ID], [LABEL]) VALUES (2, N'Paris')
INSERT [dbo].[GMAP_ADMINISTRATIVE_AREA_LEVEL_2] ([ID], [LABEL]) VALUES (3, N'Ille-et-Vilaine')
SET IDENTITY_INSERT [dbo].[GMAP_ADMINISTRATIVE_AREA_LEVEL_2] OFF
SET IDENTITY_INSERT [dbo].[GMAP_COUNTRY] ON 

INSERT [dbo].[GMAP_COUNTRY] ([ID], [LABEL]) VALUES (1, N'INCONNU')
INSERT [dbo].[GMAP_COUNTRY] ([ID], [LABEL]) VALUES (2, N'FR')
SET IDENTITY_INSERT [dbo].[GMAP_COUNTRY] OFF
SET IDENTITY_INSERT [dbo].[GMAP_LOCALITY] ON 

INSERT [dbo].[GMAP_LOCALITY] ([ID], [LABEL]) VALUES (1, N'INCONNU')
INSERT [dbo].[GMAP_LOCALITY] ([ID], [LABEL]) VALUES (2, N'Paris')
INSERT [dbo].[GMAP_LOCALITY] ([ID], [LABEL]) VALUES (3, N'Grand-Fougeray')
SET IDENTITY_INSERT [dbo].[GMAP_LOCALITY] OFF
SET IDENTITY_INSERT [dbo].[GMAP_NEIGHBORHOOD] ON 

INSERT [dbo].[GMAP_NEIGHBORHOOD] ([ID], [LABEL]) VALUES (1, N'INCONNU')
SET IDENTITY_INSERT [dbo].[GMAP_NEIGHBORHOOD] OFF
SET IDENTITY_INSERT [dbo].[GMAP_POSTAL_CODE] ON 

INSERT [dbo].[GMAP_POSTAL_CODE] ([ID], [LABEL]) VALUES (1, N'INCONNU')
INSERT [dbo].[GMAP_POSTAL_CODE] ([ID], [LABEL]) VALUES (2, N'75002')
INSERT [dbo].[GMAP_POSTAL_CODE] ([ID], [LABEL]) VALUES (3, N'75008')
SET IDENTITY_INSERT [dbo].[GMAP_POSTAL_CODE] OFF
SET IDENTITY_INSERT [dbo].[GMAP_ROUTE] ON 

INSERT [dbo].[GMAP_ROUTE] ([ID], [LABEL]) VALUES (1, N'INCONNU')
INSERT [dbo].[GMAP_ROUTE] ([ID], [LABEL]) VALUES (2, N'Rue de la Michodière')
INSERT [dbo].[GMAP_ROUTE] ([ID], [LABEL]) VALUES (3, N'Rue de l''Isly')
SET IDENTITY_INSERT [dbo].[GMAP_ROUTE] OFF
SET IDENTITY_INSERT [dbo].[GMAP_STREET_NUMBER] ON 

INSERT [dbo].[GMAP_STREET_NUMBER] ([ID], [LABEL]) VALUES (1, N'INCONNU')
INSERT [dbo].[GMAP_STREET_NUMBER] ([ID], [LABEL]) VALUES (2, N'11')
INSERT [dbo].[GMAP_STREET_NUMBER] ([ID], [LABEL]) VALUES (3, N'10')
SET IDENTITY_INSERT [dbo].[GMAP_STREET_NUMBER] OFF
SET IDENTITY_INSERT [dbo].[GMAP_SUBLOCALITY_LEVEL_1] ON 

INSERT [dbo].[GMAP_SUBLOCALITY_LEVEL_1] ([ID], [LABEL]) VALUES (1, N'INCONNU')
INSERT [dbo].[GMAP_SUBLOCALITY_LEVEL_1] ([ID], [LABEL]) VALUES (2, N'2e Arrondissement')
INSERT [dbo].[GMAP_SUBLOCALITY_LEVEL_1] ([ID], [LABEL]) VALUES (3, N'4e Arrondissement')
SET IDENTITY_INSERT [dbo].[GMAP_SUBLOCALITY_LEVEL_1] OFF
SET IDENTITY_INSERT [dbo].[GMAP_SUBLOCALITY_LEVEL_2] ON 

INSERT [dbo].[GMAP_SUBLOCALITY_LEVEL_2] ([ID], [LABEL]) VALUES (1, N'INCONNU')
SET IDENTITY_INSERT [dbo].[GMAP_SUBLOCALITY_LEVEL_2] OFF
SET IDENTITY_INSERT [dbo].[GMAP_TYPE] ON 

INSERT [dbo].[GMAP_TYPE] ([ID], [LABEL]) VALUES (1, N'bar')
INSERT [dbo].[GMAP_TYPE] ([ID], [LABEL]) VALUES (2, N'establishment')
INSERT [dbo].[GMAP_TYPE] ([ID], [LABEL]) VALUES (3, N'food')
SET IDENTITY_INSERT [dbo].[GMAP_TYPE] OFF
SET IDENTITY_INSERT [dbo].[OPERATION] ON 

INSERT [dbo].[OPERATION] ([ID], [ID_OPERATION_METHOD], [ID_OPERATION_TYPE], [KEYWORD], [LABEL], [REFERENCE]) VALUES (1, 1, 1, N'--FAKE_KEYWORD--', N'INCONNU', NULL)
INSERT [dbo].[OPERATION] ([ID], [ID_OPERATION_METHOD], [ID_OPERATION_TYPE], [KEYWORD], [LABEL], [REFERENCE]) VALUES (2, 5, 8, N'REMCHQ', N'REMISE CHEQUE', NULL)
INSERT [dbo].[OPERATION] ([ID], [ID_OPERATION_METHOD], [ID_OPERATION_TYPE], [KEYWORD], [LABEL], [REFERENCE]) VALUES (3, 8, 56, N'RETRAITDU', N'RETRAIT DAB', NULL)
GO
SET IDENTITY_INSERT [dbo].[OPERATION] OFF
SET IDENTITY_INSERT [dbo].[OPERATION_DETAIL] ON 

INSERT [dbo].[OPERATION_DETAIL] ([ID], [ID_GMAP_ADDRESS], [ID_OPERATION], [KEYWORD_OPERATION], [KEYWORD_PLACE]) VALUES (2, 1, 1, N'--FAKE_KEYWORD--', N'--FAKE_KEYWORD--')
INSERT [dbo].[OPERATION_DETAIL] ([ID], [ID_GMAP_ADDRESS], [ID_OPERATION], [KEYWORD_OPERATION], [KEYWORD_PLACE]) VALUES (3, 2, 2, N'REMCHQ', NULL)
INSERT [dbo].[OPERATION_DETAIL] ([ID], [ID_GMAP_ADDRESS], [ID_OPERATION], [KEYWORD_OPERATION], [KEYWORD_PLACE]) VALUES (4, 2, 6, N'CONFIRMATIONDEVI', NULL)
GO
SET IDENTITY_INSERT [dbo].[OPERATION_DETAIL] OFF
SET IDENTITY_INSERT [dbo].[OPERATION_METHOD] ON 

INSERT [dbo].[OPERATION_METHOD] ([ID], [LABEL]) VALUES (1, N'Inconnue')
INSERT [dbo].[OPERATION_METHOD] ([ID], [LABEL]) VALUES (2, N'Paiement Carte bancaire')
INSERT [dbo].[OPERATION_METHOD] ([ID], [LABEL]) VALUES (3, N'Cotisation')
SET IDENTITY_INSERT [dbo].[OPERATION_METHOD] OFF
SET IDENTITY_INSERT [dbo].[OPERATION_METHOD_LEXICAL] ON 

INSERT [dbo].[OPERATION_METHOD_LEXICAL] ([ID], [ID_BANK], [ID_OPERATION_METHOD], [KEYWORD], [ORDER_ID]) VALUES (1, 4, 2, N'CARTE', 2)
INSERT [dbo].[OPERATION_METHOD_LEXICAL] ([ID], [ID_BANK], [ID_OPERATION_METHOD], [KEYWORD], [ORDER_ID]) VALUES (2, 4, 3, N'COTISATION', 4)
INSERT [dbo].[OPERATION_METHOD_LEXICAL] ([ID], [ID_BANK], [ID_OPERATION_METHOD], [KEYWORD], [ORDER_ID]) VALUES (3, 4, 4, N'VIREMENT', 5)
SET IDENTITY_INSERT [dbo].[OPERATION_METHOD_LEXICAL] OFF
SET IDENTITY_INSERT [dbo].[OPERATION_PLACE] ON 

INSERT [dbo].[OPERATION_PLACE] ([ID], [CITY], [DEPARTMENT], [KEYWORD]) VALUES (1, N'INCONNU', NULL, N'--FAKE_KEYWORD--')
INSERT [dbo].[OPERATION_PLACE] ([ID], [CITY], [DEPARTMENT], [KEYWORD]) VALUES (2, N'N/A', NULL, N'--FAKE_KEYWORD--')
INSERT [dbo].[OPERATION_PLACE] ([ID], [CITY], [DEPARTMENT], [KEYWORD]) VALUES (3, N'TOURLAVILLE', N'50', N'50TOURLAVILLE')
SET IDENTITY_INSERT [dbo].[OPERATION_PLACE] OFF
SET IDENTITY_INSERT [dbo].[OPERATION_TYPE] ON 

INSERT [dbo].[OPERATION_TYPE] ([ID], [ID_OPERATION_TYPE_FAMILY], [LABEL]) VALUES (1, 1, N'INCONNU')
INSERT [dbo].[OPERATION_TYPE] ([ID], [ID_OPERATION_TYPE_FAMILY], [LABEL]) VALUES (2, 2, N'Accident du travail')
INSERT [dbo].[OPERATION_TYPE] ([ID], [ID_OPERATION_TYPE_FAMILY], [LABEL]) VALUES (3, 2, N'Allocation de chomage')
GO
SET IDENTITY_INSERT [dbo].[OPERATION_TYPE] OFF
SET IDENTITY_INSERT [dbo].[OPERATION_TYPE_FAMILY] ON 

INSERT [dbo].[OPERATION_TYPE_FAMILY] ([ID], [ID_MOVEMENT], [LABEL], [LOGO_CLASS_NAME]) VALUES (1, 1, N'INCONNU', N'OtfInconnu')
INSERT [dbo].[OPERATION_TYPE_FAMILY] ([ID], [ID_MOVEMENT], [LABEL], [LOGO_CLASS_NAME]) VALUES (2, 1, N'Autres revenus', NULL)
INSERT [dbo].[OPERATION_TYPE_FAMILY] ([ID], [ID_MOVEMENT], [LABEL], [LOGO_CLASS_NAME]) VALUES (3, 1, N'Placements', N'OtfPlacement')
SET IDENTITY_INSERT [dbo].[OPERATION_TYPE_FAMILY] OFF
SET IDENTITY_INSERT [dbo].[PARAMETER] ON 

INSERT [dbo].[PARAMETER] ([ID], [ID_USER], [IMPORT_FILE_DIR]) VALUES (1, 3, N'C:\Projects\Angular\File_Save\')
SET IDENTITY_INSERT [dbo].[PARAMETER] OFF
SET IDENTITY_INSERT [dbo].[SHORTCUT] ON 

INSERT [dbo].[SHORTCUT] ([ID], [ICON], [ID_USER], [TITLE], [TYPE], [URL]) VALUES (5, NULL, 3, N'Compte courant (...066)', N'item', N'/apps/account-statements/accounts/2')
SET IDENTITY_INSERT [dbo].[SHORTCUT] OFF
SET IDENTITY_INSERT [dbo].[USER] ON 

INSERT [dbo].[USER] ([ID], [AVATAR_URL], [CITY], [COUNTRY], [CREATION_DATE], [LAST_ACTIVE_DATE], [BIRTH_DATE], [FIRST_NAME], [GENDER], [ID_AVATAR_CLOUD], [LAST_NAME], [PASSWORD_HASH], [PASSWORD_SALT], [POSTAL_CODE], [USER_NAME]) VALUES (1, NULL, NULL, NULL, CAST(N'2017-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2018-01-01T00:00:00.0000000' AS DateTime2), CAST(N'1977-02-16T00:00:00.0000000' AS DateTime2), N'Nicolas', NULL, NULL, N'BRILLOUET', NULL, NULL, 91120, NULL)
INSERT [dbo].[USER] ([ID], [AVATAR_URL], [CITY], [COUNTRY], [CREATION_DATE], [LAST_ACTIVE_DATE], [BIRTH_DATE], [FIRST_NAME], [GENDER], [ID_AVATAR_CLOUD], [LAST_NAME], [PASSWORD_HASH], [PASSWORD_SALT], [POSTAL_CODE], [USER_NAME]) VALUES (2, NULL, NULL, NULL, CAST(N'2017-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2018-01-01T00:00:00.0000000' AS DateTime2), CAST(N'1982-01-25T00:00:00.0000000' AS DateTime2), N'Sandra', NULL, NULL, N'CHEROY', NULL, NULL, 91120, NULL)
SET IDENTITY_INSERT [dbo].[USER] OFF
SET IDENTITY_INSERT [dbo].[USER_ACCOUNT] ON 

INSERT [dbo].[USER_ACCOUNT] ([ID], [ID_ACCOUNT], [ID_USER]) VALUES (1, 2, 3)
INSERT [dbo].[USER_ACCOUNT] ([ID], [ID_ACCOUNT], [ID_USER]) VALUES (2, 19, 3)
INSERT [dbo].[USER_ACCOUNT] ([ID], [ID_ACCOUNT], [ID_USER]) VALUES (3, 30, 3)
SET IDENTITY_INSERT [dbo].[USER_ACCOUNT] OFF
/****** Object:  Index [IX_ACCOUNT_ID_ACCOUNT_TYPE]    Script Date: 14/09/2018 09:36:01 ******/
CREATE NONCLUSTERED INDEX [IX_ACCOUNT_ID_ACCOUNT_TYPE] ON [dbo].[ACCOUNT]
(
	[ID_ACCOUNT_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ACCOUNT_ID_BANK]    Script Date: 14/09/2018 09:36:01 ******/
CREATE NONCLUSTERED INDEX [IX_ACCOUNT_ID_BANK] ON [dbo].[ACCOUNT]
(
	[ID_BANK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AccountNumber]    Script Date: 14/09/2018 09:36:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_AccountNumber] ON [dbo].[ACCOUNT]
(
	[NUMBER] ASC
)
WHERE ([NUMBER] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ACCOUNT_STATEMENT_ID_ACCOUNT]    Script Date: 14/09/2018 09:36:01 ******/
CREATE NONCLUSTERED INDEX [IX_ACCOUNT_STATEMENT_ID_ACCOUNT] ON [dbo].[ACCOUNT_STATEMENT]
(
	[ID_ACCOUNT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ACCOUNT_STATEMENT_ID_GMAP_ADDRESS]    Script Date: 14/09/2018 09:36:01 ******/
CREATE NONCLUSTERED INDEX [IX_ACCOUNT_STATEMENT_ID_GMAP_ADDRESS] ON [dbo].[ACCOUNT_STATEMENT]
(
	[ID_GMAP_ADDRESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ACCOUNT_STATEMENT_ID_IMPORT]    Script Date: 14/09/2018 09:36:01 ******/
CREATE NONCLUSTERED INDEX [IX_ACCOUNT_STATEMENT_ID_IMPORT] ON [dbo].[ACCOUNT_STATEMENT]
(
	[ID_IMPORT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ACCOUNT_STATEMENT_ID_OPERATION]    Script Date: 14/09/2018 09:36:01 ******/
CREATE NONCLUSTERED INDEX [IX_ACCOUNT_STATEMENT_ID_OPERATION] ON [dbo].[ACCOUNT_STATEMENT]
(
	[ID_OPERATION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ACCOUNT_STATEMENT_ID_OPERATION_METHOD]    Script Date: 14/09/2018 09:36:01 ******/
CREATE NONCLUSTERED INDEX [IX_ACCOUNT_STATEMENT_ID_OPERATION_METHOD] ON [dbo].[ACCOUNT_STATEMENT]
(
	[ID_OPERATION_METHOD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ACCOUNT_STATEMENT_ID_OPERATION_PLACE]    Script Date: 14/09/2018 09:36:01 ******/
CREATE NONCLUSTERED INDEX [IX_ACCOUNT_STATEMENT_ID_OPERATION_PLACE] ON [dbo].[ACCOUNT_STATEMENT]
(
	[ID_OPERATION_PLACE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ACCOUNT_STATEMENT_ID_OPERATION_TYPE]    Script Date: 14/09/2018 09:36:01 ******/
CREATE NONCLUSTERED INDEX [IX_ACCOUNT_STATEMENT_ID_OPERATION_TYPE] ON [dbo].[ACCOUNT_STATEMENT]
(
	[ID_OPERATION_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ACCOUNT_STATEMENT_IMPORT_ID_BANK]    Script Date: 14/09/2018 09:36:01 ******/
CREATE NONCLUSTERED INDEX [IX_ACCOUNT_STATEMENT_IMPORT_ID_BANK] ON [dbo].[ACCOUNT_STATEMENT_IMPORT]
(
	[ID_BANK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ACCOUNT_STATEMENT_IMPORT_ID_USER]    Script Date: 14/09/2018 09:36:01 ******/
CREATE NONCLUSTERED INDEX [IX_ACCOUNT_STATEMENT_IMPORT_ID_USER] ON [dbo].[ACCOUNT_STATEMENT_IMPORT]
(
	[ID_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ACCOUNT_STATEMENT_IMPORT_FILE_ID_ACCOUNT]    Script Date: 14/09/2018 09:36:01 ******/
CREATE NONCLUSTERED INDEX [IX_ACCOUNT_STATEMENT_IMPORT_FILE_ID_ACCOUNT] ON [dbo].[ACCOUNT_STATEMENT_IMPORT_FILE]
(
	[ID_ACCOUNT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ACCOUNT_STATEMENT_IMPORT_FILE_ID_GMAP_ADDRESS]    Script Date: 14/09/2018 09:36:01 ******/
CREATE NONCLUSTERED INDEX [IX_ACCOUNT_STATEMENT_IMPORT_FILE_ID_GMAP_ADDRESS] ON [dbo].[ACCOUNT_STATEMENT_IMPORT_FILE]
(
	[ID_GMAP_ADDRESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ACCOUNT_STATEMENT_IMPORT_FILE_ID_IMPORT]    Script Date: 14/09/2018 09:36:01 ******/
CREATE NONCLUSTERED INDEX [IX_ACCOUNT_STATEMENT_IMPORT_FILE_ID_IMPORT] ON [dbo].[ACCOUNT_STATEMENT_IMPORT_FILE]
(
	[ID_IMPORT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ACCOUNT_STATEMENT_IMPORT_FILE_ID_OPERATION]    Script Date: 14/09/2018 09:36:01 ******/
CREATE NONCLUSTERED INDEX [IX_ACCOUNT_STATEMENT_IMPORT_FILE_ID_OPERATION] ON [dbo].[ACCOUNT_STATEMENT_IMPORT_FILE]
(
	[ID_OPERATION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ACCOUNT_STATEMENT_IMPORT_FILE_ID_OPERATION_METHOD]    Script Date: 14/09/2018 09:36:01 ******/
CREATE NONCLUSTERED INDEX [IX_ACCOUNT_STATEMENT_IMPORT_FILE_ID_OPERATION_METHOD] ON [dbo].[ACCOUNT_STATEMENT_IMPORT_FILE]
(
	[ID_OPERATION_METHOD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ACCOUNT_STATEMENT_IMPORT_FILE_ID_OPERATION_TYPE]    Script Date: 14/09/2018 09:36:01 ******/
CREATE NONCLUSTERED INDEX [IX_ACCOUNT_STATEMENT_IMPORT_FILE_ID_OPERATION_TYPE] ON [dbo].[ACCOUNT_STATEMENT_IMPORT_FILE]
(
	[ID_OPERATION_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ACCOUNT_STATEMENT_IMPORT_FILE_ID_OPERATION_TYPE_FAMILY]    Script Date: 14/09/2018 09:36:01 ******/
CREATE NONCLUSTERED INDEX [IX_ACCOUNT_STATEMENT_IMPORT_FILE_ID_OPERATION_TYPE_FAMILY] ON [dbo].[ACCOUNT_STATEMENT_IMPORT_FILE]
(
	[ID_OPERATION_TYPE_FAMILY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BANK_FILE_DEFINITION_ID_BANK]    Script Date: 14/09/2018 09:36:01 ******/
CREATE NONCLUSTERED INDEX [IX_BANK_FILE_DEFINITION_ID_BANK] ON [dbo].[BANK_FILE_DEFINITION]
(
	[ID_BANK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_GMAP_ADDRESS_ID_GMAP_ADMINISTRATIVE_AREA_LEVEL_1]    Script Date: 14/09/2018 09:36:01 ******/
CREATE NONCLUSTERED INDEX [IX_GMAP_ADDRESS_ID_GMAP_ADMINISTRATIVE_AREA_LEVEL_1] ON [dbo].[GMAP_ADDRESS]
(
	[ID_GMAP_ADMINISTRATIVE_AREA_LEVEL_1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_GMAP_ADDRESS_ID_GMAP_ADMINISTRATIVE_AREA_LEVEL_2]    Script Date: 14/09/2018 09:36:01 ******/
CREATE NONCLUSTERED INDEX [IX_GMAP_ADDRESS_ID_GMAP_ADMINISTRATIVE_AREA_LEVEL_2] ON [dbo].[GMAP_ADDRESS]
(
	[ID_GMAP_ADMINISTRATIVE_AREA_LEVEL_2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_GMAP_ADDRESS_ID_GMAP_COUNTRY]    Script Date: 14/09/2018 09:36:01 ******/
CREATE NONCLUSTERED INDEX [IX_GMAP_ADDRESS_ID_GMAP_COUNTRY] ON [dbo].[GMAP_ADDRESS]
(
	[ID_GMAP_COUNTRY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_GMAP_ADDRESS_ID_GMAP_LOCALITY]    Script Date: 14/09/2018 09:36:01 ******/
CREATE NONCLUSTERED INDEX [IX_GMAP_ADDRESS_ID_GMAP_LOCALITY] ON [dbo].[GMAP_ADDRESS]
(
	[ID_GMAP_LOCALITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_GMAP_ADDRESS_ID_GMAP_NEIGHBORHOOD]    Script Date: 14/09/2018 09:36:01 ******/
CREATE NONCLUSTERED INDEX [IX_GMAP_ADDRESS_ID_GMAP_NEIGHBORHOOD] ON [dbo].[GMAP_ADDRESS]
(
	[ID_GMAP_NEIGHBORHOOD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_GMAP_ADDRESS_ID_GMAP_POSTAL_CODE]    Script Date: 14/09/2018 09:36:01 ******/
CREATE NONCLUSTERED INDEX [IX_GMAP_ADDRESS_ID_GMAP_POSTAL_CODE] ON [dbo].[GMAP_ADDRESS]
(
	[ID_GMAP_POSTAL_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_GMAP_ADDRESS_ID_GMAP_ROUTE]    Script Date: 14/09/2018 09:36:01 ******/
CREATE NONCLUSTERED INDEX [IX_GMAP_ADDRESS_ID_GMAP_ROUTE] ON [dbo].[GMAP_ADDRESS]
(
	[ID_GMAP_ROUTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_GMAP_ADDRESS_ID_GMAP_STREET_NUMBER]    Script Date: 14/09/2018 09:36:01 ******/
CREATE NONCLUSTERED INDEX [IX_GMAP_ADDRESS_ID_GMAP_STREET_NUMBER] ON [dbo].[GMAP_ADDRESS]
(
	[ID_GMAP_STREET_NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_GMAP_ADDRESS_ID_GMAP_SUBLOCALITY_LEVEL_1]    Script Date: 14/09/2018 09:36:01 ******/
CREATE NONCLUSTERED INDEX [IX_GMAP_ADDRESS_ID_GMAP_SUBLOCALITY_LEVEL_1] ON [dbo].[GMAP_ADDRESS]
(
	[ID_GMAP_SUBLOCALITY_LEVEL_1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_GMAP_ADDRESS_ID_GMAP_SUBLOCALITY_LEVEL_2]    Script Date: 14/09/2018 09:36:01 ******/
CREATE NONCLUSTERED INDEX [IX_GMAP_ADDRESS_ID_GMAP_SUBLOCALITY_LEVEL_2] ON [dbo].[GMAP_ADDRESS]
(
	[ID_GMAP_SUBLOCALITY_LEVEL_2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_GMAP_ADDRESS_TYPE_ID_GMAP_ADDRESS]    Script Date: 14/09/2018 09:36:01 ******/
CREATE NONCLUSTERED INDEX [IX_GMAP_ADDRESS_TYPE_ID_GMAP_ADDRESS] ON [dbo].[GMAP_ADDRESS_TYPE]
(
	[ID_GMAP_ADDRESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_GMAP_ADDRESS_TYPE_ID_GMAP_TYPE]    Script Date: 14/09/2018 09:36:01 ******/
CREATE NONCLUSTERED INDEX [IX_GMAP_ADDRESS_TYPE_ID_GMAP_TYPE] ON [dbo].[GMAP_ADDRESS_TYPE]
(
	[ID_GMAP_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_OPERATION_ID_OPERATION_METHOD]    Script Date: 14/09/2018 09:36:01 ******/
CREATE NONCLUSTERED INDEX [IX_OPERATION_ID_OPERATION_METHOD] ON [dbo].[OPERATION]
(
	[ID_OPERATION_METHOD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_OPERATION_ID_OPERATION_TYPE]    Script Date: 14/09/2018 09:36:01 ******/
CREATE NONCLUSTERED INDEX [IX_OPERATION_ID_OPERATION_TYPE] ON [dbo].[OPERATION]
(
	[ID_OPERATION_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_OperationKeyword]    Script Date: 14/09/2018 09:36:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_OperationKeyword] ON [dbo].[OPERATION]
(
	[KEYWORD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_OperationLabel]    Script Date: 14/09/2018 09:36:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_OperationLabel] ON [dbo].[OPERATION]
(
	[LABEL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_OPERATION_DETAIL_ID_GMAP_ADDRESS]    Script Date: 14/09/2018 09:36:01 ******/
CREATE NONCLUSTERED INDEX [IX_OPERATION_DETAIL_ID_GMAP_ADDRESS] ON [dbo].[OPERATION_DETAIL]
(
	[ID_GMAP_ADDRESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_OPERATION_DETAIL_ID_OPERATION]    Script Date: 14/09/2018 09:36:01 ******/
CREATE NONCLUSTERED INDEX [IX_OPERATION_DETAIL_ID_OPERATION] ON [dbo].[OPERATION_DETAIL]
(
	[ID_OPERATION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_OPERATION_METHOD_LEXICAL_ID_BANK]    Script Date: 14/09/2018 09:36:01 ******/
CREATE NONCLUSTERED INDEX [IX_OPERATION_METHOD_LEXICAL_ID_BANK] ON [dbo].[OPERATION_METHOD_LEXICAL]
(
	[ID_BANK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_OPERATION_METHOD_LEXICAL_ID_OPERATION_METHOD]    Script Date: 14/09/2018 09:36:01 ******/
CREATE NONCLUSTERED INDEX [IX_OPERATION_METHOD_LEXICAL_ID_OPERATION_METHOD] ON [dbo].[OPERATION_METHOD_LEXICAL]
(
	[ID_OPERATION_METHOD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_OPERATION_TYPE_ID_OPERATION_TYPE_FAMILY]    Script Date: 14/09/2018 09:36:01 ******/
CREATE NONCLUSTERED INDEX [IX_OPERATION_TYPE_ID_OPERATION_TYPE_FAMILY] ON [dbo].[OPERATION_TYPE]
(
	[ID_OPERATION_TYPE_FAMILY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_OTF_Id_IdMovement]    Script Date: 14/09/2018 09:36:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_OTF_Id_IdMovement] ON [dbo].[OPERATION_TYPE_FAMILY]
(
	[ID] ASC,
	[ID_MOVEMENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PARAMETER_ID_USER]    Script Date: 14/09/2018 09:36:01 ******/
CREATE NONCLUSTERED INDEX [IX_PARAMETER_ID_USER] ON [dbo].[PARAMETER]
(
	[ID_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SHORTCUT_ID_USER]    Script Date: 14/09/2018 09:36:01 ******/
CREATE NONCLUSTERED INDEX [IX_SHORTCUT_ID_USER] ON [dbo].[SHORTCUT]
(
	[ID_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_USER_ACCOUNT_ID_ACCOUNT]    Script Date: 14/09/2018 09:36:01 ******/
CREATE NONCLUSTERED INDEX [IX_USER_ACCOUNT_ID_ACCOUNT] ON [dbo].[USER_ACCOUNT]
(
	[ID_ACCOUNT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_USER_ACCOUNT_ID_USER]    Script Date: 14/09/2018 09:36:01 ******/
CREATE NONCLUSTERED INDEX [IX_USER_ACCOUNT_ID_USER] ON [dbo].[USER_ACCOUNT]
(
	[ID_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_ACCOUNT_TYPE_ID_ACCOUNT_TYPE] FOREIGN KEY([ID_ACCOUNT_TYPE])
REFERENCES [dbo].[ACCOUNT_TYPE] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ACCOUNT] CHECK CONSTRAINT [FK_ACCOUNT_ACCOUNT_TYPE_ID_ACCOUNT_TYPE]
GO
ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_BANK_ID_BANK] FOREIGN KEY([ID_BANK])
REFERENCES [dbo].[BANK] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ACCOUNT] CHECK CONSTRAINT [FK_ACCOUNT_BANK_ID_BANK]
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_STATEMENT_ACCOUNT_ID_ACCOUNT] FOREIGN KEY([ID_ACCOUNT])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT] CHECK CONSTRAINT [FK_ACCOUNT_STATEMENT_ACCOUNT_ID_ACCOUNT]
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_STATEMENT_ACCOUNT_STATEMENT_IMPORT_ID_IMPORT] FOREIGN KEY([ID_IMPORT])
REFERENCES [dbo].[ACCOUNT_STATEMENT_IMPORT] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT] CHECK CONSTRAINT [FK_ACCOUNT_STATEMENT_ACCOUNT_STATEMENT_IMPORT_ID_IMPORT]
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_STATEMENT_GMAP_ADDRESS_ID_GMAP_ADDRESS] FOREIGN KEY([ID_GMAP_ADDRESS])
REFERENCES [dbo].[GMAP_ADDRESS] ([ID])
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT] CHECK CONSTRAINT [FK_ACCOUNT_STATEMENT_GMAP_ADDRESS_ID_GMAP_ADDRESS]
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_STATEMENT_OPERATION_ID_OPERATION] FOREIGN KEY([ID_OPERATION])
REFERENCES [dbo].[OPERATION] ([ID])
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT] CHECK CONSTRAINT [FK_ACCOUNT_STATEMENT_OPERATION_ID_OPERATION]
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_STATEMENT_OPERATION_METHOD_ID_OPERATION_METHOD] FOREIGN KEY([ID_OPERATION_METHOD])
REFERENCES [dbo].[OPERATION_METHOD] ([ID])
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT] CHECK CONSTRAINT [FK_ACCOUNT_STATEMENT_OPERATION_METHOD_ID_OPERATION_METHOD]
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_STATEMENT_OPERATION_PLACE_ID_OPERATION_PLACE] FOREIGN KEY([ID_OPERATION_PLACE])
REFERENCES [dbo].[OPERATION_PLACE] ([ID])
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT] CHECK CONSTRAINT [FK_ACCOUNT_STATEMENT_OPERATION_PLACE_ID_OPERATION_PLACE]
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_STATEMENT_OPERATION_TYPE_ID_OPERATION_TYPE] FOREIGN KEY([ID_OPERATION_TYPE])
REFERENCES [dbo].[OPERATION_TYPE] ([ID])
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT] CHECK CONSTRAINT [FK_ACCOUNT_STATEMENT_OPERATION_TYPE_ID_OPERATION_TYPE]
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT_IMPORT]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_BANK_ID_BANK] FOREIGN KEY([ID_BANK])
REFERENCES [dbo].[BANK] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT_IMPORT] CHECK CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_BANK_ID_BANK]
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT_IMPORT]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_USER_ID_USER] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[USER] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT_IMPORT] CHECK CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_USER_ID_USER]
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT_IMPORT_FILE]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_FILE_ACCOUNT_ID_ACCOUNT] FOREIGN KEY([ID_ACCOUNT])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT_IMPORT_FILE] CHECK CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_FILE_ACCOUNT_ID_ACCOUNT]
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT_IMPORT_FILE]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_FILE_ACCOUNT_STATEMENT_IMPORT_ID_IMPORT] FOREIGN KEY([ID_IMPORT])
REFERENCES [dbo].[ACCOUNT_STATEMENT_IMPORT] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT_IMPORT_FILE] CHECK CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_FILE_ACCOUNT_STATEMENT_IMPORT_ID_IMPORT]
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT_IMPORT_FILE]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_FILE_GMAP_ADDRESS_ID_GMAP_ADDRESS] FOREIGN KEY([ID_GMAP_ADDRESS])
REFERENCES [dbo].[GMAP_ADDRESS] ([ID])
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT_IMPORT_FILE] CHECK CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_FILE_GMAP_ADDRESS_ID_GMAP_ADDRESS]
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT_IMPORT_FILE]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_FILE_OPERATION_ID_OPERATION] FOREIGN KEY([ID_OPERATION])
REFERENCES [dbo].[OPERATION] ([ID])
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT_IMPORT_FILE] CHECK CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_FILE_OPERATION_ID_OPERATION]
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT_IMPORT_FILE]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_FILE_OPERATION_METHOD_ID_OPERATION_METHOD] FOREIGN KEY([ID_OPERATION_METHOD])
REFERENCES [dbo].[OPERATION_METHOD] ([ID])
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT_IMPORT_FILE] CHECK CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_FILE_OPERATION_METHOD_ID_OPERATION_METHOD]
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT_IMPORT_FILE]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_FILE_OPERATION_TYPE_FAMILY_ID_OPERATION_TYPE_FAMILY] FOREIGN KEY([ID_OPERATION_TYPE_FAMILY])
REFERENCES [dbo].[OPERATION_TYPE_FAMILY] ([ID])
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT_IMPORT_FILE] CHECK CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_FILE_OPERATION_TYPE_FAMILY_ID_OPERATION_TYPE_FAMILY]
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT_IMPORT_FILE]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_FILE_OPERATION_TYPE_ID_OPERATION_TYPE] FOREIGN KEY([ID_OPERATION_TYPE])
REFERENCES [dbo].[OPERATION_TYPE] ([ID])
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT_IMPORT_FILE] CHECK CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_FILE_OPERATION_TYPE_ID_OPERATION_TYPE]
GO
ALTER TABLE [dbo].[BANK_FILE_DEFINITION]  WITH CHECK ADD  CONSTRAINT [FK_BANK_FILE_DEFINITION_BANK_ID_BANK] FOREIGN KEY([ID_BANK])
REFERENCES [dbo].[BANK] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BANK_FILE_DEFINITION] CHECK CONSTRAINT [FK_BANK_FILE_DEFINITION_BANK_ID_BANK]
GO
ALTER TABLE [dbo].[GMAP_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_GMAP_ADDRESS_GMAP_ADMINISTRATIVE_AREA_LEVEL_1_ID_GMAP_ADMINISTRATIVE_AREA_LEVEL_1] FOREIGN KEY([ID_GMAP_ADMINISTRATIVE_AREA_LEVEL_1])
REFERENCES [dbo].[GMAP_ADMINISTRATIVE_AREA_LEVEL_1] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GMAP_ADDRESS] CHECK CONSTRAINT [FK_GMAP_ADDRESS_GMAP_ADMINISTRATIVE_AREA_LEVEL_1_ID_GMAP_ADMINISTRATIVE_AREA_LEVEL_1]
GO
ALTER TABLE [dbo].[GMAP_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_GMAP_ADDRESS_GMAP_ADMINISTRATIVE_AREA_LEVEL_2_ID_GMAP_ADMINISTRATIVE_AREA_LEVEL_2] FOREIGN KEY([ID_GMAP_ADMINISTRATIVE_AREA_LEVEL_2])
REFERENCES [dbo].[GMAP_ADMINISTRATIVE_AREA_LEVEL_2] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GMAP_ADDRESS] CHECK CONSTRAINT [FK_GMAP_ADDRESS_GMAP_ADMINISTRATIVE_AREA_LEVEL_2_ID_GMAP_ADMINISTRATIVE_AREA_LEVEL_2]
GO
ALTER TABLE [dbo].[GMAP_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_GMAP_ADDRESS_GMAP_COUNTRY_ID_GMAP_COUNTRY] FOREIGN KEY([ID_GMAP_COUNTRY])
REFERENCES [dbo].[GMAP_COUNTRY] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GMAP_ADDRESS] CHECK CONSTRAINT [FK_GMAP_ADDRESS_GMAP_COUNTRY_ID_GMAP_COUNTRY]
GO
ALTER TABLE [dbo].[GMAP_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_GMAP_ADDRESS_GMAP_LOCALITY_ID_GMAP_LOCALITY] FOREIGN KEY([ID_GMAP_LOCALITY])
REFERENCES [dbo].[GMAP_LOCALITY] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GMAP_ADDRESS] CHECK CONSTRAINT [FK_GMAP_ADDRESS_GMAP_LOCALITY_ID_GMAP_LOCALITY]
GO
ALTER TABLE [dbo].[GMAP_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_GMAP_ADDRESS_GMAP_NEIGHBORHOOD_ID_GMAP_NEIGHBORHOOD] FOREIGN KEY([ID_GMAP_NEIGHBORHOOD])
REFERENCES [dbo].[GMAP_NEIGHBORHOOD] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GMAP_ADDRESS] CHECK CONSTRAINT [FK_GMAP_ADDRESS_GMAP_NEIGHBORHOOD_ID_GMAP_NEIGHBORHOOD]
GO
ALTER TABLE [dbo].[GMAP_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_GMAP_ADDRESS_GMAP_POSTAL_CODE_ID_GMAP_POSTAL_CODE] FOREIGN KEY([ID_GMAP_POSTAL_CODE])
REFERENCES [dbo].[GMAP_POSTAL_CODE] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GMAP_ADDRESS] CHECK CONSTRAINT [FK_GMAP_ADDRESS_GMAP_POSTAL_CODE_ID_GMAP_POSTAL_CODE]
GO
ALTER TABLE [dbo].[GMAP_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_GMAP_ADDRESS_GMAP_ROUTE_ID_GMAP_ROUTE] FOREIGN KEY([ID_GMAP_ROUTE])
REFERENCES [dbo].[GMAP_ROUTE] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GMAP_ADDRESS] CHECK CONSTRAINT [FK_GMAP_ADDRESS_GMAP_ROUTE_ID_GMAP_ROUTE]
GO
ALTER TABLE [dbo].[GMAP_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_GMAP_ADDRESS_GMAP_STREET_NUMBER_ID_GMAP_STREET_NUMBER] FOREIGN KEY([ID_GMAP_STREET_NUMBER])
REFERENCES [dbo].[GMAP_STREET_NUMBER] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GMAP_ADDRESS] CHECK CONSTRAINT [FK_GMAP_ADDRESS_GMAP_STREET_NUMBER_ID_GMAP_STREET_NUMBER]
GO
ALTER TABLE [dbo].[GMAP_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_GMAP_ADDRESS_GMAP_SUBLOCALITY_LEVEL_1_ID_GMAP_SUBLOCALITY_LEVEL_1] FOREIGN KEY([ID_GMAP_SUBLOCALITY_LEVEL_1])
REFERENCES [dbo].[GMAP_SUBLOCALITY_LEVEL_1] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GMAP_ADDRESS] CHECK CONSTRAINT [FK_GMAP_ADDRESS_GMAP_SUBLOCALITY_LEVEL_1_ID_GMAP_SUBLOCALITY_LEVEL_1]
GO
ALTER TABLE [dbo].[GMAP_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_GMAP_ADDRESS_GMAP_SUBLOCALITY_LEVEL_2_ID_GMAP_SUBLOCALITY_LEVEL_2] FOREIGN KEY([ID_GMAP_SUBLOCALITY_LEVEL_2])
REFERENCES [dbo].[GMAP_SUBLOCALITY_LEVEL_2] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GMAP_ADDRESS] CHECK CONSTRAINT [FK_GMAP_ADDRESS_GMAP_SUBLOCALITY_LEVEL_2_ID_GMAP_SUBLOCALITY_LEVEL_2]
GO
ALTER TABLE [dbo].[GMAP_ADDRESS_TYPE]  WITH CHECK ADD  CONSTRAINT [FK_GMAP_ADDRESS_TYPE_GMAP_ADDRESS_ID_GMAP_ADDRESS] FOREIGN KEY([ID_GMAP_ADDRESS])
REFERENCES [dbo].[GMAP_ADDRESS] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GMAP_ADDRESS_TYPE] CHECK CONSTRAINT [FK_GMAP_ADDRESS_TYPE_GMAP_ADDRESS_ID_GMAP_ADDRESS]
GO
ALTER TABLE [dbo].[GMAP_ADDRESS_TYPE]  WITH CHECK ADD  CONSTRAINT [FK_GMAP_ADDRESS_TYPE_GMAP_TYPE_ID_GMAP_TYPE] FOREIGN KEY([ID_GMAP_TYPE])
REFERENCES [dbo].[GMAP_TYPE] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GMAP_ADDRESS_TYPE] CHECK CONSTRAINT [FK_GMAP_ADDRESS_TYPE_GMAP_TYPE_ID_GMAP_TYPE]
GO
ALTER TABLE [dbo].[OPERATION]  WITH CHECK ADD  CONSTRAINT [FK_OPERATION_OPERATION_METHOD_ID_OPERATION_METHOD] FOREIGN KEY([ID_OPERATION_METHOD])
REFERENCES [dbo].[OPERATION_METHOD] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OPERATION] CHECK CONSTRAINT [FK_OPERATION_OPERATION_METHOD_ID_OPERATION_METHOD]
GO
ALTER TABLE [dbo].[OPERATION]  WITH CHECK ADD  CONSTRAINT [FK_OPERATION_OPERATION_TYPE_ID_OPERATION_TYPE] FOREIGN KEY([ID_OPERATION_TYPE])
REFERENCES [dbo].[OPERATION_TYPE] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OPERATION] CHECK CONSTRAINT [FK_OPERATION_OPERATION_TYPE_ID_OPERATION_TYPE]
GO
ALTER TABLE [dbo].[OPERATION_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_OPERATION_DETAIL_GMAP_ADDRESS_ID_GMAP_ADDRESS] FOREIGN KEY([ID_GMAP_ADDRESS])
REFERENCES [dbo].[GMAP_ADDRESS] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OPERATION_DETAIL] CHECK CONSTRAINT [FK_OPERATION_DETAIL_GMAP_ADDRESS_ID_GMAP_ADDRESS]
GO
ALTER TABLE [dbo].[OPERATION_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_OPERATION_DETAIL_OPERATION_ID_OPERATION] FOREIGN KEY([ID_OPERATION])
REFERENCES [dbo].[OPERATION] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OPERATION_DETAIL] CHECK CONSTRAINT [FK_OPERATION_DETAIL_OPERATION_ID_OPERATION]
GO
ALTER TABLE [dbo].[OPERATION_METHOD_LEXICAL]  WITH CHECK ADD  CONSTRAINT [FK_OPERATION_METHOD_LEXICAL_BANK_ID_BANK] FOREIGN KEY([ID_BANK])
REFERENCES [dbo].[BANK] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OPERATION_METHOD_LEXICAL] CHECK CONSTRAINT [FK_OPERATION_METHOD_LEXICAL_BANK_ID_BANK]
GO
ALTER TABLE [dbo].[OPERATION_METHOD_LEXICAL]  WITH CHECK ADD  CONSTRAINT [FK_OPERATION_METHOD_LEXICAL_OPERATION_METHOD_ID_OPERATION_METHOD] FOREIGN KEY([ID_OPERATION_METHOD])
REFERENCES [dbo].[OPERATION_METHOD] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OPERATION_METHOD_LEXICAL] CHECK CONSTRAINT [FK_OPERATION_METHOD_LEXICAL_OPERATION_METHOD_ID_OPERATION_METHOD]
GO
ALTER TABLE [dbo].[OPERATION_TYPE]  WITH CHECK ADD  CONSTRAINT [FK_OPERATION_TYPE_OPERATION_TYPE_FAMILY_ID_OPERATION_TYPE_FAMILY] FOREIGN KEY([ID_OPERATION_TYPE_FAMILY])
REFERENCES [dbo].[OPERATION_TYPE_FAMILY] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OPERATION_TYPE] CHECK CONSTRAINT [FK_OPERATION_TYPE_OPERATION_TYPE_FAMILY_ID_OPERATION_TYPE_FAMILY]
GO
ALTER TABLE [dbo].[PARAMETER]  WITH CHECK ADD  CONSTRAINT [FK_PARAMETER_USER_ID_USER] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[USER] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PARAMETER] CHECK CONSTRAINT [FK_PARAMETER_USER_ID_USER]
GO
ALTER TABLE [dbo].[SHORTCUT]  WITH CHECK ADD  CONSTRAINT [FK_SHORTCUT_USER_ID_USER] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[USER] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SHORTCUT] CHECK CONSTRAINT [FK_SHORTCUT_USER_ID_USER]
GO
ALTER TABLE [dbo].[USER_ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK_USER_ACCOUNT_ACCOUNT_ID_ACCOUNT] FOREIGN KEY([ID_ACCOUNT])
REFERENCES [dbo].[ACCOUNT] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USER_ACCOUNT] CHECK CONSTRAINT [FK_USER_ACCOUNT_ACCOUNT_ID_ACCOUNT]
GO
ALTER TABLE [dbo].[USER_ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK_USER_ACCOUNT_USER_ID_USER] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[USER] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USER_ACCOUNT] CHECK CONSTRAINT [FK_USER_ACCOUNT_USER_ID_USER]
GO
USE [master]
GO
