USE [master]
GO
/****** Object:  Database [XmlToSwift_Demo]    Script Date: 29/01/2019 17:34:08 ******/
CREATE DATABASE [XmlToSwift_Demo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'XmlToSwift_Demo', FILENAME = N'F:\DEV\XmlToSwift_Demo.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'XmlToSwift_Demo_log', FILENAME = N'G:\DEV\XmlToSwift_Demo_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [XmlToSwift_Demo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [XmlToSwift_Demo]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 29/01/2019 17:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 29/01/2019 17:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ALERT_THRESHOLD] [float] NOT NULL,
	[ID_ACCOUNT_TYPE] [int] NOT NULL,
	[ID_BANK] [int] NOT NULL,
	[LABEL] [nvarchar](50) NULL,
	[NUMBER] [nvarchar](50) NULL,
	[START_AMOUNT] [float] NOT NULL,
 CONSTRAINT [PK_ACCOUNT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACCOUNT_STATEMENT]    Script Date: 29/01/2019 17:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT_STATEMENT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AMOUNT_OPERATION] [float] NOT NULL,
	[DATE_IMPORT] [datetime2](7) NOT NULL,
	[DATE_INTEGRATION] [datetime2](7) NULL,
	[DATE_OPERATION] [datetime2](7) NULL,
	[ID_ACCOUNT] [int] NOT NULL,
	[ID_IMPORT] [int] NOT NULL,
	[ID_MOVEMENT] [int] NOT NULL,
	[ID_OPERATION] [int] NOT NULL,
	[ID_OPERATION_DETAIL] [int] NOT NULL,
	[ID_OPERATION_METHOD] [int] NOT NULL,
	[ID_OPERATION_TYPE] [int] NOT NULL,
	[ID_OPERATION_TYPE_FAMILY] [int] NOT NULL,
	[LABEL_OPERATION] [nvarchar](500) NULL,
	[REFERENCE] [nvarchar](50) NULL,
 CONSTRAINT [PK_ACCOUNT_STATEMENT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACCOUNT_STATEMENT_IMPORT]    Script Date: 29/01/2019 17:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT_STATEMENT_IMPORT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DATE_IMPORT] [datetime2](7) NOT NULL,
	[FILE_IMPORT] [nvarchar](max) NULL,
	[ID_BANK] [int] NOT NULL,
	[ID_USER] [int] NOT NULL,
 CONSTRAINT [PK_ACCOUNT_STATEMENT_IMPORT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACCOUNT_STATEMENT_IMPORT_FILE]    Script Date: 29/01/2019 17:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT_STATEMENT_IMPORT_FILE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AMOUNT_OPERATION] [float] NOT NULL,
	[DATE_IMPORT] [datetime2](7) NOT NULL,
	[DATE_INTEGRATION] [datetime2](7) NULL,
	[DATE_OPERATION] [datetime2](7) NULL,
	[STATE] [int] NOT NULL,
	[ID_ACCOUNT] [int] NULL,
	[ID_IMPORT] [int] NOT NULL,
	[ID_MOVEMENT] [int] NOT NULL,
	[ID_OPERATION] [int] NULL,
	[ID_OPERATION_DETAIL] [int] NULL,
	[ID_OPERATION_METHOD] [int] NULL,
	[ID_OPERATION_TYPE] [int] NULL,
	[ID_OPERATION_TYPE_FAMILY] [int] NULL,
	[IS_DUPLICATED] [bit] NOT NULL,
	[LABEL_OPERATION] [nvarchar](500) NULL,
	[LABEL_OPERATION_WORK] [nvarchar](500) NULL,
	[OPERATION_KEYWORD_TEMP] [nvarchar](max) NULL,
	[OPERATION_LABEL_TEMP] [nvarchar](max) NULL,
	[OPERATION_REFERENCE_TEMP] [nvarchar](max) NULL,
	[PLACE_KEYWORD_TEMP] [nvarchar](500) NULL,
	[PLACE_LABEL_TEMP] [nvarchar](500) NULL,
	[REFERENCE] [nvarchar](50) NULL,
 CONSTRAINT [PK_ACCOUNT_STATEMENT_IMPORT_FILE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACCOUNT_TYPE]    Script Date: 29/01/2019 17:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT_TYPE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LABEL] [nvarchar](50) NULL,
 CONSTRAINT [PK_ACCOUNT_TYPE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BANK]    Script Date: 29/01/2019 17:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANK](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ADDRESS_BANK] [nvarchar](50) NULL,
	[ADVISER_FIRST_NAME] [nvarchar](50) NULL,
	[ADVISER_FIXED_PHONE] [nvarchar](30) NULL,
	[ADVISER_LAST_NAME] [nvarchar](50) NULL,
	[ADVISER_MAIL] [nvarchar](50) NULL,
	[ADVISER_MOBILE_PHONE] [nvarchar](30) NULL,
	[FOLDER_FILE_SAVE] [nvarchar](max) NULL,
	[LABEL_BANK_LONG] [nvarchar](50) NULL,
	[LABEL_BANK_SHORT] [nvarchar](50) NULL,
	[LOGO_CLASS_NAME] [nvarchar](30) NULL,
	[POSTAL_CODE_BANK] [int] NOT NULL,
 CONSTRAINT [PK_BANK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BANK_FILE_DEFINITION]    Script Date: 29/01/2019 17:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANK_FILE_DEFINITION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LABEL_FIELD] [nvarchar](50) NULL,
	[LABEL_ORDER] [int] NOT NULL,
	[ID_BANK_FAMILY] [int] NOT NULL,
 CONSTRAINT [PK_BANK_FILE_DEFINITION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FREQUENCY]    Script Date: 29/01/2019 17:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FREQUENCY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MONTH_LABEL] [nvarchar](max) NULL,
	[MONTH_NUMBER] [int] NOT NULL,
 CONSTRAINT [PK_FREQUENCY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GMAP_ADDRESS]    Script Date: 29/01/2019 17:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GMAP_ADDRESS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FORMATTED_ADDRESS] [nvarchar](max) NOT NULL,
	[LAT] [float] NOT NULL,
	[LNG] [float] NOT NULL,
	[ID_GMAP_ADMINISTRATIVE_AREA_LEVEL_1] [int] NOT NULL,
	[ID_GMAP_ADMINISTRATIVE_AREA_LEVEL_2] [int] NOT NULL,
	[ID_GMAP_COUNTRY] [int] NOT NULL,
	[ID_GMAP_LOCALITY] [int] NOT NULL,
	[ID_GMAP_NEIGHBORHOOD] [int] NOT NULL,
	[ID_GMAP_POSTAL_CODE] [int] NOT NULL,
	[ID_GMAP_ROUTE] [int] NOT NULL,
	[ID_GMAP_STREET_NUMBER] [int] NOT NULL,
	[ID_GMAP_SUBLOCALITY_LEVEL_1] [int] NOT NULL,
	[ID_GMAP_SUBLOCALITY_LEVEL_2] [int] NOT NULL,
 CONSTRAINT [PK_GMAP_ADDRESS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GMAP_ADDRESS_TYPE]    Script Date: 29/01/2019 17:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GMAP_ADDRESS_TYPE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_GMAP_ADDRESS] [int] NOT NULL,
	[ID_GMAP_TYPE] [int] NOT NULL,
 CONSTRAINT [PK_GMAP_ADDRESS_TYPE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GMAP_ADMINISTRATIVE_AREA_LEVEL_1]    Script Date: 29/01/2019 17:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GMAP_ADMINISTRATIVE_AREA_LEVEL_1](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LABEL] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_GMAP_ADMINISTRATIVE_AREA_LEVEL_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GMAP_ADMINISTRATIVE_AREA_LEVEL_2]    Script Date: 29/01/2019 17:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GMAP_ADMINISTRATIVE_AREA_LEVEL_2](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LABEL] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_GMAP_ADMINISTRATIVE_AREA_LEVEL_2] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GMAP_COUNTRY]    Script Date: 29/01/2019 17:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GMAP_COUNTRY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LABEL] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_GMAP_COUNTRY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GMAP_LOCALITY]    Script Date: 29/01/2019 17:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GMAP_LOCALITY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LABEL] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_GMAP_LOCALITY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GMAP_NEIGHBORHOOD]    Script Date: 29/01/2019 17:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GMAP_NEIGHBORHOOD](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LABEL] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_GMAP_NEIGHBORHOOD] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GMAP_POSTAL_CODE]    Script Date: 29/01/2019 17:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GMAP_POSTAL_CODE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LABEL] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_GMAP_POSTAL_CODE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GMAP_ROUTE]    Script Date: 29/01/2019 17:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GMAP_ROUTE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LABEL] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_GMAP_ROUTE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GMAP_STREET_NUMBER]    Script Date: 29/01/2019 17:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GMAP_STREET_NUMBER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LABEL] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_GMAP_STREET_NUMBER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GMAP_SUBLOCALITY_LEVEL_1]    Script Date: 29/01/2019 17:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GMAP_SUBLOCALITY_LEVEL_1](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LABEL] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_GMAP_SUBLOCALITY_LEVEL_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GMAP_SUBLOCALITY_LEVEL_2]    Script Date: 29/01/2019 17:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GMAP_SUBLOCALITY_LEVEL_2](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LABEL] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_GMAP_SUBLOCALITY_LEVEL_2] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GMAP_TYPE]    Script Date: 29/01/2019 17:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GMAP_TYPE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LABEL] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_GMAP_TYPE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPERATION]    Script Date: 29/01/2019 17:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPERATION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_OPERATION_METHOD] [int] NOT NULL,
	[ID_OPERATION_TYPE] [int] NOT NULL,
	[LABEL] [nvarchar](255) NOT NULL,
	[REFERENCE] [nvarchar](20) NULL,
 CONSTRAINT [PK_OPERATION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPERATION_DETAIL]    Script Date: 29/01/2019 17:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPERATION_DETAIL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_GMAP_ADDRESS] [int] NOT NULL,
	[ID_OPERATION] [int] NOT NULL,
	[KEYWORD_OPERATION] [nvarchar](450) NULL,
	[KEYWORD_PLACE] [nvarchar](450) NULL,
 CONSTRAINT [PK_OPERATION_DETAIL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPERATION_METHOD]    Script Date: 29/01/2019 17:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPERATION_METHOD](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LABEL] [nvarchar](50) NULL,
 CONSTRAINT [PK_OPERATION_METHOD] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPERATION_METHOD_LEXICAL]    Script Date: 29/01/2019 17:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPERATION_METHOD_LEXICAL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_OPERATION_METHOD] [int] NOT NULL,
	[KEYWORD] [nvarchar](50) NULL,
	[ORDER_ID] [int] NOT NULL,
	[ID_BANK_FAMILY] [int] NOT NULL,
 CONSTRAINT [PK_OPERATION_METHOD_LEXICAL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPERATION_TYPE]    Script Date: 29/01/2019 17:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPERATION_TYPE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_OPERATION_TYPE_FAMILY] [int] NOT NULL,
	[LABEL] [nvarchar](50) NULL,
 CONSTRAINT [PK_OPERATION_TYPE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPERATION_TYPE_FAMILY]    Script Date: 29/01/2019 17:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPERATION_TYPE_FAMILY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_MOVEMENT] [int] NOT NULL,
	[LABEL] [nvarchar](50) NULL,
	[LOGO_CLASS_NAME] [nvarchar](30) NULL,
 CONSTRAINT [PK_OPERATION_TYPE_FAMILY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PARAMETER]    Script Date: 29/01/2019 17:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARAMETER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_USER] [int] NOT NULL,
	[IMPORT_FILE_DIR] [nvarchar](100) NULL,
 CONSTRAINT [PK_PARAMETER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PLAN]    Script Date: 29/01/2019 17:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLAN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LABEL] [nvarchar](100) NULL,
	[YEAR] [int] NOT NULL,
 CONSTRAINT [PK_PLAN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PLAN_POSTE]    Script Date: 29/01/2019 17:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLAN_POSTE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PLAN] [int] NOT NULL,
	[ID_POSTE] [int] NOT NULL,
	[ID_REFERENCE_TABLE] [int] NOT NULL,
	[LABEL] [nvarchar](max) NULL,
 CONSTRAINT [PK_PLAN_POSTE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PLAN_POSTE_FREQUENCY]    Script Date: 29/01/2019 17:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLAN_POSTE_FREQUENCY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_FREQUENCY] [int] NOT NULL,
	[ID_PLAN_POSTE] [int] NOT NULL,
	[PREVIEW_AMOUNT] [float] NOT NULL,
 CONSTRAINT [PK_PLAN_POSTE_FREQUENCY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PLAN_POSTE_REFERENCE]    Script Date: 29/01/2019 17:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLAN_POSTE_REFERENCE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PLAN_POSTE] [int] NOT NULL,
	[ID_REFERENCE] [int] NOT NULL,
	[ID_REFERENCE_TABLE] [int] NOT NULL,
 CONSTRAINT [PK_PLAN_POSTE_REFERENCE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PLAN_POSTE_USER]    Script Date: 29/01/2019 17:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLAN_POSTE_USER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PLAN_POSTE] [int] NOT NULL,
	[ID_PLAN_USER] [int] NOT NULL,
	[IS_SALARY_ESTIMATED_PART] [int] NOT NULL,
	[PERCENTAGE_PART] [float] NOT NULL,
 CONSTRAINT [PK_PLAN_POSTE_USER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PLAN_USER]    Script Date: 29/01/2019 17:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLAN_USER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PLAN] [int] NOT NULL,
	[ID_USER] [int] NOT NULL,
 CONSTRAINT [PK_PLAN_USER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POSTE]    Script Date: 29/01/2019 17:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSTE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LABEL] [nvarchar](max) NULL,
 CONSTRAINT [PK_POSTE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REFERENCE_TABLE]    Script Date: 29/01/2019 17:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REFERENCE_TABLE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TABLE_NAME] [nvarchar](max) NULL,
	[LABEL] [nvarchar](max) NULL,
 CONSTRAINT [PK_REFERENCE_TABLE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 29/01/2019 17:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AVATAR_URL] [nvarchar](max) NULL,
	[CREATION_DATE] [datetime2](7) NOT NULL,
	[LAST_ACTIVE_DATE] [datetime2](7) NOT NULL,
	[BIRTH_DATE] [datetime2](7) NOT NULL,
	[FIRST_NAME] [nvarchar](max) NULL,
	[GENDER] [nvarchar](max) NULL,
	[ID_AVATAR_CLOUD] [nvarchar](max) NULL,
	[LAST_NAME] [nvarchar](max) NULL,
	[PASSWORD_HASH] [varbinary](max) NULL,
	[PASSWORD_SALT] [varbinary](max) NULL,
	[USER_NAME] [nvarchar](max) NULL,
	[ID_GMAP_ADDRESS] [int] NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_ACCOUNT]    Script Date: 29/01/2019 17:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_ACCOUNT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_ACCOUNT] [int] NOT NULL,
	[ID_USER] [int] NOT NULL,
 CONSTRAINT [PK_USER_ACCOUNT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_SHORTCUT]    Script Date: 29/01/2019 17:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_SHORTCUT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ICON] [nvarchar](max) NULL,
	[ID_USER] [int] NOT NULL,
	[TITLE] [nvarchar](max) NULL,
	[TYPE] [nvarchar](max) NULL,
	[URL] [nvarchar](max) NULL,
 CONSTRAINT [PK_USER_SHORTCUT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_PLAN_OPERATION]    Script Date: 29/01/2019 17:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_PLAN_OPERATION] AS 
SELECT 
	ACS.ID,
	CAST(ACS.DATE_INTEGRATION AS DATE) AS DATE_INTEGRATION,
	ACS.AMOUNT_OPERATION,
	OPERATION.PREVIEW_AMOUNT,
	OPERATION.ID_PLAN,
	OPERATION.ID_PLAN_POSTE,
	OPERATION.PLAN_POSTE_LABEL,
	OPERATION.ID_REFERENCE,
	OPERATION.LABEL_REFERENCE,
	OPERATION.[MONTH],
	OPERATION.[YEAR]
FROM ACCOUNT_STATEMENT ACS
RIGHT JOIN (

 SELECT 
	P.ID AS ID_PLAN,
	PP.ID AS ID_PLAN_POSTE,
	PP.LABEL AS PLAN_POSTE_LABEL,
	PPR.ID_REFERENCE,
	O.LABEL AS LABEL_REFERENCE,
	PPF.ID_FREQUENCY AS [MONTH],
	P.[YEAR] AS [YEAR],
	PPF.PREVIEW_AMOUNT,
	RT.TABLE_NAME
 FROM [PLAN] P
 INNER JOIN PLAN_POSTE PP
	ON P.ID=PP.ID_PLAN
 INNER JOIN PLAN_POSTE_REFERENCE PPR 
	ON PP.ID=PPR.ID_PLAN_POSTE
 INNER JOIN REFERENCE_TABLE RT
	ON PPR.ID_REFERENCE_TABLE=RT.ID
 INNER JOIN OPERATION O
	ON PPR.ID_REFERENCE=O.ID
 INNER JOIN [PLAN_POSTE_FREQUENCY] PPF
	ON PP.ID=PPF.ID_PLAN_POSTE
WHERE TABLE_NAME = 'OPERATION'
) AS OPERATION
	ON MONTH(ACS.DATE_INTEGRATION)=OPERATION.[MONTH]
	AND YEAR(ACS.DATE_INTEGRATION)=OPERATION.[YEAR]
	AND ACS.ID_OPERATION=OPERATION.ID_REFERENCE
GO
/****** Object:  View [dbo].[V_PLAN_OPERATION_TYPE]    Script Date: 29/01/2019 17:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_PLAN_OPERATION_TYPE] AS 
SELECT 
	ACS.ID,
	CAST(ACS.DATE_INTEGRATION AS DATE) AS DATE_INTEGRATION,
	ACS.AMOUNT_OPERATION,
	OPERATION_TYPE.PREVIEW_AMOUNT,
	OPERATION_TYPE.ID_PLAN,
	OPERATION_TYPE.ID_PLAN_POSTE,
	OPERATION_TYPE.PLAN_POSTE_LABEL,
	OPERATION_TYPE.ID_REFERENCE,
	OPERATION_TYPE.LABEL_REFERENCE,
	OPERATION_TYPE.[MONTH],
	OPERATION_TYPE.[YEAR]
FROM ACCOUNT_STATEMENT ACS
RIGHT JOIN (

 SELECT 
	P.ID AS ID_PLAN,
	PP.ID AS ID_PLAN_POSTE,
	PP.LABEL AS PLAN_POSTE_LABEL,
	PPR.ID_REFERENCE,
	OT.LABEL AS LABEL_REFERENCE,
	PPF.ID_FREQUENCY AS [MONTH],
	P.[YEAR] AS [YEAR],
	PPF.PREVIEW_AMOUNT,
	RT.TABLE_NAME
 FROM [PLAN] P
 INNER JOIN PLAN_POSTE PP
	ON P.ID=PP.ID_PLAN
 INNER JOIN PLAN_POSTE_REFERENCE PPR 
	ON PP.ID=PPR.ID_PLAN_POSTE
 INNER JOIN REFERENCE_TABLE RT
	ON PPR.ID_REFERENCE_TABLE=RT.ID
 INNER JOIN OPERATION_TYPE OT 
	ON PPR.ID_REFERENCE=OT.ID
 INNER JOIN [PLAN_POSTE_FREQUENCY] PPF
	ON PP.ID=PPF.ID_PLAN_POSTE
WHERE TABLE_NAME = 'OPERATION_TYPE'
) AS OPERATION_TYPE
	ON MONTH(ACS.DATE_INTEGRATION)=OPERATION_TYPE.[MONTH]
	AND YEAR(ACS.DATE_INTEGRATION)=OPERATION_TYPE.[YEAR]
	AND ACS.ID_OPERATION_TYPE=OPERATION_TYPE.ID_REFERENCE
GO
/****** Object:  View [dbo].[V_PLAN_OPERATION_TYPE_FAMILY]    Script Date: 29/01/2019 17:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_PLAN_OPERATION_TYPE_FAMILY] AS 
SELECT 
	ACS.ID,
	CAST(ACS.DATE_INTEGRATION AS DATE) AS DATE_INTEGRATION,
	ACS.AMOUNT_OPERATION,
	OPERATION_TYPE_FAMILY.PREVIEW_AMOUNT,
	OPERATION_TYPE_FAMILY.ID_PLAN,
	OPERATION_TYPE_FAMILY.ID_PLAN_POSTE,
	OPERATION_TYPE_FAMILY.PLAN_POSTE_LABEL,
	OPERATION_TYPE_FAMILY.ID_REFERENCE,
	OPERATION_TYPE_FAMILY.LABEL_REFERENCE,
	OPERATION_TYPE_FAMILY.[MONTH],
	OPERATION_TYPE_FAMILY.[YEAR]
FROM ACCOUNT_STATEMENT ACS
RIGHT JOIN (

 SELECT 
	P.ID AS ID_PLAN,
	PP.ID AS ID_PLAN_POSTE,
	PP.LABEL AS PLAN_POSTE_LABEL,
	PPR.ID_REFERENCE,
	OTF.LABEL AS LABEL_REFERENCE,
	PPF.ID_FREQUENCY AS [MONTH],
	P.[YEAR] AS [YEAR],
	PPF.PREVIEW_AMOUNT,
	RT.TABLE_NAME
 FROM [PLAN] P
 INNER JOIN PLAN_POSTE PP
	ON P.ID=PP.ID_PLAN
 INNER JOIN PLAN_POSTE_REFERENCE PPR 
	ON PP.ID=PPR.ID_PLAN_POSTE
 INNER JOIN REFERENCE_TABLE RT
	ON PPR.ID_REFERENCE_TABLE=RT.ID
 INNER JOIN OPERATION_TYPE_FAMILY OTF 
	ON PPR.ID_REFERENCE=OTF.ID
 INNER JOIN [PLAN_POSTE_FREQUENCY] PPF
	ON PP.ID=PPF.ID_PLAN_POSTE
WHERE TABLE_NAME = 'OPERATION_TYPE_FAMILY'
) AS OPERATION_TYPE_FAMILY
	ON MONTH(ACS.DATE_INTEGRATION)=OPERATION_TYPE_FAMILY.[MONTH]
	AND YEAR(ACS.DATE_INTEGRATION)=OPERATION_TYPE_FAMILY.[YEAR]
	AND ACS.ID_OPERATION_TYPE_FAMILY=OPERATION_TYPE_FAMILY.ID_REFERENCE
GO
/****** Object:  View [dbo].[V_PLAN_GLOBAL]    Script Date: 29/01/2019 17:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE VIEW [dbo].[V_PLAN_GLOBAL] AS 

	SELECT * FROM V_PLAN_OPERATION
	UNION
	SELECT * FROM V_PLAN_OPERATION_TYPE
	UNION
	SELECT * FROM V_PLAN_OPERATION_TYPE_FAMILY

--	 SELECT 
--	SUM(COALESCE(AMOUNT_OPERATION,0)) AS AMOUNT_OPERATION,
--	ID_PLAN_POSTE,
--	PLAN_POSTE_LABEL,
--	PREVIEW_AMOUNT,
--	[MONTH],
--	[YEAR]
--FROM [V_PLAN_GLOBAL]
--WHERE MONTH(DATE_INTEGRATION)=8
--AND YEAR(DATE_INTEGRATION)=2018
--GROUP BY 
--	ID_PLAN_POSTE,
--	PREVIEW_AMOUNT,
--	[MONTH],
--	[YEAR],
--	PLAN_POSTE_LABEL
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20180914075648_Initial', N'2.0.0-rtm-26452')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20180914142145_alterOperation', N'2.0.0-rtm-26452')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20180917111903_AlterUser', N'2.0.0-rtm-26452')
SET IDENTITY_INSERT [dbo].[ACCOUNT] ON 

INSERT [dbo].[ACCOUNT] ([ID], [ALERT_THRESHOLD], [ID_ACCOUNT_TYPE], [ID_BANK], [LABEL], [NUMBER], [START_AMOUNT]) VALUES (1, 0, 2, 1, N'INCONNU', N'Inconnu', 0)
INSERT [dbo].[ACCOUNT] ([ID], [ALERT_THRESHOLD], [ID_ACCOUNT_TYPE], [ID_BANK], [LABEL], [NUMBER], [START_AMOUNT]) VALUES (2, 200, 2, 4, N'Compte courant', N'30919688066', 1713.27)
INSERT [dbo].[ACCOUNT] ([ID], [ALERT_THRESHOLD], [ID_ACCOUNT_TYPE], [ID_BANK], [LABEL], [NUMBER], [START_AMOUNT]) VALUES (19, 50, 2, 4, N'Compte commun', N'30919688017', 166.89)
SET IDENTITY_INSERT [dbo].[ACCOUNT] OFF
SET IDENTITY_INSERT [dbo].[ACCOUNT_STATEMENT] ON 

INSERT [dbo].[ACCOUNT_STATEMENT] ([ID], [AMOUNT_OPERATION], [DATE_IMPORT], [DATE_INTEGRATION], [DATE_OPERATION], [ID_ACCOUNT], [ID_IMPORT], [ID_MOVEMENT], [ID_OPERATION], [ID_OPERATION_DETAIL], [ID_OPERATION_METHOD], [ID_OPERATION_TYPE], [ID_OPERATION_TYPE_FAMILY], [LABEL_OPERATION], [REFERENCE]) VALUES (0, 300, CAST(N'2018-10-12T16:31:05.6365236' AS DateTime2), CAST(N'2018-10-02T00:00:00.0000000' AS DateTime2), NULL, 19, 2, 1, 1200, 1024, 4, 28, 6, N'VIREMENT M BRILLOUET NIC vir. sandra', N'2411057')
INSERT [dbo].[ACCOUNT_STATEMENT] ([ID], [AMOUNT_OPERATION], [DATE_IMPORT], [DATE_INTEGRATION], [DATE_OPERATION], [ID_ACCOUNT], [ID_IMPORT], [ID_MOVEMENT], [ID_OPERATION], [ID_OPERATION_DETAIL], [ID_OPERATION_METHOD], [ID_OPERATION_TYPE], [ID_OPERATION_TYPE_FAMILY], [LABEL_OPERATION], [REFERENCE]) VALUES (1, -35, CAST(N'2018-10-12T16:31:06.7128918' AS DateTime2), CAST(N'2018-08-13T00:00:00.0000000' AS DateTime2), CAST(N'2018-08-11T00:00:00.0000000' AS DateTime2), 2, 2, 2, 1213, 1045, 2, 96, 19, N'110818 CB****0569 DR NOUVIAN     91ORSAY', N'ACRZNOJ')
INSERT [dbo].[ACCOUNT_STATEMENT] ([ID], [AMOUNT_OPERATION], [DATE_IMPORT], [DATE_INTEGRATION], [DATE_OPERATION], [ID_ACCOUNT], [ID_IMPORT], [ID_MOVEMENT], [ID_OPERATION], [ID_OPERATION_DETAIL], [ID_OPERATION_METHOD], [ID_OPERATION_TYPE], [ID_OPERATION_TYPE_FAMILY], [LABEL_OPERATION], [REFERENCE]) VALUES (2, -1, CAST(N'2018-10-12T16:31:06.7030436' AS DateTime2), CAST(N'2018-08-17T00:00:00.0000000' AS DateTime2), NULL, 2, 2, 2, 1219, 1052, 7, 68, 14, N'Frais retrait deplace XCPCB011 2018081600014882000001 4 Retrait', N'0014882')
GO
SET IDENTITY_INSERT [dbo].[ACCOUNT_STATEMENT] OFF
SET IDENTITY_INSERT [dbo].[ACCOUNT_STATEMENT_IMPORT] ON 

INSERT [dbo].[ACCOUNT_STATEMENT_IMPORT] ([ID], [DATE_IMPORT], [FILE_IMPORT], [ID_BANK], [ID_USER]) VALUES (1, CAST(N'2018-10-12T14:26:06.0630633' AS DateTime2), N'20181012_BPVF.csv', 4, 3)
INSERT [dbo].[ACCOUNT_STATEMENT_IMPORT] ([ID], [DATE_IMPORT], [FILE_IMPORT], [ID_BANK], [ID_USER]) VALUES (2, CAST(N'2018-10-12T16:31:05.6215111' AS DateTime2), N'20181012_BPVF.csv', 4, 3)
SET IDENTITY_INSERT [dbo].[ACCOUNT_STATEMENT_IMPORT] OFF
SET IDENTITY_INSERT [dbo].[ACCOUNT_STATEMENT_IMPORT_FILE] ON 

GO
SET IDENTITY_INSERT [dbo].[ACCOUNT_STATEMENT_IMPORT_FILE] OFF
SET IDENTITY_INSERT [dbo].[ACCOUNT_TYPE] ON 

INSERT [dbo].[ACCOUNT_TYPE] ([ID], [LABEL]) VALUES (1, N'INCONNU')
INSERT [dbo].[ACCOUNT_TYPE] ([ID], [LABEL]) VALUES (2, N'COMPTE COURANT')
INSERT [dbo].[ACCOUNT_TYPE] ([ID], [LABEL]) VALUES (3, N'EPARGNE')
SET IDENTITY_INSERT [dbo].[ACCOUNT_TYPE] OFF
SET IDENTITY_INSERT [dbo].[BANK] ON 

INSERT [dbo].[BANK] ([ID], [ADDRESS_BANK], [ADVISER_FIRST_NAME], [ADVISER_FIXED_PHONE], [ADVISER_LAST_NAME], [ADVISER_MAIL], [ADVISER_MOBILE_PHONE], [FOLDER_FILE_SAVE], [LABEL_BANK_LONG], [LABEL_BANK_SHORT], [LOGO_CLASS_NAME], [POSTAL_CODE_BANK]) VALUES (1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'INCONNU', N'INCONNU', N'INC', 0)
INSERT [dbo].[BANK] ([ID], [ADDRESS_BANK], [ADVISER_FIRST_NAME], [ADVISER_FIXED_PHONE], [ADVISER_LAST_NAME], [ADVISER_MAIL], [ADVISER_MOBILE_PHONE], [FOLDER_FILE_SAVE], [LABEL_BANK_LONG], [LABEL_BANK_SHORT], [LOGO_CLASS_NAME], [POSTAL_CODE_BANK]) VALUES (2, NULL, NULL, NULL, NULL, NULL, NULL, N'Z:\ADMINISTRATION\RELEVE_BANCAIRE\CAM\', N'Crédit Agricole Du Morbihan', N'CAM', N'./assets/images/CAM_32.png', 56)
INSERT [dbo].[BANK] ([ID], [ADDRESS_BANK], [ADVISER_FIRST_NAME], [ADVISER_FIXED_PHONE], [ADVISER_LAST_NAME], [ADVISER_MAIL], [ADVISER_MOBILE_PHONE], [FOLDER_FILE_SAVE], [LABEL_BANK_LONG], [LABEL_BANK_SHORT], [LOGO_CLASS_NAME], [POSTAL_CODE_BANK]) VALUES (4, NULL, NULL, NULL, NULL, NULL, NULL, N'Z:\ADMINISTRATION\RELEVE_BANCAIRE\BPVF\', N'Banque Populaire Val De France', N'BPVF', N'./assets/images/BPVF_32.png', 91)
SET IDENTITY_INSERT [dbo].[BANK] OFF
SET IDENTITY_INSERT [dbo].[BANK_FILE_DEFINITION] ON 

INSERT [dbo].[BANK_FILE_DEFINITION] ([ID], [LABEL_FIELD], [LABEL_ORDER], [ID_BANK_FAMILY]) VALUES (0, N'Compte', 1, 2)
INSERT [dbo].[BANK_FILE_DEFINITION] ([ID], [LABEL_FIELD], [LABEL_ORDER], [ID_BANK_FAMILY]) VALUES (1, N'Date de comptabilisation', 2, 2)
INSERT [dbo].[BANK_FILE_DEFINITION] ([ID], [LABEL_FIELD], [LABEL_ORDER], [ID_BANK_FAMILY]) VALUES (2, N'Date opération', 3, 2)
SET IDENTITY_INSERT [dbo].[BANK_FILE_DEFINITION] OFF
SET IDENTITY_INSERT [dbo].[FREQUENCY] ON 

INSERT [dbo].[FREQUENCY] ([ID], [MONTH_LABEL], [MONTH_NUMBER]) VALUES (1, N'janvier', 1)
INSERT [dbo].[FREQUENCY] ([ID], [MONTH_LABEL], [MONTH_NUMBER]) VALUES (2, N'fevrier', 2)
INSERT [dbo].[FREQUENCY] ([ID], [MONTH_LABEL], [MONTH_NUMBER]) VALUES (3, N'mars', 3)
SET IDENTITY_INSERT [dbo].[FREQUENCY] OFF
SET IDENTITY_INSERT [dbo].[GMAP_ADDRESS] ON 

INSERT [dbo].[GMAP_ADDRESS] ([ID], [FORMATTED_ADDRESS], [LAT], [LNG], [ID_GMAP_ADMINISTRATIVE_AREA_LEVEL_1], [ID_GMAP_ADMINISTRATIVE_AREA_LEVEL_2], [ID_GMAP_COUNTRY], [ID_GMAP_LOCALITY], [ID_GMAP_NEIGHBORHOOD], [ID_GMAP_POSTAL_CODE], [ID_GMAP_ROUTE], [ID_GMAP_STREET_NUMBER], [ID_GMAP_SUBLOCALITY_LEVEL_1], [ID_GMAP_SUBLOCALITY_LEVEL_2]) VALUES (1, N'INCONNU', 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1)
INSERT [dbo].[GMAP_ADDRESS] ([ID], [FORMATTED_ADDRESS], [LAT], [LNG], [ID_GMAP_ADMINISTRATIVE_AREA_LEVEL_1], [ID_GMAP_ADMINISTRATIVE_AREA_LEVEL_2], [ID_GMAP_COUNTRY], [ID_GMAP_LOCALITY], [ID_GMAP_NEIGHBORHOOD], [ID_GMAP_POSTAL_CODE], [ID_GMAP_ROUTE], [ID_GMAP_STREET_NUMBER], [ID_GMAP_SUBLOCALITY_LEVEL_1], [ID_GMAP_SUBLOCALITY_LEVEL_2]) VALUES (2, N'N/A', 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1)
INSERT [dbo].[GMAP_ADDRESS] ([ID], [FORMATTED_ADDRESS], [LAT], [LNG], [ID_GMAP_ADMINISTRATIVE_AREA_LEVEL_1], [ID_GMAP_ADMINISTRATIVE_AREA_LEVEL_2], [ID_GMAP_COUNTRY], [ID_GMAP_LOCALITY], [ID_GMAP_NEIGHBORHOOD], [ID_GMAP_POSTAL_CODE], [ID_GMAP_ROUTE], [ID_GMAP_STREET_NUMBER], [ID_GMAP_SUBLOCALITY_LEVEL_1], [ID_GMAP_SUBLOCALITY_LEVEL_2]) VALUES (3, N'INTERNET', 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[GMAP_ADDRESS] OFF
SET IDENTITY_INSERT [dbo].[GMAP_ADDRESS_TYPE] ON 

INSERT [dbo].[GMAP_ADDRESS_TYPE] ([ID], [ID_GMAP_ADDRESS], [ID_GMAP_TYPE]) VALUES (1, 4, 2)
INSERT [dbo].[GMAP_ADDRESS_TYPE] ([ID], [ID_GMAP_ADDRESS], [ID_GMAP_TYPE]) VALUES (2, 4, 7)
INSERT [dbo].[GMAP_ADDRESS_TYPE] ([ID], [ID_GMAP_ADDRESS], [ID_GMAP_TYPE]) VALUES (3, 5, 2)
SET IDENTITY_INSERT [dbo].[GMAP_ADDRESS_TYPE] OFF
SET IDENTITY_INSERT [dbo].[GMAP_ADMINISTRATIVE_AREA_LEVEL_1] ON 

INSERT [dbo].[GMAP_ADMINISTRATIVE_AREA_LEVEL_1] ([ID], [LABEL]) VALUES (1, N'INCONNU')
INSERT [dbo].[GMAP_ADMINISTRATIVE_AREA_LEVEL_1] ([ID], [LABEL]) VALUES (7, N'Île-de-France')
INSERT [dbo].[GMAP_ADMINISTRATIVE_AREA_LEVEL_1] ([ID], [LABEL]) VALUES (8, N'Bretagne')
SET IDENTITY_INSERT [dbo].[GMAP_ADMINISTRATIVE_AREA_LEVEL_1] OFF
SET IDENTITY_INSERT [dbo].[GMAP_ADMINISTRATIVE_AREA_LEVEL_2] ON 

INSERT [dbo].[GMAP_ADMINISTRATIVE_AREA_LEVEL_2] ([ID], [LABEL]) VALUES (1, N'INCONNU')
INSERT [dbo].[GMAP_ADMINISTRATIVE_AREA_LEVEL_2] ([ID], [LABEL]) VALUES (2, N'Paris')
INSERT [dbo].[GMAP_ADMINISTRATIVE_AREA_LEVEL_2] ([ID], [LABEL]) VALUES (3, N'Ille-et-Vilaine')
SET IDENTITY_INSERT [dbo].[GMAP_ADMINISTRATIVE_AREA_LEVEL_2] OFF
SET IDENTITY_INSERT [dbo].[GMAP_COUNTRY] ON 

INSERT [dbo].[GMAP_COUNTRY] ([ID], [LABEL]) VALUES (1, N'INCONNU')
INSERT [dbo].[GMAP_COUNTRY] ([ID], [LABEL]) VALUES (2, N'FR')
INSERT [dbo].[GMAP_COUNTRY] ([ID], [LABEL]) VALUES (1001, N'US')
SET IDENTITY_INSERT [dbo].[GMAP_COUNTRY] OFF
SET IDENTITY_INSERT [dbo].[GMAP_LOCALITY] ON 

INSERT [dbo].[GMAP_LOCALITY] ([ID], [LABEL]) VALUES (1, N'INCONNU')
INSERT [dbo].[GMAP_LOCALITY] ([ID], [LABEL]) VALUES (2, N'Paris')
INSERT [dbo].[GMAP_LOCALITY] ([ID], [LABEL]) VALUES (3, N'Grand-Fougeray')
SET IDENTITY_INSERT [dbo].[GMAP_LOCALITY] OFF
SET IDENTITY_INSERT [dbo].[GMAP_NEIGHBORHOOD] ON 

INSERT [dbo].[GMAP_NEIGHBORHOOD] ([ID], [LABEL]) VALUES (1, N'INCONNU')
INSERT [dbo].[GMAP_NEIGHBORHOOD] ([ID], [LABEL]) VALUES (1001, N'Chinatown')
INSERT [dbo].[GMAP_NEIGHBORHOOD] ([ID], [LABEL]) VALUES (1002, N'Mid-Beach')
SET IDENTITY_INSERT [dbo].[GMAP_NEIGHBORHOOD] OFF
SET IDENTITY_INSERT [dbo].[GMAP_POSTAL_CODE] ON 

INSERT [dbo].[GMAP_POSTAL_CODE] ([ID], [LABEL]) VALUES (1, N'INCONNU')
INSERT [dbo].[GMAP_POSTAL_CODE] ([ID], [LABEL]) VALUES (2, N'75002')
INSERT [dbo].[GMAP_POSTAL_CODE] ([ID], [LABEL]) VALUES (3, N'75008')
SET IDENTITY_INSERT [dbo].[GMAP_POSTAL_CODE] OFF
SET IDENTITY_INSERT [dbo].[GMAP_ROUTE] ON 

INSERT [dbo].[GMAP_ROUTE] ([ID], [LABEL]) VALUES (1, N'INCONNU')
INSERT [dbo].[GMAP_ROUTE] ([ID], [LABEL]) VALUES (2, N'Rue de la Michodière')
INSERT [dbo].[GMAP_ROUTE] ([ID], [LABEL]) VALUES (3, N'Rue de l''Isly')
SET IDENTITY_INSERT [dbo].[GMAP_ROUTE] OFF
SET IDENTITY_INSERT [dbo].[GMAP_STREET_NUMBER] ON 

INSERT [dbo].[GMAP_STREET_NUMBER] ([ID], [LABEL]) VALUES (1, N'INCONNU')
INSERT [dbo].[GMAP_STREET_NUMBER] ([ID], [LABEL]) VALUES (2, N'11')
INSERT [dbo].[GMAP_STREET_NUMBER] ([ID], [LABEL]) VALUES (3, N'10')
SET IDENTITY_INSERT [dbo].[GMAP_STREET_NUMBER] OFF
SET IDENTITY_INSERT [dbo].[GMAP_SUBLOCALITY_LEVEL_1] ON 

INSERT [dbo].[GMAP_SUBLOCALITY_LEVEL_1] ([ID], [LABEL]) VALUES (1, N'INCONNU')
INSERT [dbo].[GMAP_SUBLOCALITY_LEVEL_1] ([ID], [LABEL]) VALUES (2, N'2e Arrondissement')
INSERT [dbo].[GMAP_SUBLOCALITY_LEVEL_1] ([ID], [LABEL]) VALUES (3, N'4e Arrondissement')
SET IDENTITY_INSERT [dbo].[GMAP_SUBLOCALITY_LEVEL_1] OFF
SET IDENTITY_INSERT [dbo].[GMAP_SUBLOCALITY_LEVEL_2] ON 

INSERT [dbo].[GMAP_SUBLOCALITY_LEVEL_2] ([ID], [LABEL]) VALUES (1, N'INCONNU')
SET IDENTITY_INSERT [dbo].[GMAP_SUBLOCALITY_LEVEL_2] OFF
SET IDENTITY_INSERT [dbo].[GMAP_TYPE] ON 

INSERT [dbo].[GMAP_TYPE] ([ID], [LABEL]) VALUES (1, N'bar')
INSERT [dbo].[GMAP_TYPE] ([ID], [LABEL]) VALUES (2, N'establishment')
INSERT [dbo].[GMAP_TYPE] ([ID], [LABEL]) VALUES (3, N'food')
SET IDENTITY_INSERT [dbo].[GMAP_TYPE] OFF
SET IDENTITY_INSERT [dbo].[OPERATION] ON 

INSERT [dbo].[OPERATION] ([ID], [ID_OPERATION_METHOD], [ID_OPERATION_TYPE], [LABEL], [REFERENCE]) VALUES (1, 1, 1, N'INCONNU', NULL)
INSERT [dbo].[OPERATION] ([ID], [ID_OPERATION_METHOD], [ID_OPERATION_TYPE], [LABEL], [REFERENCE]) VALUES (2, 5, 8, N'REMISE CHEQUE', NULL)
INSERT [dbo].[OPERATION] ([ID], [ID_OPERATION_METHOD], [ID_OPERATION_TYPE], [LABEL], [REFERENCE]) VALUES (3, 8, 56, N'RETRAIT DAB', NULL)
GO
SET IDENTITY_INSERT [dbo].[OPERATION] OFF
SET IDENTITY_INSERT [dbo].[OPERATION_DETAIL] ON 

INSERT [dbo].[OPERATION_DETAIL] ([ID], [ID_GMAP_ADDRESS], [ID_OPERATION], [KEYWORD_OPERATION], [KEYWORD_PLACE]) VALUES (1, 1, 1, N'--FAKE_KEYWORD--', N'--FAKE_KEYWORD--')
INSERT [dbo].[OPERATION_DETAIL] ([ID], [ID_GMAP_ADDRESS], [ID_OPERATION], [KEYWORD_OPERATION], [KEYWORD_PLACE]) VALUES (2, 1, 1, N'--FAKE_KEYWORD_NA--', N'--FAKE_KEYWORD_NA--')
INSERT [dbo].[OPERATION_DETAIL] ([ID], [ID_GMAP_ADDRESS], [ID_OPERATION], [KEYWORD_OPERATION], [KEYWORD_PLACE]) VALUES (3, 2, 2, N'REMCHQ', NULL)
GO
SET IDENTITY_INSERT [dbo].[OPERATION_DETAIL] OFF
SET IDENTITY_INSERT [dbo].[OPERATION_METHOD] ON 

INSERT [dbo].[OPERATION_METHOD] ([ID], [LABEL]) VALUES (1, N'Inconnue')
INSERT [dbo].[OPERATION_METHOD] ([ID], [LABEL]) VALUES (2, N'Paiement Carte bancaire')
INSERT [dbo].[OPERATION_METHOD] ([ID], [LABEL]) VALUES (3, N'Cotisation')
SET IDENTITY_INSERT [dbo].[OPERATION_METHOD] OFF
SET IDENTITY_INSERT [dbo].[OPERATION_METHOD_LEXICAL] ON 

INSERT [dbo].[OPERATION_METHOD_LEXICAL] ([ID], [ID_OPERATION_METHOD], [KEYWORD], [ORDER_ID], [ID_BANK_FAMILY]) VALUES (1, 2, N'CB****', 2, 2)
INSERT [dbo].[OPERATION_METHOD_LEXICAL] ([ID], [ID_OPERATION_METHOD], [KEYWORD], [ORDER_ID], [ID_BANK_FAMILY]) VALUES (2, 3, N'COTISATION', 4, 2)
INSERT [dbo].[OPERATION_METHOD_LEXICAL] ([ID], [ID_OPERATION_METHOD], [KEYWORD], [ORDER_ID], [ID_BANK_FAMILY]) VALUES (3, 4, N'VIREMENT', 5, 2)
SET IDENTITY_INSERT [dbo].[OPERATION_METHOD_LEXICAL] OFF
SET IDENTITY_INSERT [dbo].[OPERATION_TYPE] ON 

INSERT [dbo].[OPERATION_TYPE] ([ID], [ID_OPERATION_TYPE_FAMILY], [LABEL]) VALUES (1, 1, N'INCONNU')
INSERT [dbo].[OPERATION_TYPE] ([ID], [ID_OPERATION_TYPE_FAMILY], [LABEL]) VALUES (2, 2, N'Accident du travail')
INSERT [dbo].[OPERATION_TYPE] ([ID], [ID_OPERATION_TYPE_FAMILY], [LABEL]) VALUES (3, 2, N'Allocation de chomage')
GO
SET IDENTITY_INSERT [dbo].[OPERATION_TYPE] OFF
SET IDENTITY_INSERT [dbo].[OPERATION_TYPE_FAMILY] ON 

INSERT [dbo].[OPERATION_TYPE_FAMILY] ([ID], [ID_MOVEMENT], [LABEL], [LOGO_CLASS_NAME]) VALUES (1, 3, N'INCONNU', N'OtfInconnu')
INSERT [dbo].[OPERATION_TYPE_FAMILY] ([ID], [ID_MOVEMENT], [LABEL], [LOGO_CLASS_NAME]) VALUES (2, 1, N'Autres revenus', NULL)
INSERT [dbo].[OPERATION_TYPE_FAMILY] ([ID], [ID_MOVEMENT], [LABEL], [LOGO_CLASS_NAME]) VALUES (3, 1, N'Placements', N'OtfPlacement')
SET IDENTITY_INSERT [dbo].[OPERATION_TYPE_FAMILY] OFF
SET IDENTITY_INSERT [dbo].[PARAMETER] ON 

INSERT [dbo].[PARAMETER] ([ID], [ID_USER], [IMPORT_FILE_DIR]) VALUES (1, 3, N'C:\Projects\Angular\File_Save\')
SET IDENTITY_INSERT [dbo].[PARAMETER] OFF
SET IDENTITY_INSERT [dbo].[PLAN] ON 

INSERT [dbo].[PLAN] ([ID], [LABEL], [YEAR]) VALUES (1, N'Budget global commun', 2018)
INSERT [dbo].[PLAN] ([ID], [LABEL], [YEAR]) VALUES (2, N'Budget global personnel', 2019)
INSERT [dbo].[PLAN] ([ID], [LABEL], [YEAR]) VALUES (3, N'Budget global commun', 2019)
SET IDENTITY_INSERT [dbo].[PLAN] OFF
SET IDENTITY_INSERT [dbo].[PLAN_POSTE] ON 

INSERT [dbo].[PLAN_POSTE] ([ID], [ID_PLAN], [ID_POSTE], [ID_REFERENCE_TABLE], [LABEL]) VALUES (3, 1, 1, 2, N'Salaire nico')
INSERT [dbo].[PLAN_POSTE] ([ID], [ID_PLAN], [ID_POSTE], [ID_REFERENCE_TABLE], [LABEL]) VALUES (6, 4, 1, 2, N'test recette')
INSERT [dbo].[PLAN_POSTE] ([ID], [ID_PLAN], [ID_POSTE], [ID_REFERENCE_TABLE], [LABEL]) VALUES (12, 1, 2, 1, N'Alimentation')
SET IDENTITY_INSERT [dbo].[PLAN_POSTE] OFF
SET IDENTITY_INSERT [dbo].[PLAN_POSTE_FREQUENCY] ON 

INSERT [dbo].[PLAN_POSTE_FREQUENCY] ([ID], [ID_FREQUENCY], [ID_PLAN_POSTE], [PREVIEW_AMOUNT]) VALUES (13, 1, 6, 50)
INSERT [dbo].[PLAN_POSTE_FREQUENCY] ([ID], [ID_FREQUENCY], [ID_PLAN_POSTE], [PREVIEW_AMOUNT]) VALUES (14, 2, 6, 100)
INSERT [dbo].[PLAN_POSTE_FREQUENCY] ([ID], [ID_FREQUENCY], [ID_PLAN_POSTE], [PREVIEW_AMOUNT]) VALUES (15, 3, 6, 100)
SET IDENTITY_INSERT [dbo].[PLAN_POSTE_FREQUENCY] OFF
SET IDENTITY_INSERT [dbo].[PLAN_POSTE_REFERENCE] ON 

INSERT [dbo].[PLAN_POSTE_REFERENCE] ([ID], [ID_PLAN_POSTE], [ID_REFERENCE], [ID_REFERENCE_TABLE]) VALUES (3, 6, 3, 2)
INSERT [dbo].[PLAN_POSTE_REFERENCE] ([ID], [ID_PLAN_POSTE], [ID_REFERENCE], [ID_REFERENCE_TABLE]) VALUES (4, 6, 4, 2)
INSERT [dbo].[PLAN_POSTE_REFERENCE] ([ID], [ID_PLAN_POSTE], [ID_REFERENCE], [ID_REFERENCE_TABLE]) VALUES (30, 3, 22, 2)
SET IDENTITY_INSERT [dbo].[PLAN_POSTE_REFERENCE] OFF
SET IDENTITY_INSERT [dbo].[PLAN_POSTE_USER] ON 

INSERT [dbo].[PLAN_POSTE_USER] ([ID], [ID_PLAN_POSTE], [ID_PLAN_USER], [IS_SALARY_ESTIMATED_PART], [PERCENTAGE_PART]) VALUES (1, 3, 1, 0, 50)
INSERT [dbo].[PLAN_POSTE_USER] ([ID], [ID_PLAN_POSTE], [ID_PLAN_USER], [IS_SALARY_ESTIMATED_PART], [PERCENTAGE_PART]) VALUES (2, 3, 2, 0, 50)
INSERT [dbo].[PLAN_POSTE_USER] ([ID], [ID_PLAN_POSTE], [ID_PLAN_USER], [IS_SALARY_ESTIMATED_PART], [PERCENTAGE_PART]) VALUES (5, 6, 5, 0, 100)
SET IDENTITY_INSERT [dbo].[PLAN_POSTE_USER] OFF
SET IDENTITY_INSERT [dbo].[PLAN_USER] ON 

INSERT [dbo].[PLAN_USER] ([ID], [ID_PLAN], [ID_USER]) VALUES (1, 1, 2)
INSERT [dbo].[PLAN_USER] ([ID], [ID_PLAN], [ID_USER]) VALUES (2, 1, 3)
INSERT [dbo].[PLAN_USER] ([ID], [ID_PLAN], [ID_USER]) VALUES (14, 2, 3)
SET IDENTITY_INSERT [dbo].[PLAN_USER] OFF
SET IDENTITY_INSERT [dbo].[POSTE] ON 

INSERT [dbo].[POSTE] ([ID], [LABEL]) VALUES (1, N'Recettes')
INSERT [dbo].[POSTE] ([ID], [LABEL]) VALUES (2, N'Dépenses fixes')
INSERT [dbo].[POSTE] ([ID], [LABEL]) VALUES (3, N'Dépenses variables')
SET IDENTITY_INSERT [dbo].[POSTE] OFF
SET IDENTITY_INSERT [dbo].[REFERENCE_TABLE] ON 

INSERT [dbo].[REFERENCE_TABLE] ([ID], [TABLE_NAME], [LABEL]) VALUES (1, N'OPERATION_TYPE_FAMILY', N'Catégorie opération')
INSERT [dbo].[REFERENCE_TABLE] ([ID], [TABLE_NAME], [LABEL]) VALUES (2, N'OPERATION_TYPE', N'Type opération')
INSERT [dbo].[REFERENCE_TABLE] ([ID], [TABLE_NAME], [LABEL]) VALUES (3, N'OPERATION', N'Opération')
SET IDENTITY_INSERT [dbo].[REFERENCE_TABLE] OFF
SET IDENTITY_INSERT [dbo].[USER] ON 

INSERT [dbo].[USER] ([ID], [AVATAR_URL], [CREATION_DATE], [LAST_ACTIVE_DATE], [BIRTH_DATE], [FIRST_NAME], [GENDER], [ID_AVATAR_CLOUD], [LAST_NAME], [PASSWORD_HASH], [PASSWORD_SALT], [USER_NAME], [ID_GMAP_ADDRESS]) VALUES (1, NULL, CAST(N'2017-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2018-01-01T00:00:00.0000000' AS DateTime2), CAST(N'1977-02-16T00:00:00.0000000' AS DateTime2), N'Nicolas', NULL, NULL, N'BRILLOUET', NULL, NULL, NULL, 1)
INSERT [dbo].[USER] ([ID], [AVATAR_URL], [CREATION_DATE], [LAST_ACTIVE_DATE], [BIRTH_DATE], [FIRST_NAME], [GENDER], [ID_AVATAR_CLOUD], [LAST_NAME], [PASSWORD_HASH], [PASSWORD_SALT], [USER_NAME], [ID_GMAP_ADDRESS]) VALUES (2, NULL, CAST(N'2017-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2018-01-01T00:00:00.0000000' AS DateTime2), CAST(N'1982-01-25T00:00:00.0000000' AS DateTime2), N'Sandra', NULL, NULL, N'CHEROY', NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[USER] OFF
SET IDENTITY_INSERT [dbo].[USER_ACCOUNT] ON 

INSERT [dbo].[USER_ACCOUNT] ([ID], [ID_ACCOUNT], [ID_USER]) VALUES (1, 2, 3)
INSERT [dbo].[USER_ACCOUNT] ([ID], [ID_ACCOUNT], [ID_USER]) VALUES (3, 30, 3)
INSERT [dbo].[USER_ACCOUNT] ([ID], [ID_ACCOUNT], [ID_USER]) VALUES (4, 33, 3)
SET IDENTITY_INSERT [dbo].[USER_ACCOUNT] OFF
SET IDENTITY_INSERT [dbo].[USER_SHORTCUT] ON 

INSERT [dbo].[USER_SHORTCUT] ([ID], [ICON], [ID_USER], [TITLE], [TYPE], [URL]) VALUES (1, NULL, 3, N'Compte courant (...066)', N'item', N'/apps/account-statements/accounts/2')
INSERT [dbo].[USER_SHORTCUT] ([ID], [ICON], [ID_USER], [TITLE], [TYPE], [URL]) VALUES (2, N'insert_drive_file', 3, N'Import relevés', N'item', N'/apps/import-statement-archives')
SET IDENTITY_INSERT [dbo].[USER_SHORTCUT] OFF
/****** Object:  Index [IX_ACCOUNT_ID_ACCOUNT_TYPE]    Script Date: 29/01/2019 17:34:08 ******/
CREATE NONCLUSTERED INDEX [IX_ACCOUNT_ID_ACCOUNT_TYPE] ON [dbo].[ACCOUNT]
(
	[ID_ACCOUNT_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ACCOUNT_ID_BANK]    Script Date: 29/01/2019 17:34:08 ******/
CREATE NONCLUSTERED INDEX [IX_ACCOUNT_ID_BANK] ON [dbo].[ACCOUNT]
(
	[ID_BANK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AccountNumber]    Script Date: 29/01/2019 17:34:08 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_AccountNumber] ON [dbo].[ACCOUNT]
(
	[NUMBER] ASC
)
WHERE ([NUMBER] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ACCOUNT_STATEMENT_ID_ACCOUNT]    Script Date: 29/01/2019 17:34:08 ******/
CREATE NONCLUSTERED INDEX [IX_ACCOUNT_STATEMENT_ID_ACCOUNT] ON [dbo].[ACCOUNT_STATEMENT]
(
	[ID_ACCOUNT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ACCOUNT_STATEMENT_ID_IMPORT]    Script Date: 29/01/2019 17:34:08 ******/
CREATE NONCLUSTERED INDEX [IX_ACCOUNT_STATEMENT_ID_IMPORT] ON [dbo].[ACCOUNT_STATEMENT]
(
	[ID_IMPORT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ACCOUNT_STATEMENT_ID_OPERATION]    Script Date: 29/01/2019 17:34:08 ******/
CREATE NONCLUSTERED INDEX [IX_ACCOUNT_STATEMENT_ID_OPERATION] ON [dbo].[ACCOUNT_STATEMENT]
(
	[ID_OPERATION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ACCOUNT_STATEMENT_ID_OPERATION_DETAIL]    Script Date: 29/01/2019 17:34:08 ******/
CREATE NONCLUSTERED INDEX [IX_ACCOUNT_STATEMENT_ID_OPERATION_DETAIL] ON [dbo].[ACCOUNT_STATEMENT]
(
	[ID_OPERATION_DETAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ACCOUNT_STATEMENT_ID_OPERATION_METHOD]    Script Date: 29/01/2019 17:34:08 ******/
CREATE NONCLUSTERED INDEX [IX_ACCOUNT_STATEMENT_ID_OPERATION_METHOD] ON [dbo].[ACCOUNT_STATEMENT]
(
	[ID_OPERATION_METHOD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ACCOUNT_STATEMENT_ID_OPERATION_TYPE]    Script Date: 29/01/2019 17:34:08 ******/
CREATE NONCLUSTERED INDEX [IX_ACCOUNT_STATEMENT_ID_OPERATION_TYPE] ON [dbo].[ACCOUNT_STATEMENT]
(
	[ID_OPERATION_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ACCOUNT_STATEMENT_IMPORT_ID_BANK]    Script Date: 29/01/2019 17:34:08 ******/
CREATE NONCLUSTERED INDEX [IX_ACCOUNT_STATEMENT_IMPORT_ID_BANK] ON [dbo].[ACCOUNT_STATEMENT_IMPORT]
(
	[ID_BANK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ACCOUNT_STATEMENT_IMPORT_ID_USER]    Script Date: 29/01/2019 17:34:08 ******/
CREATE NONCLUSTERED INDEX [IX_ACCOUNT_STATEMENT_IMPORT_ID_USER] ON [dbo].[ACCOUNT_STATEMENT_IMPORT]
(
	[ID_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ACCOUNT_STATEMENT_IMPORT_FILE_ID_ACCOUNT]    Script Date: 29/01/2019 17:34:08 ******/
CREATE NONCLUSTERED INDEX [IX_ACCOUNT_STATEMENT_IMPORT_FILE_ID_ACCOUNT] ON [dbo].[ACCOUNT_STATEMENT_IMPORT_FILE]
(
	[ID_ACCOUNT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ACCOUNT_STATEMENT_IMPORT_FILE_ID_IMPORT]    Script Date: 29/01/2019 17:34:08 ******/
CREATE NONCLUSTERED INDEX [IX_ACCOUNT_STATEMENT_IMPORT_FILE_ID_IMPORT] ON [dbo].[ACCOUNT_STATEMENT_IMPORT_FILE]
(
	[ID_IMPORT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ACCOUNT_STATEMENT_IMPORT_FILE_ID_OPERATION]    Script Date: 29/01/2019 17:34:08 ******/
CREATE NONCLUSTERED INDEX [IX_ACCOUNT_STATEMENT_IMPORT_FILE_ID_OPERATION] ON [dbo].[ACCOUNT_STATEMENT_IMPORT_FILE]
(
	[ID_OPERATION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ACCOUNT_STATEMENT_IMPORT_FILE_ID_OPERATION_DETAIL]    Script Date: 29/01/2019 17:34:08 ******/
CREATE NONCLUSTERED INDEX [IX_ACCOUNT_STATEMENT_IMPORT_FILE_ID_OPERATION_DETAIL] ON [dbo].[ACCOUNT_STATEMENT_IMPORT_FILE]
(
	[ID_OPERATION_DETAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ACCOUNT_STATEMENT_IMPORT_FILE_ID_OPERATION_METHOD]    Script Date: 29/01/2019 17:34:08 ******/
CREATE NONCLUSTERED INDEX [IX_ACCOUNT_STATEMENT_IMPORT_FILE_ID_OPERATION_METHOD] ON [dbo].[ACCOUNT_STATEMENT_IMPORT_FILE]
(
	[ID_OPERATION_METHOD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ACCOUNT_STATEMENT_IMPORT_FILE_ID_OPERATION_TYPE]    Script Date: 29/01/2019 17:34:08 ******/
CREATE NONCLUSTERED INDEX [IX_ACCOUNT_STATEMENT_IMPORT_FILE_ID_OPERATION_TYPE] ON [dbo].[ACCOUNT_STATEMENT_IMPORT_FILE]
(
	[ID_OPERATION_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ACCOUNT_STATEMENT_IMPORT_FILE_ID_OPERATION_TYPE_FAMILY]    Script Date: 29/01/2019 17:34:08 ******/
CREATE NONCLUSTERED INDEX [IX_ACCOUNT_STATEMENT_IMPORT_FILE_ID_OPERATION_TYPE_FAMILY] ON [dbo].[ACCOUNT_STATEMENT_IMPORT_FILE]
(
	[ID_OPERATION_TYPE_FAMILY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_GMAP_ADDRESS_ID_GMAP_ADMINISTRATIVE_AREA_LEVEL_1]    Script Date: 29/01/2019 17:34:08 ******/
CREATE NONCLUSTERED INDEX [IX_GMAP_ADDRESS_ID_GMAP_ADMINISTRATIVE_AREA_LEVEL_1] ON [dbo].[GMAP_ADDRESS]
(
	[ID_GMAP_ADMINISTRATIVE_AREA_LEVEL_1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_GMAP_ADDRESS_ID_GMAP_ADMINISTRATIVE_AREA_LEVEL_2]    Script Date: 29/01/2019 17:34:08 ******/
CREATE NONCLUSTERED INDEX [IX_GMAP_ADDRESS_ID_GMAP_ADMINISTRATIVE_AREA_LEVEL_2] ON [dbo].[GMAP_ADDRESS]
(
	[ID_GMAP_ADMINISTRATIVE_AREA_LEVEL_2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_GMAP_ADDRESS_ID_GMAP_COUNTRY]    Script Date: 29/01/2019 17:34:08 ******/
CREATE NONCLUSTERED INDEX [IX_GMAP_ADDRESS_ID_GMAP_COUNTRY] ON [dbo].[GMAP_ADDRESS]
(
	[ID_GMAP_COUNTRY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_GMAP_ADDRESS_ID_GMAP_LOCALITY]    Script Date: 29/01/2019 17:34:08 ******/
CREATE NONCLUSTERED INDEX [IX_GMAP_ADDRESS_ID_GMAP_LOCALITY] ON [dbo].[GMAP_ADDRESS]
(
	[ID_GMAP_LOCALITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_GMAP_ADDRESS_ID_GMAP_NEIGHBORHOOD]    Script Date: 29/01/2019 17:34:08 ******/
CREATE NONCLUSTERED INDEX [IX_GMAP_ADDRESS_ID_GMAP_NEIGHBORHOOD] ON [dbo].[GMAP_ADDRESS]
(
	[ID_GMAP_NEIGHBORHOOD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_GMAP_ADDRESS_ID_GMAP_POSTAL_CODE]    Script Date: 29/01/2019 17:34:08 ******/
CREATE NONCLUSTERED INDEX [IX_GMAP_ADDRESS_ID_GMAP_POSTAL_CODE] ON [dbo].[GMAP_ADDRESS]
(
	[ID_GMAP_POSTAL_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_GMAP_ADDRESS_ID_GMAP_ROUTE]    Script Date: 29/01/2019 17:34:08 ******/
CREATE NONCLUSTERED INDEX [IX_GMAP_ADDRESS_ID_GMAP_ROUTE] ON [dbo].[GMAP_ADDRESS]
(
	[ID_GMAP_ROUTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_GMAP_ADDRESS_ID_GMAP_STREET_NUMBER]    Script Date: 29/01/2019 17:34:08 ******/
CREATE NONCLUSTERED INDEX [IX_GMAP_ADDRESS_ID_GMAP_STREET_NUMBER] ON [dbo].[GMAP_ADDRESS]
(
	[ID_GMAP_STREET_NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_GMAP_ADDRESS_ID_GMAP_SUBLOCALITY_LEVEL_1]    Script Date: 29/01/2019 17:34:08 ******/
CREATE NONCLUSTERED INDEX [IX_GMAP_ADDRESS_ID_GMAP_SUBLOCALITY_LEVEL_1] ON [dbo].[GMAP_ADDRESS]
(
	[ID_GMAP_SUBLOCALITY_LEVEL_1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_GMAP_ADDRESS_ID_GMAP_SUBLOCALITY_LEVEL_2]    Script Date: 29/01/2019 17:34:08 ******/
CREATE NONCLUSTERED INDEX [IX_GMAP_ADDRESS_ID_GMAP_SUBLOCALITY_LEVEL_2] ON [dbo].[GMAP_ADDRESS]
(
	[ID_GMAP_SUBLOCALITY_LEVEL_2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_GMAP_ADDRESS_TYPE_ID_GMAP_ADDRESS]    Script Date: 29/01/2019 17:34:08 ******/
CREATE NONCLUSTERED INDEX [IX_GMAP_ADDRESS_TYPE_ID_GMAP_ADDRESS] ON [dbo].[GMAP_ADDRESS_TYPE]
(
	[ID_GMAP_ADDRESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_GMAP_ADDRESS_TYPE_ID_GMAP_TYPE]    Script Date: 29/01/2019 17:34:08 ******/
CREATE NONCLUSTERED INDEX [IX_GMAP_ADDRESS_TYPE_ID_GMAP_TYPE] ON [dbo].[GMAP_ADDRESS_TYPE]
(
	[ID_GMAP_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_OPERATION_ID_OPERATION_METHOD]    Script Date: 29/01/2019 17:34:08 ******/
CREATE NONCLUSTERED INDEX [IX_OPERATION_ID_OPERATION_METHOD] ON [dbo].[OPERATION]
(
	[ID_OPERATION_METHOD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_OPERATION_ID_OPERATION_TYPE]    Script Date: 29/01/2019 17:34:08 ******/
CREATE NONCLUSTERED INDEX [IX_OPERATION_ID_OPERATION_TYPE] ON [dbo].[OPERATION]
(
	[ID_OPERATION_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_OperationKey]    Script Date: 29/01/2019 17:34:08 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_OperationKey] ON [dbo].[OPERATION]
(
	[LABEL] ASC,
	[ID_OPERATION_METHOD] ASC,
	[ID_OPERATION_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Keyword]    Script Date: 29/01/2019 17:34:08 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Keyword] ON [dbo].[OPERATION_DETAIL]
(
	[KEYWORD_OPERATION] ASC,
	[KEYWORD_PLACE] ASC
)
WHERE ([KEYWORD_OPERATION] IS NOT NULL AND [KEYWORD_PLACE] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_OPERATION_DETAIL_ID_GMAP_ADDRESS]    Script Date: 29/01/2019 17:34:08 ******/
CREATE NONCLUSTERED INDEX [IX_OPERATION_DETAIL_ID_GMAP_ADDRESS] ON [dbo].[OPERATION_DETAIL]
(
	[ID_GMAP_ADDRESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_OPERATION_DETAIL_ID_OPERATION]    Script Date: 29/01/2019 17:34:08 ******/
CREATE NONCLUSTERED INDEX [IX_OPERATION_DETAIL_ID_OPERATION] ON [dbo].[OPERATION_DETAIL]
(
	[ID_OPERATION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_OPERATION_METHOD_LEXICAL_ID_OPERATION_METHOD]    Script Date: 29/01/2019 17:34:08 ******/
CREATE NONCLUSTERED INDEX [IX_OPERATION_METHOD_LEXICAL_ID_OPERATION_METHOD] ON [dbo].[OPERATION_METHOD_LEXICAL]
(
	[ID_OPERATION_METHOD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_OPERATION_TYPE_ID_OPERATION_TYPE_FAMILY]    Script Date: 29/01/2019 17:34:08 ******/
CREATE NONCLUSTERED INDEX [IX_OPERATION_TYPE_ID_OPERATION_TYPE_FAMILY] ON [dbo].[OPERATION_TYPE]
(
	[ID_OPERATION_TYPE_FAMILY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_OTF_Id_IdMovement]    Script Date: 29/01/2019 17:34:08 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_OTF_Id_IdMovement] ON [dbo].[OPERATION_TYPE_FAMILY]
(
	[ID] ASC,
	[ID_MOVEMENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PARAMETER_ID_USER]    Script Date: 29/01/2019 17:34:08 ******/
CREATE NONCLUSTERED INDEX [IX_PARAMETER_ID_USER] ON [dbo].[PARAMETER]
(
	[ID_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PLAN_POSTE_ID_PLAN]    Script Date: 29/01/2019 17:34:08 ******/
CREATE NONCLUSTERED INDEX [IX_PLAN_POSTE_ID_PLAN] ON [dbo].[PLAN_POSTE]
(
	[ID_PLAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PLAN_POSTE_ID_POSTE]    Script Date: 29/01/2019 17:34:08 ******/
CREATE NONCLUSTERED INDEX [IX_PLAN_POSTE_ID_POSTE] ON [dbo].[PLAN_POSTE]
(
	[ID_POSTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PLAN_POSTE_ID_REFERENCE_TABLE]    Script Date: 29/01/2019 17:34:08 ******/
CREATE NONCLUSTERED INDEX [IX_PLAN_POSTE_ID_REFERENCE_TABLE] ON [dbo].[PLAN_POSTE]
(
	[ID_REFERENCE_TABLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PLAN_POSTE_FREQUENCY_ID_FREQUENCY]    Script Date: 29/01/2019 17:34:08 ******/
CREATE NONCLUSTERED INDEX [IX_PLAN_POSTE_FREQUENCY_ID_FREQUENCY] ON [dbo].[PLAN_POSTE_FREQUENCY]
(
	[ID_FREQUENCY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PLAN_POSTE_FREQUENCY_ID_PLAN_POSTE]    Script Date: 29/01/2019 17:34:08 ******/
CREATE NONCLUSTERED INDEX [IX_PLAN_POSTE_FREQUENCY_ID_PLAN_POSTE] ON [dbo].[PLAN_POSTE_FREQUENCY]
(
	[ID_PLAN_POSTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PLAN_POSTE_REFERENCE_ID_PLAN_POSTE]    Script Date: 29/01/2019 17:34:08 ******/
CREATE NONCLUSTERED INDEX [IX_PLAN_POSTE_REFERENCE_ID_PLAN_POSTE] ON [dbo].[PLAN_POSTE_REFERENCE]
(
	[ID_PLAN_POSTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PLAN_POSTE_REFERENCE_ID_REFERENCE_TABLE]    Script Date: 29/01/2019 17:34:08 ******/
CREATE NONCLUSTERED INDEX [IX_PLAN_POSTE_REFERENCE_ID_REFERENCE_TABLE] ON [dbo].[PLAN_POSTE_REFERENCE]
(
	[ID_REFERENCE_TABLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PLAN_POSTE_USER_ID_PLAN_POSTE]    Script Date: 29/01/2019 17:34:08 ******/
CREATE NONCLUSTERED INDEX [IX_PLAN_POSTE_USER_ID_PLAN_POSTE] ON [dbo].[PLAN_POSTE_USER]
(
	[ID_PLAN_POSTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PLAN_POSTE_USER_ID_PLAN_USER]    Script Date: 29/01/2019 17:34:08 ******/
CREATE NONCLUSTERED INDEX [IX_PLAN_POSTE_USER_ID_PLAN_USER] ON [dbo].[PLAN_POSTE_USER]
(
	[ID_PLAN_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PLAN_USER_ID_USER]    Script Date: 29/01/2019 17:34:08 ******/
CREATE NONCLUSTERED INDEX [IX_PLAN_USER_ID_USER] ON [dbo].[PLAN_USER]
(
	[ID_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PlanUser]    Script Date: 29/01/2019 17:34:08 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_PlanUser] ON [dbo].[PLAN_USER]
(
	[ID_PLAN] ASC,
	[ID_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_USER_ID_GMAP_ADDRESS]    Script Date: 29/01/2019 17:34:08 ******/
CREATE NONCLUSTERED INDEX [IX_USER_ID_GMAP_ADDRESS] ON [dbo].[USER]
(
	[ID_GMAP_ADDRESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_USER_ACCOUNT_ID_ACCOUNT]    Script Date: 29/01/2019 17:34:08 ******/
CREATE NONCLUSTERED INDEX [IX_USER_ACCOUNT_ID_ACCOUNT] ON [dbo].[USER_ACCOUNT]
(
	[ID_ACCOUNT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_USER_ACCOUNT_ID_USER]    Script Date: 29/01/2019 17:34:08 ******/
CREATE NONCLUSTERED INDEX [IX_USER_ACCOUNT_ID_USER] ON [dbo].[USER_ACCOUNT]
(
	[ID_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_USER_SHORTCUT_ID_USER]    Script Date: 29/01/2019 17:34:08 ******/
CREATE NONCLUSTERED INDEX [IX_USER_SHORTCUT_ID_USER] ON [dbo].[USER_SHORTCUT]
(
	[ID_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BANK_FILE_DEFINITION] ADD  DEFAULT ((0)) FOR [ID_BANK_FAMILY]
GO
ALTER TABLE [dbo].[OPERATION_METHOD_LEXICAL] ADD  DEFAULT ((0)) FOR [ID_BANK_FAMILY]
GO
ALTER TABLE [dbo].[PLAN] ADD  DEFAULT ((0)) FOR [YEAR]
GO
ALTER TABLE [dbo].[PLAN_POSTE_REFERENCE] ADD  DEFAULT ((0)) FOR [ID_REFERENCE_TABLE]
GO
ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_ACCOUNT_TYPE_ID_ACCOUNT_TYPE] FOREIGN KEY([ID_ACCOUNT_TYPE])
REFERENCES [dbo].[ACCOUNT_TYPE] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ACCOUNT] CHECK CONSTRAINT [FK_ACCOUNT_ACCOUNT_TYPE_ID_ACCOUNT_TYPE]
GO
ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_BANK_ID_BANK] FOREIGN KEY([ID_BANK])
REFERENCES [dbo].[BANK] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ACCOUNT] CHECK CONSTRAINT [FK_ACCOUNT_BANK_ID_BANK]
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_STATEMENT_ACCOUNT_ID_ACCOUNT] FOREIGN KEY([ID_ACCOUNT])
REFERENCES [dbo].[ACCOUNT] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT] CHECK CONSTRAINT [FK_ACCOUNT_STATEMENT_ACCOUNT_ID_ACCOUNT]
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_STATEMENT_ACCOUNT_STATEMENT_IMPORT_ID_IMPORT] FOREIGN KEY([ID_IMPORT])
REFERENCES [dbo].[ACCOUNT_STATEMENT_IMPORT] ([ID])
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT] CHECK CONSTRAINT [FK_ACCOUNT_STATEMENT_ACCOUNT_STATEMENT_IMPORT_ID_IMPORT]
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_STATEMENT_OPERATION_DETAIL_ID_OPERATION_DETAIL] FOREIGN KEY([ID_OPERATION_DETAIL])
REFERENCES [dbo].[OPERATION_DETAIL] ([ID])
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT] CHECK CONSTRAINT [FK_ACCOUNT_STATEMENT_OPERATION_DETAIL_ID_OPERATION_DETAIL]
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_STATEMENT_OPERATION_ID_OPERATION] FOREIGN KEY([ID_OPERATION])
REFERENCES [dbo].[OPERATION] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT] CHECK CONSTRAINT [FK_ACCOUNT_STATEMENT_OPERATION_ID_OPERATION]
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_STATEMENT_OPERATION_METHOD_ID_OPERATION_METHOD] FOREIGN KEY([ID_OPERATION_METHOD])
REFERENCES [dbo].[OPERATION_METHOD] ([ID])
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT] CHECK CONSTRAINT [FK_ACCOUNT_STATEMENT_OPERATION_METHOD_ID_OPERATION_METHOD]
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_STATEMENT_OPERATION_TYPE_ID_OPERATION_TYPE] FOREIGN KEY([ID_OPERATION_TYPE])
REFERENCES [dbo].[OPERATION_TYPE] ([ID])
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT] CHECK CONSTRAINT [FK_ACCOUNT_STATEMENT_OPERATION_TYPE_ID_OPERATION_TYPE]
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT_IMPORT]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_BANK_ID_BANK] FOREIGN KEY([ID_BANK])
REFERENCES [dbo].[BANK] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT_IMPORT] CHECK CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_BANK_ID_BANK]
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT_IMPORT]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_USER_ID_USER] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[USER] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT_IMPORT] CHECK CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_USER_ID_USER]
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT_IMPORT_FILE]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_FILE_ACCOUNT_ID_ACCOUNT] FOREIGN KEY([ID_ACCOUNT])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT_IMPORT_FILE] CHECK CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_FILE_ACCOUNT_ID_ACCOUNT]
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT_IMPORT_FILE]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_FILE_ACCOUNT_STATEMENT_IMPORT_ID_IMPORT] FOREIGN KEY([ID_IMPORT])
REFERENCES [dbo].[ACCOUNT_STATEMENT_IMPORT] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT_IMPORT_FILE] CHECK CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_FILE_ACCOUNT_STATEMENT_IMPORT_ID_IMPORT]
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT_IMPORT_FILE]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_FILE_OPERATION_DETAIL_ID_OPERATION_DETAIL] FOREIGN KEY([ID_OPERATION_DETAIL])
REFERENCES [dbo].[OPERATION_DETAIL] ([ID])
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT_IMPORT_FILE] CHECK CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_FILE_OPERATION_DETAIL_ID_OPERATION_DETAIL]
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT_IMPORT_FILE]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_FILE_OPERATION_ID_OPERATION] FOREIGN KEY([ID_OPERATION])
REFERENCES [dbo].[OPERATION] ([ID])
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT_IMPORT_FILE] CHECK CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_FILE_OPERATION_ID_OPERATION]
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT_IMPORT_FILE]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_FILE_OPERATION_METHOD_ID_OPERATION_METHOD] FOREIGN KEY([ID_OPERATION_METHOD])
REFERENCES [dbo].[OPERATION_METHOD] ([ID])
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT_IMPORT_FILE] CHECK CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_FILE_OPERATION_METHOD_ID_OPERATION_METHOD]
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT_IMPORT_FILE]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_FILE_OPERATION_TYPE_FAMILY_ID_OPERATION_TYPE_FAMILY] FOREIGN KEY([ID_OPERATION_TYPE_FAMILY])
REFERENCES [dbo].[OPERATION_TYPE_FAMILY] ([ID])
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT_IMPORT_FILE] CHECK CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_FILE_OPERATION_TYPE_FAMILY_ID_OPERATION_TYPE_FAMILY]
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT_IMPORT_FILE]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_FILE_OPERATION_TYPE_ID_OPERATION_TYPE] FOREIGN KEY([ID_OPERATION_TYPE])
REFERENCES [dbo].[OPERATION_TYPE] ([ID])
GO
ALTER TABLE [dbo].[ACCOUNT_STATEMENT_IMPORT_FILE] CHECK CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_FILE_OPERATION_TYPE_ID_OPERATION_TYPE]
GO
ALTER TABLE [dbo].[GMAP_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_GMAP_ADDRESS_GMAP_ADMINISTRATIVE_AREA_LEVEL_1_ID_GMAP_ADMINISTRATIVE_AREA_LEVEL_1] FOREIGN KEY([ID_GMAP_ADMINISTRATIVE_AREA_LEVEL_1])
REFERENCES [dbo].[GMAP_ADMINISTRATIVE_AREA_LEVEL_1] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GMAP_ADDRESS] CHECK CONSTRAINT [FK_GMAP_ADDRESS_GMAP_ADMINISTRATIVE_AREA_LEVEL_1_ID_GMAP_ADMINISTRATIVE_AREA_LEVEL_1]
GO
ALTER TABLE [dbo].[GMAP_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_GMAP_ADDRESS_GMAP_ADMINISTRATIVE_AREA_LEVEL_2_ID_GMAP_ADMINISTRATIVE_AREA_LEVEL_2] FOREIGN KEY([ID_GMAP_ADMINISTRATIVE_AREA_LEVEL_2])
REFERENCES [dbo].[GMAP_ADMINISTRATIVE_AREA_LEVEL_2] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GMAP_ADDRESS] CHECK CONSTRAINT [FK_GMAP_ADDRESS_GMAP_ADMINISTRATIVE_AREA_LEVEL_2_ID_GMAP_ADMINISTRATIVE_AREA_LEVEL_2]
GO
ALTER TABLE [dbo].[GMAP_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_GMAP_ADDRESS_GMAP_COUNTRY_ID_GMAP_COUNTRY] FOREIGN KEY([ID_GMAP_COUNTRY])
REFERENCES [dbo].[GMAP_COUNTRY] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GMAP_ADDRESS] CHECK CONSTRAINT [FK_GMAP_ADDRESS_GMAP_COUNTRY_ID_GMAP_COUNTRY]
GO
ALTER TABLE [dbo].[GMAP_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_GMAP_ADDRESS_GMAP_LOCALITY_ID_GMAP_LOCALITY] FOREIGN KEY([ID_GMAP_LOCALITY])
REFERENCES [dbo].[GMAP_LOCALITY] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GMAP_ADDRESS] CHECK CONSTRAINT [FK_GMAP_ADDRESS_GMAP_LOCALITY_ID_GMAP_LOCALITY]
GO
ALTER TABLE [dbo].[GMAP_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_GMAP_ADDRESS_GMAP_NEIGHBORHOOD_ID_GMAP_NEIGHBORHOOD] FOREIGN KEY([ID_GMAP_NEIGHBORHOOD])
REFERENCES [dbo].[GMAP_NEIGHBORHOOD] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GMAP_ADDRESS] CHECK CONSTRAINT [FK_GMAP_ADDRESS_GMAP_NEIGHBORHOOD_ID_GMAP_NEIGHBORHOOD]
GO
ALTER TABLE [dbo].[GMAP_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_GMAP_ADDRESS_GMAP_POSTAL_CODE_ID_GMAP_POSTAL_CODE] FOREIGN KEY([ID_GMAP_POSTAL_CODE])
REFERENCES [dbo].[GMAP_POSTAL_CODE] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GMAP_ADDRESS] CHECK CONSTRAINT [FK_GMAP_ADDRESS_GMAP_POSTAL_CODE_ID_GMAP_POSTAL_CODE]
GO
ALTER TABLE [dbo].[GMAP_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_GMAP_ADDRESS_GMAP_ROUTE_ID_GMAP_ROUTE] FOREIGN KEY([ID_GMAP_ROUTE])
REFERENCES [dbo].[GMAP_ROUTE] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GMAP_ADDRESS] CHECK CONSTRAINT [FK_GMAP_ADDRESS_GMAP_ROUTE_ID_GMAP_ROUTE]
GO
ALTER TABLE [dbo].[GMAP_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_GMAP_ADDRESS_GMAP_STREET_NUMBER_ID_GMAP_STREET_NUMBER] FOREIGN KEY([ID_GMAP_STREET_NUMBER])
REFERENCES [dbo].[GMAP_STREET_NUMBER] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GMAP_ADDRESS] CHECK CONSTRAINT [FK_GMAP_ADDRESS_GMAP_STREET_NUMBER_ID_GMAP_STREET_NUMBER]
GO
ALTER TABLE [dbo].[GMAP_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_GMAP_ADDRESS_GMAP_SUBLOCALITY_LEVEL_1_ID_GMAP_SUBLOCALITY_LEVEL_1] FOREIGN KEY([ID_GMAP_SUBLOCALITY_LEVEL_1])
REFERENCES [dbo].[GMAP_SUBLOCALITY_LEVEL_1] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GMAP_ADDRESS] CHECK CONSTRAINT [FK_GMAP_ADDRESS_GMAP_SUBLOCALITY_LEVEL_1_ID_GMAP_SUBLOCALITY_LEVEL_1]
GO
ALTER TABLE [dbo].[GMAP_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_GMAP_ADDRESS_GMAP_SUBLOCALITY_LEVEL_2_ID_GMAP_SUBLOCALITY_LEVEL_2] FOREIGN KEY([ID_GMAP_SUBLOCALITY_LEVEL_2])
REFERENCES [dbo].[GMAP_SUBLOCALITY_LEVEL_2] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GMAP_ADDRESS] CHECK CONSTRAINT [FK_GMAP_ADDRESS_GMAP_SUBLOCALITY_LEVEL_2_ID_GMAP_SUBLOCALITY_LEVEL_2]
GO
ALTER TABLE [dbo].[GMAP_ADDRESS_TYPE]  WITH CHECK ADD  CONSTRAINT [FK_GMAP_ADDRESS_TYPE_GMAP_ADDRESS_ID_GMAP_ADDRESS] FOREIGN KEY([ID_GMAP_ADDRESS])
REFERENCES [dbo].[GMAP_ADDRESS] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GMAP_ADDRESS_TYPE] CHECK CONSTRAINT [FK_GMAP_ADDRESS_TYPE_GMAP_ADDRESS_ID_GMAP_ADDRESS]
GO
ALTER TABLE [dbo].[GMAP_ADDRESS_TYPE]  WITH CHECK ADD  CONSTRAINT [FK_GMAP_ADDRESS_TYPE_GMAP_TYPE_ID_GMAP_TYPE] FOREIGN KEY([ID_GMAP_TYPE])
REFERENCES [dbo].[GMAP_TYPE] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GMAP_ADDRESS_TYPE] CHECK CONSTRAINT [FK_GMAP_ADDRESS_TYPE_GMAP_TYPE_ID_GMAP_TYPE]
GO
ALTER TABLE [dbo].[OPERATION]  WITH CHECK ADD  CONSTRAINT [FK_OPERATION_OPERATION_METHOD_ID_OPERATION_METHOD] FOREIGN KEY([ID_OPERATION_METHOD])
REFERENCES [dbo].[OPERATION_METHOD] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OPERATION] CHECK CONSTRAINT [FK_OPERATION_OPERATION_METHOD_ID_OPERATION_METHOD]
GO
ALTER TABLE [dbo].[OPERATION]  WITH CHECK ADD  CONSTRAINT [FK_OPERATION_OPERATION_TYPE_ID_OPERATION_TYPE] FOREIGN KEY([ID_OPERATION_TYPE])
REFERENCES [dbo].[OPERATION_TYPE] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OPERATION] CHECK CONSTRAINT [FK_OPERATION_OPERATION_TYPE_ID_OPERATION_TYPE]
GO
ALTER TABLE [dbo].[OPERATION_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_OPERATION_DETAIL_GMAP_ADDRESS_ID_GMAP_ADDRESS] FOREIGN KEY([ID_GMAP_ADDRESS])
REFERENCES [dbo].[GMAP_ADDRESS] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OPERATION_DETAIL] CHECK CONSTRAINT [FK_OPERATION_DETAIL_GMAP_ADDRESS_ID_GMAP_ADDRESS]
GO
ALTER TABLE [dbo].[OPERATION_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_OPERATION_DETAIL_OPERATION_ID_OPERATION] FOREIGN KEY([ID_OPERATION])
REFERENCES [dbo].[OPERATION] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OPERATION_DETAIL] CHECK CONSTRAINT [FK_OPERATION_DETAIL_OPERATION_ID_OPERATION]
GO
ALTER TABLE [dbo].[OPERATION_METHOD_LEXICAL]  WITH CHECK ADD  CONSTRAINT [FK_OPERATION_METHOD_LEXICAL_OPERATION_METHOD_ID_OPERATION_METHOD] FOREIGN KEY([ID_OPERATION_METHOD])
REFERENCES [dbo].[OPERATION_METHOD] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OPERATION_METHOD_LEXICAL] CHECK CONSTRAINT [FK_OPERATION_METHOD_LEXICAL_OPERATION_METHOD_ID_OPERATION_METHOD]
GO
ALTER TABLE [dbo].[OPERATION_TYPE]  WITH CHECK ADD  CONSTRAINT [FK_OPERATION_TYPE_OPERATION_TYPE_FAMILY_ID_OPERATION_TYPE_FAMILY] FOREIGN KEY([ID_OPERATION_TYPE_FAMILY])
REFERENCES [dbo].[OPERATION_TYPE_FAMILY] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OPERATION_TYPE] CHECK CONSTRAINT [FK_OPERATION_TYPE_OPERATION_TYPE_FAMILY_ID_OPERATION_TYPE_FAMILY]
GO
ALTER TABLE [dbo].[PARAMETER]  WITH CHECK ADD  CONSTRAINT [FK_PARAMETER_USER_ID_USER] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[USER] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PARAMETER] CHECK CONSTRAINT [FK_PARAMETER_USER_ID_USER]
GO
ALTER TABLE [dbo].[PLAN_POSTE]  WITH CHECK ADD  CONSTRAINT [FK_PLAN_POSTE_PLAN_ID_PLAN] FOREIGN KEY([ID_PLAN])
REFERENCES [dbo].[PLAN] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PLAN_POSTE] CHECK CONSTRAINT [FK_PLAN_POSTE_PLAN_ID_PLAN]
GO
ALTER TABLE [dbo].[PLAN_POSTE]  WITH CHECK ADD  CONSTRAINT [FK_PLAN_POSTE_POSTE_ID_POSTE] FOREIGN KEY([ID_POSTE])
REFERENCES [dbo].[POSTE] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PLAN_POSTE] CHECK CONSTRAINT [FK_PLAN_POSTE_POSTE_ID_POSTE]
GO
ALTER TABLE [dbo].[PLAN_POSTE]  WITH CHECK ADD  CONSTRAINT [FK_PLAN_POSTE_REFERENCE_TABLE_ID_REFERENCE_TABLE] FOREIGN KEY([ID_REFERENCE_TABLE])
REFERENCES [dbo].[REFERENCE_TABLE] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PLAN_POSTE] CHECK CONSTRAINT [FK_PLAN_POSTE_REFERENCE_TABLE_ID_REFERENCE_TABLE]
GO
ALTER TABLE [dbo].[PLAN_POSTE_FREQUENCY]  WITH CHECK ADD  CONSTRAINT [FK_PLAN_POSTE_FREQUENCY_FREQUENCY_ID_FREQUENCY] FOREIGN KEY([ID_FREQUENCY])
REFERENCES [dbo].[FREQUENCY] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PLAN_POSTE_FREQUENCY] CHECK CONSTRAINT [FK_PLAN_POSTE_FREQUENCY_FREQUENCY_ID_FREQUENCY]
GO
ALTER TABLE [dbo].[PLAN_POSTE_FREQUENCY]  WITH CHECK ADD  CONSTRAINT [FK_PLAN_POSTE_FREQUENCY_PLAN_POSTE_ID_PLAN_POSTE] FOREIGN KEY([ID_PLAN_POSTE])
REFERENCES [dbo].[PLAN_POSTE] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PLAN_POSTE_FREQUENCY] CHECK CONSTRAINT [FK_PLAN_POSTE_FREQUENCY_PLAN_POSTE_ID_PLAN_POSTE]
GO
ALTER TABLE [dbo].[PLAN_POSTE_REFERENCE]  WITH CHECK ADD  CONSTRAINT [FK_PLAN_POSTE_REFERENCE_PLAN_POSTE_ID_PLAN_POSTE] FOREIGN KEY([ID_PLAN_POSTE])
REFERENCES [dbo].[PLAN_POSTE] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PLAN_POSTE_REFERENCE] CHECK CONSTRAINT [FK_PLAN_POSTE_REFERENCE_PLAN_POSTE_ID_PLAN_POSTE]
GO
ALTER TABLE [dbo].[PLAN_POSTE_REFERENCE]  WITH CHECK ADD  CONSTRAINT [FK_PLAN_POSTE_REFERENCE_REFERENCE_TABLE_ID_REFERENCE_TABLE] FOREIGN KEY([ID_REFERENCE_TABLE])
REFERENCES [dbo].[REFERENCE_TABLE] ([ID])
GO
ALTER TABLE [dbo].[PLAN_POSTE_REFERENCE] CHECK CONSTRAINT [FK_PLAN_POSTE_REFERENCE_REFERENCE_TABLE_ID_REFERENCE_TABLE]
GO
ALTER TABLE [dbo].[PLAN_POSTE_USER]  WITH CHECK ADD  CONSTRAINT [FK_PLAN_POSTE_USER_PLAN_POSTE_ID_PLAN_POSTE] FOREIGN KEY([ID_PLAN_POSTE])
REFERENCES [dbo].[PLAN_POSTE] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PLAN_POSTE_USER] CHECK CONSTRAINT [FK_PLAN_POSTE_USER_PLAN_POSTE_ID_PLAN_POSTE]
GO
ALTER TABLE [dbo].[PLAN_POSTE_USER]  WITH CHECK ADD  CONSTRAINT [FK_PLAN_POSTE_USER_PLAN_USER_ID_PLAN_USER] FOREIGN KEY([ID_PLAN_USER])
REFERENCES [dbo].[PLAN_USER] ([ID])
GO
ALTER TABLE [dbo].[PLAN_POSTE_USER] CHECK CONSTRAINT [FK_PLAN_POSTE_USER_PLAN_USER_ID_PLAN_USER]
GO
ALTER TABLE [dbo].[PLAN_USER]  WITH CHECK ADD  CONSTRAINT [FK_PLAN_USER_PLAN_ID_PLAN] FOREIGN KEY([ID_PLAN])
REFERENCES [dbo].[PLAN] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PLAN_USER] CHECK CONSTRAINT [FK_PLAN_USER_PLAN_ID_PLAN]
GO
ALTER TABLE [dbo].[PLAN_USER]  WITH CHECK ADD  CONSTRAINT [FK_PLAN_USER_USER_ID_USER] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[USER] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PLAN_USER] CHECK CONSTRAINT [FK_PLAN_USER_USER_ID_USER]
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD  CONSTRAINT [FK_USER_GMAP_ADDRESS_ID_GMAP_ADDRESS] FOREIGN KEY([ID_GMAP_ADDRESS])
REFERENCES [dbo].[GMAP_ADDRESS] ([ID])
GO
ALTER TABLE [dbo].[USER] CHECK CONSTRAINT [FK_USER_GMAP_ADDRESS_ID_GMAP_ADDRESS]
GO
ALTER TABLE [dbo].[USER_ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK_USER_ACCOUNT_ACCOUNT_ID_ACCOUNT] FOREIGN KEY([ID_ACCOUNT])
REFERENCES [dbo].[ACCOUNT] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USER_ACCOUNT] CHECK CONSTRAINT [FK_USER_ACCOUNT_ACCOUNT_ID_ACCOUNT]
GO
ALTER TABLE [dbo].[USER_ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK_USER_ACCOUNT_USER_ID_USER] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[USER] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USER_ACCOUNT] CHECK CONSTRAINT [FK_USER_ACCOUNT_USER_ID_USER]
GO
ALTER TABLE [dbo].[USER_SHORTCUT]  WITH CHECK ADD  CONSTRAINT [FK_USER_SHORTCUT_USER_ID_USER] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[USER] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USER_SHORTCUT] CHECK CONSTRAINT [FK_USER_SHORTCUT_USER_ID_USER]
GO
/****** Object:  StoredProcedure [dbo].[spGetSolde]    Script Date: 29/01/2019 17:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spGetSolde]
  (
		@idAccount	INT,
		@dateStart	DATE,
		@dateEnd	DATE,
		@isWithITransfer INT
  )
  AS
  BEGIN


DECLARE @credit			decimal(20,2);
DECLARE @debit			decimal(20,2);
DECLARE @total			decimal(20,2);
DECLARE @Solde			decimal(20,2);
DECLARE @startAmount	decimal(20,2);

	SET @credit = (
		SELECT SUM(AMOUNT_OPERATION) as SOMME
		FROM ACCOUNT_STATEMENT
		WHERE ID_ACCOUNT = @idAccount
		AND DATE_INTEGRATION >= @dateStart
		AND DATE_INTEGRATION <= @dateEnd
		AND AMOUNT_OPERATION>0 
		)

	SET @debit = (
		SELECT sum(AMOUNT_OPERATION) 
		FROM ACCOUNT_STATEMENT
		WHERE ID_ACCOUNT = @idAccount
		AND DATE_INTEGRATION >= @dateStart
		AND DATE_INTEGRATION <= @dateEnd
		AND AMOUNT_OPERATION<0 )

	SET @total = @credit + @debit;

	SET @startAmount = (
		SELECT START_AMOUNT 
		FROM ACCOUNT
		WHERE ID=@idAccount
		)

	SET @solde=(
		SELECT SUM(AMOUNT_OPERATION)+@startAmount
		FROM ACCOUNT_STATEMENT
		WHERE ID_ACCOUNT=@idAccount
		AND DATE_INTEGRATION<=@dateEnd)
	
	SELECT 
		@idAccount as IdAccount,
		@DateStart as DateStart,
		@DateEnd as DateEnd,
		coalesce(@Credit,0) as Credit,
		coalesce(@Debit,0) as Debit,
		coalesce(@Total,0) as Total,
		coalesce(@Solde,0) as Solde,
		@IsWithITransfer as IsWithITransfer
	--FROM ACCOUNT_STATEMENT
	--print '@credit:' + CONVERT(nvarchar(100),@credit)
	--print '@debit:' + CONVERT(nvarchar(100),@debit)
	--print '@total:' + CONVERT(nvarchar(100),@total)
	--print '@solde:' + CONVERT(nvarchar(100),@solde)
END



--select * from ACCOUNT
GO
USE [master]
GO
