.example-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto !important;
    max-height:calc(100% - 50px) !important;
    }

    // .scrollable-small {
        
    //   max-height:65vh;
    // }
  
    // .scrollable-large {
    //   // overflow-y: auto !important;
    //   max-height:86vh;
    // }

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.bg-color{
    // background-color: #DC2C18 !important;
    color:  #DC2C18 !important; //white !important;
}

.bg-color-none {}

.red-icon {
    color: #DC2C18 !important;
}

.green-icon {
    color: #4CAF50 !important;
}