<div id="products" class="page-layout carded fullwidth">

  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
      <div class="center">

          <!-- HEADER -->
          <div class="header white-fg"
              fxLayout="column" fxLayoutAlign="center center"
              fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
              
              <div class="toolbar w-100-p" fxFlex fxLayout="row" fxLayoutAlign="space-between start">
              
                  <div class="left-side" fxLayout="row">

                      <div class="logo my-12 m-sm-0"
                          fxLayout="row" fxLayoutAlign="start center">
                          <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">history</mat-icon>
                          <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Historique des imports de relevés bancaires</span>
                      </div>
                  </div>

                  <div fxLayout="row">
                      <div *ngIf="areaImport?.historicView" class="logo mt-16 m-sm-0"
                          fxLayout="row" fxLayoutAlign="start center">
                          <import-statement-upload [user]="user" 
                            (fileError)="getFileError($event)" 
                            (fileSuccess)="getFileSuccess($event)" 
                            (fileInProgress)="getFileInProgress($event)" 
                            (uploadResponse)="getUploadResponse($event)">
                        </import-statement-upload>
                      </div>
                      
                      <!-- <div *ngIf="areaImport?.fileView">
                              <div class="selected-project">{{accountSelected?.number}} - {{accountSelected?.label}}</div>
  
                              <button mat-icon-button class="project-selector" [matMenuTriggerFor]="projectsMenu"
                                      aria-label="Select project">
                                  <mat-icon>more_horiz</mat-icon>
                              </button>
  
                              <mat-menu #projectsMenu="matMenu">
                                  <button mat-menu-item *ngFor="let account of asifAccounts?.accounts" (click)="accountSelected = account">
                                      <span>{{account.number}} - {{account.label}}</span>
                                  </button>
                              </mat-menu>
                      </div> -->
                      
                  </div>

              </div>

          </div>
          
          <!-- / HEADER -->
          <div class="content">
              <!-- SELECTED BAR -->
              <selected-bar class="mat-accent-600-bg" *ngIf="hasSelectedRows" [@slideInTop]></selected-bar>
              <!-- / SELECTED BAR -->
            
            <div class="content-card mat-white-bg" fxFlexFill *ngIf="fileInProgress" fxLayout="column" fxLayoutAlign="center center">
                <mat-spinner diameter="40" color="accent" fxLayout="row"></mat-spinner>
                <div fxLayout="row">chargement...</div>
            </div>


            <div class="content-card mat-white-bg" *ngIf="(!fileInProgress && !fileError && !fileSuccess)">
                <import-statement-histo-list [user]="user" fusePerfectScrollbar></import-statement-histo-list>
            </div> 

            <!-- <div class="content-card mat-white-bg" fxFlexFill *ngIf="fileInProgress" fxLayout="column">
                    <div class="spinner-container" fxLayoutAlign="center center">
                            Chargement...
                            <mat-spinner color="accent"></mat-spinner>
                        </div>
            </div> -->

              <!-- / CONTENT CARD -->
              
          </div>
      </div>
      <!-- / CENTER -->
  </div>