<!-- <div id="dashboard-project" class="page-layout simple tabbed" fusePerfectScrollbar > -->
<div id="products" class="page-layout carded fullwidth inner-scroll">
    <!-- CENTER -->
    <div class="top-bg accent header-1-background"></div>
    <div class="center">
        <div style="height:15px;text-align:center;cursor:pointer;" class="test accent" (click)="onHeaderPanelClick()">
            <mat-icon style="font-size:20px;margin-top:-2px;">{{headerPanelIcon}}</mat-icon>
        </div>
        <div *ngIf="headerPanelIsVisible" class="header-2-background accent p-12 pb-0 pt-6" fxLayout="column" fxLayoutAlign="space-between">
            <div  class="left-side" fxLayout="row" fxLayoutAlign="space-between">
                <div  fxLayout="column" fxLayoutAlign="space-between"> 
                    <div fxLayout="row" fxLayoutAlign="space-between center" >
                        <div fxLayout="row" fxLayoutAlign="start center" >
                            <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                                account_balance
                            </mat-icon>
                            
                            <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                                Compte courant 
                            </span>
                        </div>
                    </div>
                </div>

                <div *ngIf="(asSolde$ | async).dataInfos.datas as solde; else emptySolde" fxLayout="column" >
                    <div class='pb-8' fxLayout="row" fxLayoutAlign="end space-between">
                        <mat-chip-list *ngIf="(asSolde$ | async).dataInfos.datas as solde; else emptySolde">
                            <mat-chip class="mat-chip-green" >Crédit: {{solde.credit}} €</mat-chip>
                            <mat-chip class="mat-chip-red" >Débit: {{solde.debit}} €</mat-chip>
                            <mat-chip [ngClass]="solde.total>0 ? 'mat-chip-green' : 'mat-chip-red'" >Balance: {{solde.total}} €</mat-chip>
                        </mat-chip-list>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="end center">
                        <mat-chip-list>
                            <mat-chip [ngClass]="solde.solde>0 ? 'mat-chip-green' : 'mat-chip-red'" >Solde au {{solde.dateEnd }}: {{solde.solde}} €</mat-chip>
                        </mat-chip-list>
                    </div>
                </div>
                <ng-template #emptySolde>
                    <div fxLayout="column" >
                        <div class='pb-8' fxLayout="row" fxLayoutAlign="end space-between">
                            <mat-chip-list>
                                <mat-chip>Crédit: <mat-spinner [diameter]="15"></mat-spinner></mat-chip>
                                <mat-chip>Débit: <mat-spinner [diameter]="15"></mat-spinner></mat-chip>
                                <mat-chip>Balance: <mat-spinner [diameter]="15"></mat-spinner></mat-chip>
                            </mat-chip-list>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="end center">
                            <mat-chip-list>
                                <mat-chip>Solde: <mat-spinner [diameter]="15"></mat-spinner></mat-chip>
                            </mat-chip-list>
                        </div>
                    </div>
                </ng-template>
            </div>
            <account-statement-filter *fuseIfOnDom [@animate]="{value:'*',params:{x:'50px'}}"></account-statement-filter>
        </div>

        

        <div class="content-card">

            <mat-tab-group 
                [selectedIndex]="selectedIndex" 
                (selectedTabChange)="onTabClick($event)"  
                #tabGroup 
                fullwidth>

                <mat-tab label="Evolution">
                    <as-chart-evolution [headerPanelVisible]="headerPanelIsVisible"
                        *ngIf="selectedIndex == 0"
                        [@animateStagger]="{value:'50'}">
                    </as-chart-evolution>
                    
                          <!-- <div fxFlex="100" class="title pb-24 font-size-18 font-weight-300">
                              Comparaison année précédente sur la même période
                          </div>
                   
                          <widget-card-flip 
                              [@animate]="{value:'*',params:{y:'100%'}}" 
                              fxLayout="column" fxFlex="100" fxFlex.gt-md="25">
                          </widget-card-flip>

                          <widget-card-flip 
                              [@animate]="{value:'*',params:{y:'100%'}}" 
                              fxLayout="column" fxFlex="100" fxFlex.gt-md="25">
                          </widget-card-flip>

                          <widget-card-flip 
                              [@animate]="{value:'*',params:{y:'100%'}}" 
                              fxLayout="column" fxFlex="100" fxFlex.gt-md="25">
                          </widget-card-flip>
                           -->
                          
                      
                      
                            

                </mat-tab>

                <mat-tab label="Catégorisation">

                    <!-- WIDGET GROUP -->
                    <div class="widget-group grey-100-bg" fxLayout="row" fxFlex="100" fxLayoutWrap *fuseIfOnDom
                         [@animateStagger]="{value:'50'}">

                        <!-- WIDGET 8 -->
                        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                                     fxFlex="100" fxFlex.gt-sm="50">

                            <!-- Front -->
                            <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                                <div class="h3 px-16 py-24">
                                    test
                                </div>

                                <mat-divider></mat-divider>

                                <div class="h-400">
                                    <!-- <ngx-charts-pie-chart
                                        *fuseIfOnDom
                                        [scheme]="widget8.scheme"
                                        [results]="widgets.widget8.mainChart"
                                        [legend]="widget8.legend"
                                        [explodeSlices]="widget8.explodeSlices"
                                        [labels]="widget8.labels"
                                        [doughnut]="widget8.doughnut"
                                        [gradient]="widget8.gradient"
                                        (select)="widget8.onSelect($event)">
                                    </ngx-charts-pie-chart> -->
                                </div>

                            </div>
                            <!-- / Front -->

                        </fuse-widget>
                        <!-- / WIDGET 8 -->

                        <!-- WIDGET 9 -->
                        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                                     fxFlex="100" fxFlex.gt-sm="50">

                            <!-- Front -->
                            <!-- <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                                <div class="px-16 py-12 border-bottom" fxLayout="row"
                                     fxLayoutAlign="space-between center">
                                    <div class="h3">{{widgets.widget9.title}}</div>
                                    <mat-form-field>
                                        <mat-select [(ngModel)]="widget9.currentRange" aria-label="Change range">
                                            <mat-option *ngFor="let range of widgets.widget9.ranges | keys"
                                                        [value]="range.key">
                                                {{range.value}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="px-16 py-24" fxLayout="column" fxLayoutAlign="center" fxLayout.gt-xs="row"
                                     fxLayoutAlign.gt-xs="space-between end">
                                    <div fxFlex="0 1 auto">
                                        <div class="h4 secondary-text">{{widgets.widget9.weeklySpent.title}}</div>
                                        <div class="pt-8 mat-display-1 m-0 font-weight-300 text-nowrap">
                                            <span class="secondary-text">$</span>
                                            <span>{{widgets.widget9.weeklySpent.count[widget9.currentRange]}}</span>
                                        </div>
                                    </div>
                                    <div class="h-52" fxFlex>
                                        <ngx-charts-area-chart
                                            *fuseIfOnDom
                                            [results]="widgets.widget9.weeklySpent.chart[widget9.currentRange]"
                                            [scheme]="widget9.scheme"
                                            [gradient]="widget9.gradient"
                                            [xAxis]="widget9.xAxis"
                                            [yAxis]="widget9.yAxis"
                                            [legend]="widget9.legend"
                                            [showXAxisLabel]="widget9.showXAxisLabel"
                                            [showYAxisLabel]="widget9.showYAxisLabel"
                                            [xAxisLabel]="widget9.xAxisLabel"
                                            [yAxisLabel]="widget9.yAxisLabel"
                                            [curve]="widget9.curve">
                                        </ngx-charts-area-chart>
                                    </div>
                                </div>

                                <div class="px-16 py-24" fxLayout="column" fxLayoutAlign="center" fxLayout.gt-xs="row"
                                     fxLayoutAlign.gt-xs="space-between end">
                                    <div fxFlex="0 1 auto">
                                        <div class="h4 secondary-text">{{widgets.widget9.totalSpent.title}}</div>
                                        <div class="pt-8 mat-display-1 m-0 font-weight-300 text-nowrap">
                                            <span class="secondary-text">$</span>
                                            <span>{{widgets.widget9.totalSpent.count[widget9.currentRange]}}</span>
                                        </div>
                                    </div>
                                    <div class="h-52" fxFlex>
                                        <ngx-charts-area-chart
                                            *fuseIfOnDom
                                            [results]="widgets.widget9.totalSpent.chart[widget9.currentRange]"
                                            [scheme]="widget9.scheme"
                                            [gradient]="widget9.gradient"
                                            [xAxis]="widget9.xAxis"
                                            [yAxis]="widget9.yAxis"
                                            [legend]="widget9.legend"
                                            [showXAxisLabel]="widget9.showXAxisLabel"
                                            [showYAxisLabel]="widget9.showYAxisLabel"
                                            [xAxisLabel]="widget9.xAxisLabel"
                                            [yAxisLabel]="widget9.yAxisLabel"
                                            [curve]="widget9.curve">
                                        </ngx-charts-area-chart>
                                    </div>
                                </div>

                                <div class="px-16 py-24" fxLayout="column" fxLayoutAlign="center" fxLayout.gt-xs="row"
                                     fxLayoutAlign.gt-xs="space-between end">
                                    <div fxFlex="0 1 auto">
                                        <div class="h4 secondary-text">{{widgets.widget9.remaining.title}}</div>
                                        <div class="pt-8 mat-display-1 m-0 font-weight-300 text-nowrap">
                                            <span class="secondary-text">$</span>
                                            <span>{{widgets.widget9.remaining.count[widget9.currentRange]}}</span>
                                        </div>
                                    </div>
                                    <div class="h-52" fxFlex>
                                        <ngx-charts-area-chart
                                            *fuseIfOnDom
                                            [results]="widgets.widget9.remaining.chart[widget9.currentRange]"
                                            [scheme]="widget9.scheme"
                                            [gradient]="widget9.gradient"
                                            [xAxis]="widget9.xAxis"
                                            [yAxis]="widget9.yAxis"
                                            [legend]="widget9.legend"
                                            [showXAxisLabel]="widget9.showXAxisLabel"
                                            [showYAxisLabel]="widget9.showYAxisLabel"
                                            [xAxisLabel]="widget9.xAxisLabel"
                                            [yAxisLabel]="widget9.yAxisLabel"
                                            [curve]="widget9.curve">
                                        </ngx-charts-area-chart>
                                    </div>
                                </div>

                                <div class="px-16 py-24 border-top">
                                    <div class="h4 secondary-text">{{widgets.widget9.totalBudget.title}}</div>
                                    <div class="pt-8 mat-display-1 m-0 font-weight-300">
                                        <span class="secondary-text">$</span>
                                        <span>{{widgets.widget9.totalBudget.count}}</span>
                                    </div>
                                </div>

                            </div> -->
                            <!-- / Front -->

                        </fuse-widget>
                        <!-- / WIDGET 9 -->

                        <!-- WIDGET 10 -->
                        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="row"
                                     fxFlex="100">

                            <!-- Front -->
                            <div class="fuse-widget-front mat-white-bg mat-elevation-z2">

                                <div class="simple-table-container" ms-responsive-table>
                                    <div class=" table-title">
                                        test
                                    </div>

                                    <table class="simple">

                                        <!-- <thead>
                                            <tr>
                                                <th *ngFor="let column of widgets.widget10.table.columns">
                                                    {{column.title}}
                                                </th>
                                            </tr>
                                        </thead> -->

                                        <tbody>
                                            <!-- <tr *ngFor="let row of widgets.widget10.table.rows">
                                                <td *ngFor="let cell of row">
                                                    <span class="p-4" [ngClass]="cell.classes">
                                                        {{cell.value}}
                                                    </span>
                                                    <mat-icon *ngIf="cell.icon" class="s-16">{{cell.icon}}
                                                    </mat-icon>
                                                </td>
                                            </tr> -->
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <!-- / Front -->

                        </fuse-widget>
                        <!-- / WIDGET 10 -->

                    </div>
                    <!-- / WIDGET GROUP -->

                </mat-tab>

                <mat-tab label="Relevés" >
                    <account-statement-list [headerPanelVisible]="headerPanelIsVisible" style="height:100%;" *ngIf="selectedIndex == 2"></account-statement-list>
                </mat-tab>

                <mat-tab label="Virements internes">
                    <as-internal-transfer-main style="height:100%;" *ngIf="selectedIndex == 3"></as-internal-transfer-main>
                </mat-tab>
            </mat-tab-group>
</div>
</div>
</div>
<!-- </div> -->
        <!-- / CONTENT -->

    <!-- </div> -->
    <!-- / CENTER -->

    <!-- SIDENAV -->

    <!-- / SIDENAV -->



<!-- </div> -->

