<!-- (changePagination)="changePaginationEvent($event)"
(onRowClick)="onRowClickEvent($event)"  -->
    <!-- [rows]="rows"  -->
    <!-- [columns]="columns"  -->
    <!-- [filter] = "filterAs" -->
    <!-- [onloading]="onloading"
    [pagination]="pagination" -->
    <mat-table-filter 
        [observableFilter] = "asTableFilter$"
        [observableTable] = "asTable$"
        [columns] = "columns"
        (onRowClick) = "onRowClick($event)"
        (changeFilter)="applyFilter($event)"
 
        (clickButtonIcon)="viewDetail($event)">
    </mat-table-filter>








    








