
<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{data?.poste?.label}}</span>
            <button mat-icon-button (click)="close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-dialog-content style="max-height:82vh !important;" *ngIf="formLoaded as loaded" [formGroup]="form">
    <mat-tab-group (selectedTabChange)="onLinkClick()">
        <mat-tab label="Généralités">  
            <div class="tab-content p-24" fusePerfectScrollbar>
                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                <mat-label>Libellé</mat-label>
                <input matInput placeholder="Libellé"
                        name="label"
                        formControlName="label"
                        required>
                </mat-form-field>

                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                        <mat-label>Référence</mat-label>
                        <mat-select placeholder="Référence"  (selectionChange)="onReferenceChange($event.value)" formControlName="referenceTable" [compareWith]="compareObjects">
                            <mat-option *ngFor="let item of this.data.referenceTable.list" [value]="item" >
                            {{item.label}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div fxLayout="row" fxLayoutAlign="space-between center" >
                    <mat-form-field appearance="outline" floatLabel="always" class="w-35-p">
                        <mat-label>Choix Référence</mat-label>    
                        <mat-select 
                            [compareWith]="compareObjects"
                            formControlName="planPosteReference"  
                            placeholder="Choix Référence"
                            multiple
                            (selectionChange)="bindPlan(form)">
                            
                            <mat-optgroup *ngFor="let group of this.data.planPosteReference.list" [label]="group.label">
                            <mat-option *ngFor="let item of group.selects" [value]="item">
                                {{ item.label }}
                            </mat-option>
                            </mat-optgroup>
                        </mat-select>
                    </mat-form-field>

                    <!-- <mat-form-field appearance="outline" floatLabel="always" class="w-55-p"> -->
                    <div class="w-60-p">
                        <mat-chip-list #chipList>
                            <mat-chip *ngFor="let group of data.planPosteReference.listSelected" 
                                [selectable]="false"
                                [removable]="false" >
                                    {{group.label}}
                            </mat-chip>
                        </mat-chip-list>
                    </div>
                    <!-- </mat-form-field> -->
                    </div>
                <!-- </div> -->
    
                <mat-card fxLayout="row wrap" fxLayoutAlign="start start" class="w-100-p">
                    <mat-label style="color:#888888;padding-bottom:20px;font:400 16px/1.125 Muli, Helvetica Neue, Arial, sans-serif;">Part par participant</mat-label>
        
                    <div class="w-100-p" fxLayout="column" *ngFor="let planPosteUser of this.data.planPosteUser">
                        <div fxLayout >
                            <div fxFlex="30%">
                                {{planPosteUser.user.firstName}}  {{planPosteUser.user.lastName}} {{ planPosteUser.percentage }} %
                            </div>  
                            <mat-slider  fxFlex
                                thumbLabel
                                (input)="onInputChange($event,planPosteUser)" 
                                [value]="planPosteUser.percentage"
                                tickInterval="1"
                                min="0"
                                max="100">
                            </mat-slider>
                        </div>
                    </div>
                </mat-card>
            </div>
        </mat-tab>

        <mat-tab label="Montants">  
            <div class="tab-content p-24" fusePerfectScrollbar>
                <mat-card >
                    <mat-card-header>
                        <!-- <mat-card-title> -->
                            <div class="w-100-p" fxLayout="row">
                                <mat-label class="w-100-p" style="color:#888888;padding-bottom:20px;">Montants prévisionnels</mat-label>
                                <mat-slide-toggle
                                    formControlName="isAnnualEstimation"
                                >
                                    {{estimationToggleTxt}}
                                </mat-slide-toggle>
                            </div>
                        <!-- </mat-card-title> -->
                    </mat-card-header>
                    
                    <mat-card-content fxLayout="row" class="w-100-p">
                            <div *ngIf="!data.isAnnualEstimation" class="h-260 w-420" fxLayout="row" >
                                <widget-card-simple-chart-bar [data]="chartDataset" (getCurrentMonthInfo)="getChartInfo($event)"></widget-card-simple-chart-bar>
                            </div>
                            <div class="w-50-p">
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>{{amountLabel}}</mat-label>
                                    <input matInput formControlName="amount" placeholder="montant" />
                                </mat-form-field>
                                <div *ngIf="!data.isAnnualEstimation" fxLayout="row" fxLayoutAlign="space-between center" >
                                    <div><button class="mat-raised-button" (click)="validatePreviewAmount()">Appliquer sur le mois</button></div>
                                        
                                    <div><button class="mat-raised-button" (click)="validatePreviewAmountForAll()">Appliquer sur tous les mois</button> </div>
                                </div>
                            </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Fermer</button>
    <button class="mat-raised-button mat-primary" (click)="save(form)">Sauvegarder</button>
</mat-dialog-actions>
</div>

