<mat-table-filter 
    [matTableFilter]="matTableFilter"
    (onRowClick) = "onRowClick($event)"
    (changeFilterSelected)="applyFilterSelected($event)"
    (changeFilterSelection)="applyFilterSelection($event)"
    (toolbarAddItemEvent)="addItem($event)"
    (toolbarDeleteItemsEvent)="deleteItems($event)">
</mat-table-filter>


<!-- <div class="example-container">
    
    <mat-table class="mat-table"
        #table [dataSource]="dataSource"
        [@animateStagger]="{value:'50'}"
        matSort matSortActive="id" matSortDirection="asc" matSortDisableClear 
        (matSortChange)="onSortChangeEvent($event)"
    >

        <ng-container matColumnDef="id">
            <mat-header-cell style="flex:0 0 70px;" *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
            <mat-cell style="flex:0 0 70px;" *matCellDef="let data">
                <p class="text-truncate">{{data.id}}</p>
            </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="logoClassName" >
            <mat-header-cell *cdkHeaderCellDef mat-sort-header style="flex:0 0 70px;">icône</mat-header-cell>
            <mat-cell *cdkCellDef="let data" style="flex:0 0 70px;">
                <img class="logo" *ngIf="data.logoClassName" [src]="'assets/images/Otf/'+data.logoClassName+'_32.png'">
            </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="label" >
            <mat-header-cell style="flex: 0 0 40%;"  *matHeaderCellDef >
                <div mat-sort-header >Libellé</div>
                
                <div (click)="templateFor='col2'" [matMenuTriggerFor]="menuLabel" 
                    style="cursor: pointer;" fxFlex fxLayoutAlign="end start"   >
                    <mat-icon color="warn" *ngIf="hasFilterData('label')">filter_list</mat-icon>
                    <mat-icon color="primary" *ngIf="!hasFilterData('label')">filter_list</mat-icon>
                </div>
                <mat-menu #menuLabel="matMenu" [overlapTrigger]="false">
                    <filter-label *ngIf="templateFor==='col2' && (otfTableFilter$ | async).loader['filters'].loaded"
                        [label]="(otfTableFilter$ | async).filters.selected.label"
                        (applyLabelFilter)="applyFilterLabel($event)"
                    ></filter-label>
                </mat-menu>
            </mat-header-cell >
            <mat-cell style="flex: 0 0 40%;" *matCellDef="let data">
                <p class="text-truncate">{{data.label}}</p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="movement" >
            <mat-header-cell style="flex: 0 0 15%;" *matHeaderCellDef >
                <div mat-sort-header >Sens</div>
        
                <div (click)="templateFor='col3'" [matMenuTriggerFor]="menuMovement"
                    fxFlex fxLayoutAlign="end start" style="cursor: pointer;">
                    <mat-icon color="warn" *ngIf="hasFilterData('movement')">filter_list</mat-icon>
                    <mat-icon color="primary" *ngIf="!hasFilterData('movement')">filter_list</mat-icon>
                </div>
        
                <mat-menu #menuMovement="matMenu" [overlapTrigger]="false">
                <filter-movement *ngIf="templateFor==='col3' && filterMovement"
                    [movement]="filterMovement"
                    (applyFilterMovement)="applyFilterMovement($event)"
                >
                </filter-movement>
                </mat-menu>
            </mat-header-cell>
            <mat-cell style="flex: 0 0 15%;" *matCellDef="let data">
                <p class="text-truncate">{{data.movement.label}}</p>
            </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="buttonDelete" >
            <mat-header-cell style="flex:0 0 30%;"  *matHeaderCellDef ></mat-header-cell>
            <mat-cell style="flex:0 0 30%;justify-content: flex-end"  *matCellDef="let data">
                <button *ngIf="!data.isMandatory" matTooltip="Supprimer" mat-icon-button (click)="delete(data)">
                    <mat-icon>delete</mat-icon>
                </button>
                <button *ngIf="!data.isMandatory" matTooltip="Détail" mat-icon-button (click)="detail(data)">
                        <mat-icon>more_horiz</mat-icon>
                    </button>
            </mat-cell>
        </ng-container> 

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
        
        <mat-row 
            *cdkRowDef="let data; columns: displayedColumns;"
            matRipple
            [@animate]="{value:'*',params:{y:'100%'}}"
            class="element-row" 
        >

        </mat-row>

    </mat-table>

    <div *ngIf="(otfTable$ | async).loader['datas'].loading"
        class="h-96 w-100-p"
        fxLayout="column"
        fxLayoutAlign="center center">
        <mat-spinner diameter="40" color="accent" fxLayout="row"></mat-spinner>
        <div style="color:#4285F3" fxLayout="row">chargement...</div>
    </div> 

    
    <p class="empty-result" 
        *ngIf="(otfTable$ | async).loader['datas'].loaded 
            && (otfTable$ | async).datas.length==0"
    >
        Aucun résultat
    </p>
</div>

<mat-paginator *ngIf="(otfTableFilter$ | async).loader['filters'].loaded"
    (page)="onPageChangeEvent($event)"
    [length]="(otfTableFilter$ | async).filters.selected.pagination.totalItems" 
    [pageSize]="(otfTableFilter$ | async).filters.selected.pagination.nbItemsPerPage"
    [pageSizeOptions]="[15, 100, 200]">
</mat-paginator> -->
