<div id="product" class="page-layout carded fullwidth" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">
                <!-- (click)="movePrevious()" -->
                <button class="mr-0 mr-sm-16" mat-icon-button 
                    [routerLink]="['/apps/referential/operations/operation-types']">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                     *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="formLoaded && otDetail && idOperationType!=-1" >
                        {{otDetail.label}}
                    </div>
                    <div class="h2" *ngIf="formLoaded && otDetail && idOperationType==-1" >
                            Nouveau type d'opération
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Détail du type d'opérations</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->
            <button mat-raised-button *ngIf="formLoaded && otDetail"
                class="save-product-button mat-white-bg mt-16 mt-sm-0"
                [disabled]= "otDetailForm.invalid || otDetailForm.pristine"
                (click)="saveOt()"
            >
                <span>ENREGISTRER</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card white">

            <form *ngIf="formLoaded && otDetail" 
                name="otDetailForm" 
                [formGroup]="otDetailForm" 
                class="product w-100-p" 
                fxLayout="column" fxFlex
            >
                <div class="example-container tab-content p-24" >

                    <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                        <mat-label>Libellé type opération</mat-label>
                        <input matInput
                            name="label"
                            formControlName="label"
                            placeholder="Libellé type opération">
                    </mat-form-field>

                    <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" >
                        <mat-label>catégorie d'opérations</mat-label>
                        <mat-select formControlName="operationTypeFamily" placeholder="catégorie d'opérations" [compareWith]="compareObjects" >
                            <mat-option *ngFor="let item of otDetail.operationTypeFamily.list" [value]="item">
                                {{ item.label }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>

                </form> 

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>
