@import 'src/@fuse/scss/fuse';

#products {

    .header {
        position:relative;
        .search-input-wrapper {
            max-width: 480px;
        }

        @include media-breakpoint('sm') {
            height: 176px !important;
            min-height: 176px !important;
            max-height: 176px !important;
        }

        .selected-project {
            position: absolute;
            bottom: 0px;
            left:42px;
            background: rgba(0, 0, 0, 0.12);
            color: #FFFFFF;
            padding: 8px 16px;
            height: 40px;
            line-height: 24px;
            font-size: 16px;
            border-radius: 0 8px 0 0;
        }
        .project-selector {
            position: absolute;
            left:0px;
            bottom: 0px;
            margin-left: 1px;
            border-radius: 0;
            background: rgba(0, 0, 0, 0.12);
            border-radius: 8px 0 0 0;
            mat-icon {
                color: #FFFFFF;
            }
        }
    }

    .content {
        flex: 1;
        
        mat-tab-group {
            overflow:auto;
            // height: 100%;
            // max-height:100%;
            // .mat-tab-body-wrapper {
            //     flex-grow: 1;
            // }
        }
        .mat-tab-label {
            background-color: #FFFFFF !important;
        }

        .mat-tab-label-container {
            padding: 0 24px;
        }
    }


    .top-bg {
        // @include media-breakpoint-down(xs) {
        //     height: 240px;
        // }
    }

    .products-table {
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, .12);
        overflow: auto;

        .mat-header-row {
            min-height: 64px;
        }

        .product {
            position: relative;
            cursor: pointer;
            height: 70px;
        }

        .mat-cell {
            min-width: 0;
            display: flex;
            align-items: center;
        }

        .mat-column-id {
            flex: 0 1 84px;
        }

        .mat-column-image {
            flex: 0 1 84px;

            .product-image {
                width: 52px;
                height: 52px;
                border: 1px solid rgba(0, 0, 0, .12);
            }
        }

        .mat-column-buttons {
            flex: 0 1 80px;
        }

        .quantity-indicator {
            display: inline-block;
            vertical-align: middle;
            width: 8px;
            height: 8px;
            border-radius: 4px;
            margin-right: 8px;

            & + span {
                display: inline-block;
                vertical-align: middle;
            }
        }

        .active-icon {
            border-radius: 50%;
        }
    }

    .spinner-container {
        height:100%;

        vertical-align:middle;
    }
}
