<div *ngIf="data" id="product" class="page-layout carded fullwidth inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

      <!-- HEADER -->
      <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

          <!-- APP TITLE -->
          <div fxLayout="row" fxLayoutAlign="start center">

              <button class="mr-0 mr-sm-16" mat-icon-button [routerLink]="['/apps/account-statements/accounts',idAccount]" [queryParams]="{ idTab: 2 }">
                  <mat-icon>arrow_back</mat-icon>
              </button>

              <div class="product-image mr-8 mr-sm-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                  <!-- <img *ngIf="product.images[0]" [src]="product.images[0].url"> -->
                  <img [src]="logoUrl">
              </div>

              <div fxLayout="column" fxLayoutAlign="start start"
                   *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                  <div class="h2" >
                      {{data?.labelOperation}}
                  </div>
                  <!-- <div class="h2" *ngIf="pageType ==='new'">
                      New Product
                  </div> -->
                  <div class="subtitle secondary-text">
                      <span>Détail de l'opération</span>
                  </div>
              </div>
          </div>
          <!-- / APP TITLE -->

          <!-- "(operationForm.invalid || operationForm.pristine) && (operationPlaceSelected && operationPlaceSelected.id==1)" -->
          <button mat-raised-button *ngIf="data"
              class="save-product-button mat-white-bg mt-16 mt-sm-0"
              [disabled]= "operationForm.invalid || operationForm.pristine || operationPlaceSelected.id==1"
              (click)="updateAsif()"
          >
              <span>SAVE</span>
          </button>
      </div>
      <!-- / HEADER -->

      <!-- CONTENT CARD -->
      <div class="content-card mat-white-bg">

          <!-- CONTENT -->
          <div class="content" >

              <form *ngIf="data" name="operationForm" [formGroup]="operationForm" class="product w-100-p" fxLayout="column" fxFlex>

                  <mat-tab-group>
                      <mat-tab label="Détail">
                          <div class="tab-content p-24" fusePerfectScrollbar>
                          <mat-form-field class="w-100-p">
                                  <input matInput
                                          name="labelOperation"
                                          formControlName="labelOperation"
                                          placeholder="Libellé opération">
                              </mat-form-field>

                              <mat-form-field class="w-100-p">
                                  <input matInput
                                          name="dateIntegration"
                                          formControlName="dateIntegration"
                                          placeholder="Date intégration"
                                          >
                              </mat-form-field>

                              <mat-form-field class="w-100-p">
                                  <input matInput
                                          name="amountOperation"
                                          formControlName="amountOperation"
                                          placeholder="Montant" type="number">
                                  <span matPrefix >€&nbsp;</span>
                                  <mat-icon *ngIf="data.amountOperation>0" matSuffix  class="green-fg mr-2">trending_up</mat-icon>
                                  <mat-icon *ngIf="data.amountOperation<0" matSuffix  class="red-fg mr-2">trending_down</mat-icon>
                              </mat-form-field>
                            
                          </div>
                      </mat-tab>

                      <mat-tab label="Classification">
                          <div class="tab-content p-24" fusePerfectScrollbar>
                              <mat-form-field class="w-100-p" >
                                  <mat-select formControlName="operationMethod" placeholder="Méthodes d'opération" [compareWith]="compareObjects" >
                                      <mat-option *ngFor="let item of operationMethods" [value]="item">
                                          {{ item.label }}
                                      </mat-option>
                                  </mat-select>
                              </mat-form-field>
                              
                              <mat-error *ngIf="operationForm.get('operationTypeFamily').errors && operationForm.get('operationTypeFamily').hasError('isUnknown')">
                                  <p>La sélection ne doit pas être inconnue</p>
                              </mat-error>
                              <mat-form-field class="w-100-p">
                                  <mat-select formControlName="operationTypeFamily" 
                                      placeholder="Catégories d'opération"  [compareWith]="compareObjects">
                                      <mat-option *ngFor="let item of operationTypeFamilies" [value]="item">
                                          {{ item.label }}
                                      </mat-option>
                                  </mat-select>
                              </mat-form-field>

                              <mat-error *ngIf="operationForm.get('operationType').errors && operationForm.get('operationType').hasError('isUnknown')">
                                  <p>La sélection ne doit pas être inconnue</p>
                              </mat-error>
                              <mat-form-field class="w-100-p">
                                  <mat-select matInput formControlName="operationType" placeholder="Types d'opération" [compareWith]="compareObjects" >
                                      <mat-option *ngFor="let item of operationTypes" [value]="item">
                                          {{ item.label }}
                                      </mat-option>
                                  </mat-select>
                              </mat-form-field>

                              <div *ngIf="!isNewOperationTemplate">
                                  <mat-error *ngIf="operationForm.get('operation').errors && operationForm.get('operation').hasError('isUnknown')">
                                      <p>La sélection ne doit pas être inconnue</p>
                                  </mat-error>
                                  <div class="w-100-p">
                                      <mat-form-field fxFlex>
                                          <mat-select matInput formControlName="operation" placeholder="Opérations" [compareWith]="compareObjects" >
                                              <mat-option *ngFor="let item of operations" [value]="item">
                                                  {{ item.label }}
                                              </mat-option>
                                          </mat-select>
                                      </mat-form-field>
                                      <button mat-mini-fab type="button" (click)="isNewOperationTemplate=!isNewOperationTemplate">
                                          <mat-icon style="color:white">add</mat-icon>
                                      </button>
                                  </div>
                              </div>

                              <form  *ngIf="isNewOperationTemplate"  name="operationAddForm" [formGroup]="operationAddForm" >

                                  <div class="w-100-p" fxLayout="row" fxLayoutAlign="start center">
                                      <div class="h2 secondary-text">Proposition d'opération</div>
                                  </div>
                                  <div class="w-100-p" fxLayout="row">
                                      <mat-form-field fxFlex>
                                          <input matInput
                                              name="operationLabelTemp"
                                              formControlName="operationLabelTemp"
                                              placeholder="Opération">
                                      </mat-form-field>
                                      
                                      <button mat-mini-fab type="button" (click)="isNewOperationTemplate=!isNewOperationTemplate">
                                          <mat-icon style="color:white">keyboard_return</mat-icon>
                                      </button>
                                  </div>
                                  
                                  <button mat-raised-button 
                                      class="save-product-button mat-white-bg mt-16 mt-sm-0"
                                      [disabled]="operationAddForm.invalid || operationForm.get('operationType').errors" (click)="addOperation()">
                                      <span>VALIDER</span>
                                  </button>
                                  <mat-error *ngIf="operationForm.get('operationType').errors && operationForm.get('operationType').hasError('isUnknown')">
                                      <p>Le type d'opération ne doit pas être inconnue</p>
                                  </mat-error>
                              </form>
                          </div>
                      </mat-tab>
                      <mat-tab label="Mots clefs">
                          <div class="tab-content p-24" fusePerfectScrollbar>
                              <div class="w-100-p" fxLayout="row" style="margin-bottom:20px">       
                              <mat-card  style="width:100%">
                                  <mat-card-header>
                                      <div mat-card-avatar><mat-icon>feedback</mat-icon></div>
                                      <mat-card-title>Les mots clefs permettent de retrouver les informations dans le libellé d'opérations.</mat-card-title>
                                      <mat-card-subtitle>Un mot clef ne doit pas comporter d'espace, ni de caractères spéciaux (-/*)</mat-card-subtitle>
                                  </mat-card-header>
                              </mat-card> 
                          </div>

                              
                              <div class="w-100-p" fxLayout="row">
                                  <mat-form-field fxFlex>
                                      <input matInput
                                          name="operationKeywordTemp"
                                          formControlName="operationKeywordTemp"
                                          placeholder="Mot clef pour recherche de l'opération">
                                  </mat-form-field>
                              </div>
                              <div class="w-100-p" fxLayout="row" *ngIf="data.operationDetail.gMapAddress.id!=2 && data.operationDetail.gMapAddress.id!=3" >
                                  <mat-form-field fxFlex>
                                      <input matInput 
                                          name="placeKeywordTemp"
                                          formControlName="placeKeywordTemp"
                                          placeholder="Mot clef pour recherche du lieu d'opération">
                                  </mat-form-field>
                              </div>
                              <mat-error *ngIf="operationForm.get('placeKeywordTemp').errors && operationForm.get('placeKeywordTemp').hasError('isLocalisable')">
                                  <p>La sélection ne doit pas être vide</p>
                              </mat-error>
                          </div>
                      </mat-tab>
                      
                      <mat-tab label="Géolocalisation" [disabled]="data && !data.isLocalisable">
                          <div class="tab-content p-24" fusePerfectScrollbar>
                              <mat-error *ngIf="operationForm.get('operationPlace').errors && operationForm.get('operationPlace').hasError('isUnknown')">
                                  <p>La sélection ne doit pas être inconnue</p>
                              </mat-error>
                              <div class="w-100-p" fxLayout="row">
                                  <mat-form-field fxFlex>
                                      <mat-select formControlName="operationPlace" placeholder="Lieu opération" [compareWith]="compareObjects" >
                                          <mat-option *ngFor="let item of operationPlaces" [value]="item">
                                              {{ item.label }}
                                          </mat-option>
                                      </mat-select>
                                  </mat-form-field>
                              </div>
                              
                              <g-map-search *ngIf="gMapSearchInfo" [gMapSearchInfo]="gMapSearchInfo" (changeGMapAddress)="onChangeGMapAddress($event)"></g-map-search>
                          </div>
                      </mat-tab>
                  </mat-tab-group>
              </form>

          </div>
          <!-- / CONTENT -->

      </div>
      <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->
</div>
