.title {
  padding-left:12px;
}

.header-1-background {
  background-color: #9B9B9B;
  background: url('/assets/images/backgrounds/bck_1.png') no-repeat;
}

.header-2-background {
  background-color: #9B9B9B;
  background: url('/assets/images/backgrounds/bck_2.png') no-repeat;
}

.mat-tab-body-content {
overflow: hidden !important;
}

.anim-icon {
  animation: rotating 3s linear infinite;
}

.mini-select {
  font-size:15px;
  min-width: 200px;
  min-height: 30px;
  padding:5px;
  color:white;
  border: 1px solid white;
  border-radius: 2px;
}

.mat-select-placeholder {
  color:white;
}

.mat-grid-header-height { 
  padding-top:10px;
}

.green-progress .mat-progress-bar-fill::after {
  background-color: #4CAF50 !important;
}

.mat-progress-bar {
  height:10px !important;
}

.mat-stroked-button {
  padding:0px !important;
  line-height:20px !important;
}

.mat-form-field.mat-form-field {
  font-size: 11px !important;
  .mat-form-field-suffix {
    top: 0.1em !important;
    max-width: 12px !important;
  }

  .mat-icon {
    font-size: 100%;
  }

  .mat-form-field-flex {
    padding: 0 0 0 .3em
  }
}

.mat-input-element {
  color: #039BE5 !important;
  font-weight: bold !important;
}

.mat-grid-tile {
  .mat-grid-tile-header {
    height:20px !important;
  }
}

.progress-medium {
  height:25px !important;
  width:85% !important;
  cursor:pointer;
}

