<div id="products" class="page-layout carded fullwidth">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent header-1-background"></div>
  <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
      <div class="center">
        <div class="header header-2-background accent p-12 pb-0" fxLayout="column" fxLayoutAlign="space-between">

          <div class="pt-12" fxLayout="column" fxLayoutAlign="space-between"> 
              <div fxLayout="row" fxLayoutAlign="start center" class="content">
                  <!-- <div fxFlex = "20%"> -->
                    <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                      donut_small
                    </mat-icon>
                  <!-- </div> -->
                  <!-- <div fxFlex = "60%" fxFlexAlign="start"> -->
                      <span fxFlex = "80%" class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                          Budget: suivi
                      </span>
              </div>
          </div> 

          <month-year-selection *ngIf="isLoaded" [selectYears]="this.selectYears" (monthYearChange)="onMonthYearChange($event)" [@animate]="{value:'*',params:{x:'50px'}}"></month-year-selection>
      </div>

          <!-- / HEADER -->
          

      <div class="content-card" *ngIf="(planTracking$ | async).loader['datas'].loaded" >
          <div class="widget-group p-12" fxLayout="row wrap" fxFlex="100" *fuseIfOnDom
          [@animateStagger]="{value:'50'}">

        <fuse-widget 
          [@animate]="{value:'*',params:{y:'100%'}}" 
          fxLayout="row" 
          fxFlex="50"
          class="widget widget5"
          *ngFor="let poste of planTracking.dataInfos.datas.postes"
        >
            <div class="fuse-widget-front">
              
              <mat-grid-list cols="4" rowHeight="100px">
                  <mat-grid-tile>
                    <mat-grid-tile-header>{{poste.poste.label}}</mat-grid-tile-header>
                    <div class="mat-grid-header-height">
                      global
                    </div>
                  </mat-grid-tile>
                  
                  <mat-grid-tile>
                    <mat-grid-tile-header></mat-grid-tile-header>
                    <ngx-gauge 
                      size = 80
                      class="mat-grid-header-height"
                      [type]="gaugeType" 
                      [value]="poste.gaugeValue"
                      [label]="gaugeLabel"  
                      [append]="gaugeAppendText"
                      thick=10
                      foregroundColor="rgba(0, 150, 136, 1)"
                      backgroundColor = "rgba(0, 0, 0, 0.1)"
                      duration=2500
                      [thresholds]="poste.poste.id==1 ? thresholdConfig1 : poste.poste.id==2 ? thresholdConfig2 : thresholdConfig3"
                    >
                    <ngx-gauge-value style="font-size: 11px;font-weight: bold;">
                        {{ poste.gaugeValue  }} %
                      </ngx-gauge-value>
                    </ngx-gauge>

                  </mat-grid-tile>
                  
                  <mat-grid-tile>
                      <mat-grid-tile-header>Réel</mat-grid-tile-header>
                      <button class="mat-grid-header-height"
                        mat-stroked-button
                        color="accent"
                        style="width: 85%;font-size: 11px;font-weight: bold;"
                      >
                        {{ poste.amountReal}} €
                      </button>
                  </mat-grid-tile>
                  
                  <mat-grid-tile>
                    <mat-grid-tile-header>Prévu</mat-grid-tile-header>
                    <button class="mat-grid-header-height"
                      mat-stroked-button
                      color="accent"
                      style="width: 85%;font-size: 11px;font-weight: bold;"
                    >
                      {{ poste.amountPreview}} €
                    </button>
                    <!-- <mat-form-field appearance="outline" floatLabel="always" color="accent">
                          <input matInput [value]="poste.amountPreview">
                          <mat-icon matSuffix>euro_symbol</mat-icon>
                      </mat-form-field> -->
                  </mat-grid-tile>
             
              </mat-grid-list>
              <!-- </div> -->

              <!-- <mat-grid-list cols="4" rowHeight="40px">
                  <mat-grid-tile [rowspan]="2">1</mat-grid-tile>
                  <mat-grid-tile [rowspan]="2">2</mat-grid-tile>
                  <mat-grid-tile>3</mat-grid-tile>
                  <mat-grid-tile>4</mat-grid-tile>
                  <mat-grid-tile>
                      <mat-grid-list cols="2" rowHeight="40px">
                          <mat-grid-tile>5</mat-grid-tile>
                          <mat-grid-tile>55</mat-grid-tile>
                      </mat-grid-list>
                  </mat-grid-tile>
                  <mat-grid-tile>6</mat-grid-tile>
              </mat-grid-list> -->

              <!-- [labels]="widget.labels"
              [options]="widget.options"
                (chartClick)="onSelect($event)" -->
              <!-- <canvas #baseChart="base-chart" baseChart
                    [datasets]="grap.datasets"
                    [options] = "grap.options"
                    [chartType]="grap.chartType">
              </canvas> -->



              <div *ngFor="let planPoste of poste.planPostes">
                
                <mat-grid-list cols="4" rowHeight="50px">
                    <mat-grid-tile >
                        {{planPoste.label}}
                    </mat-grid-tile>

                    <mat-grid-tile >
                      <!-- <canvas matTooltip="TESSSS" class="progress-medium"
                        #baseChart="base-chart" baseChart
                        [datasets]  = getDataSet(planPoste.gaugeValue)
                        [options]   ="grap.options"
                        [colors]    ="grap.colors"
                        [chartType] ="grap.chartType">
                      </canvas>   -->
                      
                      
                      <ngx-gauge 
                        size = 50
                        class="gauge-width"
                        [type]="gaugeType" 
                        [value]="planPoste.gaugeValue" 
                        [label]="gaugeLabel"  
                        [append]="gaugeAppendText"
                        thick=5
                        foregroundColor="rgba(0, 150, 136, 1)"
                        backgroundColor = "rgba(0, 0, 0, 0.1)"
                        duration=2500
                        [thresholds]="poste.poste.id==1 ? thresholdConfig1 : poste.poste.id==2 ? thresholdConfig2 : thresholdConfig3"
                      >
                        <ngx-gauge-value style="font-size: 11px;font-weight: bold;">
                          {{ planPoste.gaugeValue  }} %
                        </ngx-gauge-value>
                      </ngx-gauge>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <button 
                          mat-stroked-button
                          color="accent"
                          style="width: 85% !important; font-size: 11px; font-weight: bold;"
                          (click)="GetAmountReal(planTracking.filter.monthYear,planPoste.idPlanPoste,poste.poste.id,planTracking.dataInfos.datas.plan.id)"
                        >
                          {{ planPoste.amountReal }} €
                        </button>
                    </mat-grid-tile>

                    <mat-grid-tile>
                      <button 
                        mat-stroked-button
                        color="accent"
                        matBadge="a" matBadgeSize="small" matBadgePosition="before" matBadgeColor="warn"
                        [matBadgeHidden]="!planPoste.isAnnualPreview"
                        style="width: 85% !important; font-size: 11px; font-weight: bold;"
                        (click)="GetAmountPreviewForPlanPosteList(planPoste.idPlanPoste,poste.poste.id,planTracking.dataInfos.datas.plan.id)"
                      >
                        {{ planPoste.amountPreview }} €
                      </button>
                    </mat-grid-tile>

                    <!-- <mat-grid-tile>
                        <div 
                          style="font-size: 9px;"
                          *ngFor="let planPosteUser of planPoste.planPosteUsers"
                        >
                        {{ planPosteUser.firstName }}
                        </div>
                    </mat-grid-tile>
                    
                    <mat-grid-tile>
                      6
                    </mat-grid-tile> -->
                </mat-grid-list>

                <div 
                  style="font-size: 9px;"
                  *ngFor="let planPosteUser of planPoste.planPosteUsers"
                >
                  <mat-grid-list cols="4" rowHeight="20px">
                      <mat-grid-tile></mat-grid-tile>
                      <mat-grid-tile></mat-grid-tile>
                      <mat-grid-tile style="width: 85% !important; font-size: 11px; font-weight: bold;">part de: {{ planPosteUser.firstName }}</mat-grid-tile>
                      <mat-grid-tile>
                          
                          
                          <mat-progress-bar 
                            class="green-progress"
                            height="20px"
                            style="width: 85% !important; font-size: 11px; font-weight: bold; cursor:pointer;"
                            mode="determinate" 
                            [value]="planPosteUser.percentagePart"
                            matTooltip='{{planPosteUser.percentagePart}} % reel: {{planPosteUser.amountReal}} € / prévu: {{planPosteUser.amountPreview}}'>
                          </mat-progress-bar>
                        
                      </mat-grid-tile>
                  </mat-grid-list>
                </div>
              </div>



            </div>

            
        </fuse-widget>

</div>


          </div>
      </div>
  </div>
