.mat-tab-group {
    height: 100% !important;

    .mat-tab-body-wrapper {
        height: 100% !important;

    }
}

// .mat-tab-body-wrapper {
//     // height: 100% !important;
//     // max-height:100% !important;
//     // min-height:100% !important;
//     overflow:auto;
// }

// .mat-tab {
//     height: 100% !important;
//     max-height:100% !important;
// }

.mat-tab-body-content {
    overflow: hidden !important;
}