<mat-tab-group (selectedTabChange)="onTabChanged($event)">
    <mat-tab  *ngFor="let asifState of asifStates" [label]="asifState.label">
        
        <mat-table class="import-statement-histo-table"
            #table [dataSource]="dataSource"
            [@animateStagger]="{value:'50'}"
            matSort matSortActive="id" matSortDirection="asc" matSortDisableClear 
            (matSortChange)="onSortChangeEvent($event)"
        >
            <!-- Operation -->
            <ng-container matColumnDef="id" >
                <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                <mat-cell *matCellDef="let data">
                    <p class="text-truncate">{{data.id}}</p>
                </mat-cell>
            </ng-container>
            

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            
            <mat-row *cdkRowDef="let data; columns: displayedColumns;"
                (click)="onRowClick(data)"
                matRipple
                [@animate]="{value:'*',params:{y:'100%'}}">>
            </mat-row>
        </mat-table>
            
        <mat-paginator 
            (page)="onPageChangeEvent($event)"
            [length]="pagination?.totalItems" 
            [pageSize]="pagination?.itemsPerPage"
            [pageSizeOptions]="[3, 5, 10]">
        </mat-paginator>
    </mat-tab>
</mat-tab-group>