<mat-table-filter 
    [filterSelection$] = "asiTableFilterSelection$"
    [filterSelected$] = "asiTableFilterSelected$"
    [table$] = "asiTable$"
    [columns] = "columns"
    (onRowClick) = "onRowClick($event)"
    (changeFilterSelected)="applyFilterSelected($event)"
    (changeFilterSelection)="applyFilterSelection($event)">
</mat-table-filter>

<!-- <mat-table-filter 
    [filterSelection$] = "asiTableFilter$"
    [table$] = "asiTable$"
    [columns] = "columns"
    (onRowClick) = "onRowClick($event)"
    (changeFilter)="applyFilter($event)">
</mat-table-filter> -->

