<div id="users" class="page-layout carded fullwidth inner-scroll" >

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent"
            fxLayout="column" fxLayoutAlign="center center"
            fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo my-12 m-sm-0"
                fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">account_box</mat-icon>
                <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Utilisateurs</span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <!-- <div class="search-input-wrapper mx-12 m-md-0" [formGroup]="formSearch"
                fxFlex="0 0 80px" fxLayout="row" fxLayoutAlign="end center">
                <label for="search" class="mr-8">
                    <mat-icon class="secondary-text">search</mat-icon>
                </label>
                <mat-form-field floatPlaceholder="never" >
                    <input id="search" matInput placeholder="Recherche"
                        formControlName="keyword"
                    >
                </mat-form-field>
            </div> -->
            <!-- / SEARCH -->

            <!-- <button mat-raised-button
                    [routerLink]="'/apps/e-commerce/products/new'"
                    class="add-product-button mat-white-bg my-12 mt-sm-0">
                <span>ADD NEW PRODUCT</span>
            </button> -->

        </div>
        
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">
            <div class="example-container">
                <mat-table-filter 
                    [observableFilter] = "userTableFilter$"
                    [observableTable] = "userTable$"
                    [columns] = "columns"
                    (onRowClick) = "onRowClick($event)"
                    (changeFilter)="applyFilter($event)">
                </mat-table-filter>
            
            <!-- 
              <mat-table class="users-table"
                #table [dataSource]="dataSource"
                [@animateStagger]="{value:'50'}"
                matSort matSortActive="id" matSortDirection="asc" matSortDisableClear
                fusePerfectScrollbar>


                <ng-container matColumnDef="id" >
                    <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:0 0 80px;">ID</mat-header-cell>
                    <mat-cell *matCellDef="let user" style="flex:0 0 80px;">
                        <p class="text-truncate">{{user.id}}</p>
                    </mat-cell>
                </ng-container>
                    

             
                <ng-container cdkColumnDef="avatar" >
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header style="flex:0 0 80px;">avatar</mat-header-cell>
                    <mat-cell *cdkCellDef="let user" style="flex:0 0 80px;">
                        <img class="avatar" *ngIf="user.avatarUrl" [src]="user.avatarUrl">
                        <img class="avatar" *ngIf="!user.avatarUrl" [src]="'assets/images/avatars/profile.jpg'">
                    </mat-cell>
                </ng-container>

     
                <ng-container matColumnDef="lastName" >
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Prénom</mat-header-cell>
                    <mat-cell *matCellDef="let user">
                        <p class="text-truncate">{{user.lastName}}</p>
                    </mat-cell>
                </ng-container>


                <ng-container matColumnDef="firstName" >
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nom</mat-header-cell>
                    <mat-cell *matCellDef="let user">
                        <p class="text-truncate">{{user.firstName}}</p>
                    </mat-cell>
                </ng-container>

   
                <ng-container matColumnDef="userName" >
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Pseudonyme</mat-header-cell>
                    <mat-cell *matCellDef="let user">
                        <p class="text-truncate">{{user.userName}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="button" >
                    <mat-header-cell style="flex:0 0 30px;"  *matHeaderCellDef ></mat-header-cell>
                    <mat-cell style="flex:0 0 30px;" *matCellDef="let user">
                            <button 
                                matTooltip="Détail" 
                                mat-icon-button 
                                [routerLink]="['/apps/referential/users/', user.id]"
                            >
                                <mat-icon>more_horiz</mat-icon>
                            </button>
                    </mat-cell>
                </ng-container> 

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    
                <mat-row *cdkRowDef="let user; columns: displayedColumns;"
                    class="user"
                    matRipple
                >
                </mat-row>
            </mat-table>
            <div *ngIf="(userTable$ | async).loader['datas'].loading"
                class="h-96 w-100-p"
                fxLayout="column"
                fxLayoutAlign="center center">
                <mat-spinner diameter="40" color="accent" fxLayout="row"></mat-spinner>
                <div style="color:#4285F3" fxLayout="row">chargement...</div>
            </div> 

            <mat-paginator *ngIf="(userTableFilter$ | async).filters && (userTableFilter$ | async).filters.selected.pagination; let pagination"
                (page)="onPageChangeEvent($event)"
                [length]="pagination.totalItems" 
                [pageSize]="pagination.nbItemsPerPage"
                [pageSizeOptions]="[15, 100, 200]">
            </mat-paginator>
-->

        </div> 



        </div> 
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
