// Import Fuse core library
@import "@fuse/scss/core";

// Import app.theme.scss
@import "app/app.theme";


.parachute_32 {
    background-image: url("assets/icons/parachute_32.png");
    background-repeat: no-repeat;
    height:32px;
    width:32px;
}

.empty-result {
    text-align:center;
    color:#4285F3;
}